
//Hide original orders link
.vtex-my-account-1-x-menuLinks a[href="#/orders"] {
    display: none;
}

//Order of menu. we move every element that is below the original order down for the custom link to go up
.vtex-my-account-1-x-menuLinks :nth-child(4) { 
    order: 1; 
}

.vtex-my-account-1-x-menuLinks :nth-child(5) { 
    order: 2; 
}

.vtex-my-account-1-x-menuLinks :nth-child(6) { 
    order: 3; 
}