@import '../../references';

.vtex-stores-stock {
    position: relative;
    
    button {
        background: none;
        outline: none;
        appearance: none;
        padding: 0;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #398132;
        border: solid thin;
        padding: 10px;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
    }
    .vtex-modal-stores {
        position: fixed;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid thin $light-gray-3;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        width: 90%;
        height: auto;
        min-height: 50%;
        max-height: 80%;
        padding: 1rem;
        margin-top: 0;
        box-sizing: border-box;
        @media screen and (min-width: 768px) {
            width: 70%;
            max-height: 70%;
            padding: 2rem;
        }
        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: $light-gray-2;
            border: 0px none #ffffff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #ffffff;
        }
        &::-webkit-scrollbar-thumb:active {
            background: #000000;
        }
        &::-webkit-scrollbar-track {
            background: $gray;
            border: 0px none #ffffff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-track:hover {
            background: $gray;
        }
        &::-webkit-scrollbar-track:active {
            background: $dark-gray;
        } 
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
        .vtex-header-stores {
            width: 100%;
            position: relative;
            padding-top: 20px;
            .vtex-title-header {
                width: 100%;
                position: sticky;
                top: 0;
                display: flex;
                flex-wrap: wrap;
                border-bottom: solid thin $light-gray;
                padding: 20px 0;
                margin-bottom: 20px;
                background: #fff;
                z-index: 1000;
            }
            h3 {
                font-size: 1rem;
                @media screen and (min-width: 640px){
                    font-size: 1.5rem;
                }
            }
            span {
                margin: 0 auto;
                user-select: none;
                font-size: 1.25rem;
                cursor: pointer;
                font-weight: bold;
            }
            .vtex-skuSelector-stores {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media screen and (min-width: 640px) {
                    flex-direction: row;       
                }
                .vtex-selected-item-img {
                    @media screen and (min-width: 640px) {
                        width: 40%;
                    }
                    img {
                        width: 100%;
                    }
                }
                .vtex-selected-item-details {
                    display: flex;
                    flex-direction: column;
                    @media screen and (min-width: 640px) {
                        width: 55%;
                        margin-left: auto;
                    }
                }
                .close-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                  }
                .vtex-selected-item-talles {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 1rem 0;
                    .vtex-btn-stores {
                        $size: 52px;
                        width: calc(20% - 5px);
                        height: $size;
                        margin: 5px 5px 5px 0;
                        line-height: 1;
                        display: flex;
                        cursor: pointer;
                        border: 1px solid $light-gray;
                        @media screen and (min-width: 1026px) {
                          width: calc(12.5% - 5px);
                        }
                        span {
                            display: block;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: normal;
                            line-height: 16.1px;
                            text-size-adjust: 100%;
                            text-transform: none;
                            white-space: nowrap;
                            margin: auto;
                        }
                    }
                    .vtex-btn-stores:hover,
                    .vtex-btn-stores.selected {
                        background: $green;
                        color: #fff;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
        .vtex-body-stores {
            margin-top: 20px;
            padding-top: 20px;
            border-top: solid thin $light-gray;
            .vtex-result-stores {
                display: flex;
                flex-direction: column;
                .vtex-store {
                    width: 100%;
                    display: flex;
                    margin-bottom: 30px;
                    .vtex-column-details {
                        width: auto;
                        margin: auto;
                        margin-left: 0;
                        h3 {
                            font-size: 1.5rem;
                            text-transform: uppercase !important;
                            margin: 0;
                        }
                        p {
                            color: #00000080;
                            margin: 0;
                            &.vtex-muchas {
                                color: #008809;
                            }
                            &.vtex-pocas {
                                color: #ffcc00;
                            }
                            &.vtex-no-stock {
                                color: #bf0000;
                            }
                        }
                    }
                    .vtex-column-map {
                        width: auto;
                        margin: auto;
                        margin-right: 0;
                        a {
                            display: flex;
                            flex-direction: column;
                            color: #000;
                            text-decoration: none;
                            text-transform: lowercase;
                            font-size: 0.7rem;
                            img {
                                width: 30px;
                                margin: auto;
                            }
                            span {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .vtex-error-stores {
            text-align: center;
            color: #bf0000;
        }
        .vtex-button-search-stores {
            margin-top: auto;
            background-color: $green;
            box-sizing: border-box;
            color: #3b3b3b;
            display: block;
            font-size: 16px;
            font-stretch: 100%;
            font-style: normal;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 16px;
            padding-bottom: 12.5px;
            padding-left: 12.5px;
            padding-right: 12.5px;
            padding-top: 12.5px;
            position: relative;
            text-align: center;
            text-indent: 0px;
            text-rendering: auto;
            text-shadow: none;
            text-size-adjust: 100%;
            text-transform: uppercase;
            word-spacing: 0px;
            writing-mode: horizontal-tb;
            text-decoration: none;
            color: #fff;
        }
    }
    .vtex-bg-modal {
        background: #00000080;
        z-index: 999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.vtex-close-modal {
    position: absolute;
    right: 0;
    background: #fff;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    user-select: none;
    span {
        margin: auto;
        font-weight: 700;
    }
}
/*# sourceMappingURL=StockTiendas.global.css.map */