.custom-sticky-buy-now-button {
    position: fixed!important;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 199999999;
    border-top: 1px solid black;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    background: white;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px!important;
  .vtex-button{
        max-width: 160px;
        background-color: #fff;
        border: 1px solid #004714;
        color: #004714;
        border-style: solid!important;
        @media all and (min-width: 400px) {
            max-width: none;
        }
    }

    .vtex-flex-layout-0-x-flexRowContent--rowBuyButton{
        width: 96%;
    }
}
