.download-print{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    img{
        width: 100%;
        max-width: 40px;
        cursor: pointer;
        @media(min-width:1024px){
            margin-top: 1.85em;
        }
    }
    button{
        border: none;
        padding: 0;
        background-color: transparent;
    }
}