@import '../../references';

.discount-block {
    width: auto;
    display: inline-block;
    margin: 10px 0 0px;
}
.discount_percent {
    background: #a62e33;
    display: flex;
    padding: 5px 10px;

    span {
        margin: auto;
        color: #fff;
        font-size: 16px;
    }
}