@import '../../references';

.PedidosAnteriores {

    a {
        color: #727273;
        cursor: pointer;
    }

    p {
        padding-top: 10px;
    }

    @media all and (max-width: 768px) {
        width: 100%;
    }

    .headerPedidos {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        box-sizing: border-box;
        background: #fff;
        border-bottom: solid thin #ccc;

        .title {
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        a {
            padding: 10px;
            color: $green;
            text-decoration: none;
            border: solid thin $green;
            margin-left: 10px !important;

            &:hover {
                background: $green;
                color: #fff;
            }
        }

        .cerrar-modal {
            padding: 10px;
            text-decoration: none;
            border: solid thin $red;
            background: $red;
            color: #fff;
            cursor: pointer;

            &:hover {
                background: none;
                color: $red;
            }
        }

        .title,
        a {
            margin: auto 0;
        }
    }

    .btn.btn-cerrar {
        position: absolute;
        top: 100%;
        width: 100%;
        text-align: center;
    }

    .pedido {
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        &:nth-child(even) {
            background: #f9f9f9;
        }

        .titulo {
            font-weight: 600;
        }

        .content {
            margin-top: 5px;
            font-size: 0.875rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }
}

@media (max-width: 768px) {
    .vtex-account .PedidosAnteriores {
        div {
            display: flex;
            flex-direction: column;
    
            a,
            h3 {
                margin-bottom: 10px !important;
            }
        }
    }
}