@import './colors';

.heading {
  &--cda-section-title {
    color: $PrimaryColor;
    .link {
      &--cda-section-title {
        color: $PrimaryColor;
      }
    }
  }
}
.wrapper {
  .headingLevel1 {
    &--cda-title {
      font-weight: 500;
    }
  }
}
.paragraph {
  &--cda-contacto-info {
    .link {
      color: $PrimaryColor;
    }
  }
}