@import './colors';
.trigger {
  &--cda-disclosure-trigger {
    background: $PrimaryColor;
  }
}
.content {
  &--cda-disclosure-content {
    :global(.vtex-tab-layout-0-x-listItem) {
      :global(.vtex-button) {
        color: $PrimaryColor;
      }
      &:hover {
        :global(.vtex-button) {
          color: $PrimaryColor;
        }
      }
    }
  }
}