@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
@import '../../references';

.col {
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-row {
  display: row;
}

.flex-column {
  display: column;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.searchbar{
  justify-content: flex-end;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 0.125em;
  padding-left: 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z'/%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0.24em center;
  display: flex;
  flex: 2 1 100%;
  outline: none;
}

.searchbar{
  @media (max-width: 767px) {
    height: 38px;
    display: flex;
    align-items: center;
  }
}

.searchbar input[type=search]{
  border: 0;
  padding: 0;
  width:100%;
  outline: none;
  @media (max-width: 767px) {
    height: 38px;
  }

}

.searchbar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-left: .2em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
  transform: scale(.75)
}

.searchbar button[type=reset]{
  border: 0;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #000; 
  background-color: transparent; 
  outline: none;

}
.searchbar input[type=search]:placeholder-shown ~ button[type=reset]{
  display: none;
}


.listLocales.col ul:empty {
  padding: 0;
}

.listLocales.col ul:empty:before {
  content: 'No hay tiendas disponibles';
  text-align: center;
}

.flex-spacebetween{
  justify-content: space-between;
}

.header-results{
  gap: 1rem;
  @media (max-width: 767px) {
    gap: 0px;
    flex-wrap: wrap !important;

    h3{
      height:38px;
      display:flex;
      align-items:center;      
    }
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-none {
    display: none;
  }

  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .flex-lg-row {
    flex-direction: row;
  }

  .flex-lg-column {
    flex-direction: column;
  }

  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-none {
    display: none;
  }

  .flex-xl-row {
    flex-direction: row;
  }

  .flex-xl-column {
    flex-direction: column;
  }

  .container {
    width: 1140px;
  }
}

#mapa {
  margin: 3rem 0;
}

#mapa * {
  font-family: "Roboto", sans-serif;
}

#mapa li {
  list-style: none;
}

#mapa .col-md-6:last-child {
  padding-left: 0;
}

#mapa .col-md-6 .map {
  position: relative !important;
  height: 600px !important;
}

#mapa .col-md-6 .headerLocales {
  color: $dark-blue;
  padding-top: 20px;
  padding-bottom: 20px;

  .w-100 {
    h3 {
      color: #454444;
      padding: 0;
      margin: 0;
      font-family: 'GiraSans';
      text-transform: uppercase;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
}

#mapa .col-md-6 .listLocales {
  margin-top: 20px;
  max-height: 570px;
  overflow: auto;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-thumb {
  background: $light-gray-2;
  border: 0px none #ffffff;
  border-radius: 50px;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-thumb:active {
  background: #000000;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-track {
  background: $gray;
  border: 0px none #ffffff;
  border-radius: 50px;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-track:hover {
  background: $gray;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-track:active {
  background: $dark-gray;
}

#mapa .col-md-6 .listLocales::-webkit-scrollbar-corner {
  background: transparent;
}

#mapa .col-md-6 .listLocales ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#mapa .col-md-6 .listLocales ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

#mapa .col-md-6 .listLocales ul li .col-1 {
  padding: 0;
  display: flex;
}

#mapa .col-md-6 .listLocales ul li .col-1 img {
  width: 100%;
  margin: auto;
}

#mapa .col-md-6 .listLocales ul li h3 {
  font-size: 1rem;
  margin-bottom: 3.5px;
}

#mapa .col-md-6 .listLocales ul li p {
  font-size: 0.85rem;
}
@media screen and (max-width:768px){
  .headerLocales{
    padding:0;
  }  

  #mapa {
    margin-top: 1em;
  }
  #mapa .col-md-6 .listLocales {
    max-height: 50vh;
    margin-bottom: 2em;
  }

}


.listLocales input[type=radio] {
  display: none;
}

.listLocales .li-wrapper{
  display:flex;
  box-sizing:border-box;
  padding: 0rem 1rem;
}

.listLocales input[type="radio"]:checked ~ .li-wrapper{
  border: 1px solid #000;
}

@media screen and (max-width:768px){
  .headerLocales{
    padding:0;
  }  

  #mapa {
    margin-top: 1em;
  }
  #mapa .col-md-6 .listLocales {
    max-height: 50vh;
    margin-bottom: 2em;
  }

}


/*# sourceMappingURL=Locales.global.css.map */
