<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{_accountInfo.TradingName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
  <table  cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">
    <tr>
      <td>
        <table align="center"  cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr style="margin: 0; padding: 0;">
                <td style="margin: 0; padding: 0;margin:0 auto;text-align: center;">
                    <img src="https://rockfordcl.vteximg.com.br/arquivos/logo-mail.png" />
                </td>
              </tr>
          <tr>  
            <!-- Banda negra despacho gratis 
            <td style="height: 4px; width:100%; background-color: #fc0;">
              <!--<img src="http://i.embluejet.com/ImagenesMoxie/5589/images/Cumpleanos/cumple-inactivo_05.jpg" width="600"
                height="14" alt="" style="float: left;" />
            </td>-->
          </tr>

          <!-- Titulo del mensaje  -->

          <!-- Saltos de linea  -->
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
           <!-- Saltos de linea  -->
          <tr>
            <td style="text-align: center;">
                 <!--- AQUÍ VA EL BANNER CAMPAÑA 
            <br> <a href='https://www.rockford.cl'>
                <img src='https://s3.us-east-2.amazonaws.com/ecom-imagenes.forus-digital.xyz/CYBER/Cybermonday2020/RKF.jpg' />
            </a>  --->
              <span style="font-size: 25pt;">
                Confirmación de Pedido
              </span>
            </td>
          </tr>
           <!-- Saltos de linea  -->
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
           <!-- Saltos de linea  -->
          <tr>
            <td>
              <span style="font-size:16px;color:#BBB;">Realizado el: {{formatDate creationDate}}</span>
            </td>
          </tr>

          <!-- Saltos de linea  -->
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          
           <!-- Saltos de linea  -->

          <!-- Mensaje -->
          <tr>
            <td class="nombre-cliente" style="font-size:14px;">
              Hola
              <strong>{{clientProfileData.firstName}},</strong>
            </td>
          </tr>
          <tr>
            {{#eq shippingData.address.addressType "pickup"}}
                {{#eq shippingData.logisticsInfo.0.slas.0.deliveryIds.0.courierName "Sucursales y Agencias de Correos de Chile"}}
                <td style="font-size:14px;">
                    Gracias por comprar en nuestra tienda. Los detalles de tu pedido se encuentran a continuación.
                    Recibirás un nuevo e-mail cuando los productos esten listos para la entrega.
                    Recuerda que si compraste más de un producto, estos pueden ser despachados desde distintos orígenes, por lo que podrían llegar por separado y en diferentes días
                </td>
                {{else}}
                <td style="font-size:14px;">
                    Gracias por comprar en nuestra tienda. Los detalles de tu pedido se encuentran a continuación. <br/><br/>
                    <strong>Te enviaremos un nuevo e-mail cuando tu pedido esté listo para que lo retires en la tienda.</strong>
                </td>
                {{/eq}}
            {{else}}
            <td style="font-size:14px;">
                Gracias por comprar en nuestra tienda. Los detalles de tu pedido se encuentran a continuación.
                Recibirás un nuevo e-mail cuando los productos esten listos para la entrega.
                Recuerda que si compraste más de un producto, estos pueden ser despachados desde distintos orígenes, por lo que podrían llegar por separado y en diferentes días
            </td>
            {{/eq}}
          </tr>

          <tr><td><br/><p style="font-size:14px;">Puedes seguir el estado de tu pedido en nuestro sistema de <strong><a href="https://www.siguetucompra.cl/index.html"target="_blank" style="text-decoration:none;color:white;font-weight:900;background-color:black;padding:5px 10px;font-size:12px;"> Seguimiento de Compra.</a></strong></p</td></tr>

          <!-- Saltos de linea  -->
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
          <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
           <!-- Saltos de linea  -->

          <!-- Info Direccion -->
          <tr>
            <td class="innerpadding infoDireccion" style="font-size:14px;">
              {{#if giftRegistryData}}
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
              <strong style="text-decoration: underline">Dirección de entrega</strong>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
              {{giftRegistryData.description}}
            </td>
          </tr>
          {{else}}
          {{#eq shippingData.address.addressType "pickup"}}
            {{#eq shippingData.logisticsInfo.0.slas.0.deliveryIds.0.courierName "Sucursales y Agencias de Correos de Chile"}}
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Método de Entrega:</strong>
                <span>Retiro en sucursal de correo</span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Sucursal:</strong>
                <span>{{shippingData.logisticsInfo.0.slas.0.pickupStoreInfo.friendlyName}}</span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Dirección:</strong>
                <span>
                    {{shippingData.address.street}} {{shippingData.address.number}}
                    {{shippingData.address.complement}}
                    - {{shippingData.address.neighborhood}}
                    {{shippingData.address.city}} {{shippingData.address.state}}
                    {{shippingData.address.postalCode}}
                </span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Persona que retira:</strong>
                <span>{{shippingData.address.receiverName}}</span>
            </td>
          </tr>
          {{else}}
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Método de Entrega:</strong>
                <span>Retiro en tienda</span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Tienda:</strong>
                <span>{{shippingData.logisticsInfo.0.slas.0.pickupStoreInfo.friendlyName}}</span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Dirección:</strong>
                <span>
                    {{shippingData.address.street}} {{shippingData.address.number}}
                    {{shippingData.address.complement}}
                    - {{shippingData.address.neighborhood}}
                    {{shippingData.address.city}} {{shippingData.address.state}}
                    {{shippingData.address.postalCode}}
                </span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Persona que retira:</strong>
                <span>{{shippingData.address.receiverName}}</span>
            </td>
          </tr>
          {{/eq}}
          {{else}}
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Método de Entrega:</strong>
                <span>Despacho a domicilio</span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
              <strong style="text-decoration: underline">Dirección de Entrega:</strong>
              <span>
                {{shippingData.address.street}} {{shippingData.address.number}}
                {{shippingData.address.complement}}
                - {{shippingData.address.neighborhood}}
                {{shippingData.address.city}} {{shippingData.address.state}}
                {{shippingData.address.postalCode}}
            </span>
            </td>
          </tr>
          <tr>
            <td class="infoCompra-txt" style="font-size:14px;">
                <strong style="text-decoration: underline">Persona que recibe:</strong>
                <span>{{shippingData.address.receiverName}}</span>
            </td>
          </tr>
          {{/eq}}
          {{/if}}
      </td>
    </tr>
    <!-- Cierre info despacho -->
    <!-- Info pedido/fecha/medio pago de la compra/ -->

    <!-- Saltos de linea  -->
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
     <!-- Saltos de linea  -->

    <tr>
      <td>

    <tr>
      <td class="infoCompra-txt" style="font-size:14px;">
        <strong style="text-decoration: underline">Detalles del pedido</strong>
      </td>
    </tr>
    <tr>
      <td class="infoCompra-txt" style="font-size:14px;">
        <span>Pedido nº:</span>
        <strong>{{orderId}}</strong>
      </td>
    </tr>
    <tr>
      <td class="infoCompra-txt" style="font-size:14px;">
        <span>Pedido entregado por:</span>
        <strong>{{shippingData.logisticsInfo.0.selectedSla}}</strong>
      </td>
    </tr>
    <tr>
      <td class="infoCompra-txt" style="font-size:14px;">
        <span>Medio de Pago:</span>

        {{#each paymentData.transactions}}

        {{#each payments}}


        <strong>{{paymentSystemName}}</strong>
        {{#if lastDigits}} final {{lastDigits}} {{/if}}



        <span>Monto:</span>
        <strong>$ {{formatCurrencyWithoutDecimals value}} </strong>
        {{#eq installments 1}}
        {{else}}
        (en {{installments}}x)
        {{/eq}}


        {{/each}}

        {{/each}}


      </td>
      
    </tr>

    </td>
    </tr>
    <!-- /.fin Info pedido/fecha/medio pago de la compra/ -->
    <!-- Saltos de linea  -->
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
     <!-- Saltos de linea  -->
     <tr style="display: inline; text-align: center;">
        <td style="max-width: 33%;">
            <strong style="font-size:16px; color:#CCC;">✓</strong>
            <strong style="font-size:14px; color:#CCC;">PEDIDO REALIZADO</strong>
          </td>
          <td style="max-width: 33%;">
              <strong style=" font-size:16px; color:#51bc00;">✓</strong>
              <strong style="font-size:14px; color:#51bc00;">PAGO CONFIRMADO</strong>
            </td>
            <td style="max-width: 33%;">
                <strong style="font-size:16px; color:#BBB">✓</strong>
                <strong style="font-size:14px; color:#BBB">PEDIDO PREPARADO</strong>
              </td>
            </tr>
            <!-- Saltos de linea  -->
            <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
            <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
            <!-- Saltos de linea  -->
    <tr>
      <td class="innerpadding2 productosDespacho" valign="middle">

        {{#each items}}
        <!-- Pago aprobado -->
      </td>
    </tr>    
    <tr>
      <td class="imagen" height="50"  valign="middle" style="font-size:14px;">
        <a href="https://www.rockford.cl{{detailUrl}}" style="text-decoration: none;">
          <img src="{{imageUrl}}" alt="{{name}}" width="auto" height="100">
        </a>
      </td>
    </tr>
    <!-- Saltos de linea  -->
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
     <!-- Saltos de linea  -->
    <tr>
      <td height="10" valign="middle"></td>
    </tr>

    <tr>
      <td class="info" height="50"  valign="middle" style="font-size:14px;">
        <a href="https://www.rockford.cl{{detailUrl}}" class="name" style="text-decoration: none; color: #000000; font-weight: bold;">{{name}}</a>
      </td>
    </tr>


    <tr>
      <td class="infoEntrega-txt" style="font-size:14px;">
        <!-- AQUI VIENE EL IF DE FECHAS DE ENTREGA-->

        Entrega
        {{#each ../shippingData.logisticsInfo}}
        {{#eq itemId ../id}}
        {{#each slas}}
        {{#eq ../selectedSla id}}
        {{#if deliveryWindow}}
        agendada entre

        <strong>
          {{formatDateTime deliveryWindow.startDateUtc}} a
          {{formatDateTime deliveryWindow.endDateUtc}} </strong>
        {{else}}


        <span style="display:inline-block;">
          {{#unless shippingEstimateDate}}


          </strong> hasta

          <strong>
            {{#hasSubStr shippingEstimate 'bd'}}
            {{replace shippingEstimate 'bd' ' días hábiles.'}}
            {{else}}
            {{replace shippingEstimate 'd' ' días.'}}
            {{/hasSubStr}}
            {{else}}
          </strong> estimada

          <strong>
            {{#hasSubStr shippingEstimate 'bd'}}
            {{replace shippingEstimate 'bd' ' días hábiles.'}}
            {{else}}
            {{replace shippingEstimate 'd' ' días.'}}
            {{/hasSubStr}}
            {{/unless}}
          </strong>
          {{/if}}
          {{/eq}}
          {{/each}}
          {{/eq}}
          {{/each}}



      </td>
    </tr>

    <tr>
      <td height="10" valign="middle"></td>
    </tr>


    <tr>
      <td class="price" height="50" valign="middle">
        {{quantity}} X


        <span class="value" style="color: #EC2028; font-weight: bold;">$
          {{formatCurrencyWithoutDecimals sellingPrice}}</span>
      </td>
    </tr>

    {{/each}}
    <!-- Saltos de linea  -->
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
    <!-- Saltos de linea  -->
    <!-- TOTAL -->
    <tr>
        <td class="innerpadding innerpadding-border productosTotal" style="border-top: 1px solid #f2eeed; border-bottom: 1px solid #f2eeed;">
          <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px;">
            <tbody>
          {{#each totals}} {{#if value}}
          
                      
              <tr>
                <td valign="top" align="right" style="color:#2a2f32;">
              {{#eq id "Items"}}Items{{/eq}} {{#eq id "Shipping"}}Entrega{{/eq}} {{#eq id
              "Discounts"}}Descuentos{{/eq}} {{#eq id "Tax"}}Taxas{{/eq}}
              {{#eq id "Change"}}Alterações{{/eq}}
            </td>
                <td valign="top" align="right" style="text-align:left;">
              $ {{formatCurrencyWithoutDecimals value}}
            </td>
              </tr>
          {{/if}} {{/each}} {{#if value}}
          
                      
              <tr>
                <td valign="top" align="right" style="color:#EC2028; font-weight:bold;">
              Total
            </td>
                <td valign="top" align="right" style="color:#EC2028; font-weight:bold; text-align:left;">
              $ {{formatCurrencyWithoutDecimals value}}
            </td>
              </tr>
          {{/if}}
        
                    
            </tbody>
          </table>
        </td>
      </tr>
    <!-- Cierre total -->
    <tr>
        <td>
          <table style="width: 100%;"><tr><td style="border-top: 2px solid #333333;"></td></tr></table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 30px;background-color: #FFFFFF; width: 100%">
              <tr>
                <td align="center">
                  <span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 16px;font-weight: 700;color: black;line-height: 20px;"> </br>
             <a style="color: black!important;font-weight:700;" href='http://ecom-imagenes.forus-digital.xyz.s3.amazonaws.com/Landings/cambiosydev/Instructivo_Cambios_VTEX.jpg'; target='_blank'>Si quieres realizar un CAMBIO o DEVOLUCIÓN   descarga acá el paso a paso.</a>
                </td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;"><tr><td style="border-top: 2px solid #333333;"></td></tr></table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 20px;background-color: #FFFFFF; width: 100%">
              <tr>
                <td align="center">
                  <span style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 11px;font-weight: 500;color: black;line-height: 14px;">
                  El plazo indicado para el envío de los paquetes debe ser considerado sólo luego de recibir la confirmación del pedido.<br /><br />
                  Si tienes alguna consulta o duda respecto a tu orden visita a nuestro centro de ayuda,<br />
                  escríbenos Aquí o llamanos al +562 28203067<br />
                  Nuestro horario de atención es de Lunes a Viernes de 9:00 a 19:00 hrs.</span>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%; background-color: #2b2b2b; padding: 20px">
                <tr>
                    <td width="20"></td>
                    <td align="center"><span style="font-size: 10px; line-height: 14px; font-weight: 600px; font-family: 'Trebuchet MS', Helvetica, sans-serif;text-decoration: none;color: #FFFFFF;"> ¡Síguenos en nuestras redes sociales!</span>
                        <br /><br />
                         <a href="https://www.facebook.com/Rockford-Chile-1378094072411167" target="_blank"><img src="https://rockfordcl.vteximg.com.br/arquivos/1.jpg?v=12" alt="FB" width="30" height="30" /></a>&nbsp;
                        <a href="https://www.instagram.com/rkfoutdoor" target="_blank"><img src="https://rockfordcl.vteximg.com.br/arquivos/2.jpg?v=12" alt="IG" width="30" height="30" /></a>
                            
                        </td>


                    <td width="20"></td>
                </tr>
            </table>
        </td>
    </tr>
    
    
    </td>
    </tr>

  </table>
  </td>
  <!-- Cuerpo del mensaje -->
  </tr>
  </table>
</body>

</html>