// Filter Colors
$amarillo-cf: #FFFF00;
$azul-cf: #4472C4;
$azul-marino-cf: #305496;
$beige-cf: #FFFFD5;
$blanco-cf: #FFF;
$cafe-cf: #7A5128;
$calipso-cf: #00FFFF;
$gris-cf: #A5A5A5;
$morado-cf: #800080;
$naranjo-cf: #ED7D31;
$negro-cf: #000;
$rojo-cf: #CC0000;
$rosado-cf: #FFCCCC;
$verde-cf: #339933;
$transparente-cf: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(205, 205, 205, 1) 50%, rgba(255, 255, 255, 1) 100%);
$multicolor-cf: linear-gradient(180deg, red, rgba(0, 255, 0, .7) 50%, #00f);

// Mixin for background colors
@mixin colorFilter($color) {
  background: $color;
}

// Inicio Filtro Color
.accordionFilterOpen--filterNavigator--grupo-color,
.filter__container--grupo-color {

  .filterAccordionItemBox,
  .filterItem {
    width: 35px;
    height: 25px;
    border: 1px black solid;
    font-size: xx-small;
    margin: 5px 5px 10px 0;
    padding-left: 1px;
    text-indent: -100000%;
    min-height: 0;
    @media all and (max-width: 1024px) {
        width: 45px;
        height: 35px;
    }
    &--amarillo {
      @include colorFilter($amarillo-cf);
    }

    &--azul {
      @include colorFilter($azul-cf);
    }

    &--azul-marino {
      @include colorFilter($azul-marino-cf);
    }

    &--beige {
      @include colorFilter($beige-cf);
    }

    &--blanco {
      @include colorFilter($blanco-cf);
    }

    &--cafe {
      @include colorFilter($cafe-cf);
    }

    &--calipso {
      @include colorFilter($calipso-cf);
    }

    &--gris {
      @include colorFilter($gris-cf);
    }

    &--morado {
      @include colorFilter($morado-cf);
    }

    &--naranjo {
      @include colorFilter($naranjo-cf);
    }

    &--negro {
      @include colorFilter($negro-cf);
    }

    &--rojo {
      @include colorFilter($rojo-cf);
    }

    &--rosado {
      @include colorFilter($rosado-cf);
    }

    &--verde {
      @include colorFilter($verde-cf);
    }

    &--multicolor {
      @include colorFilter($multicolor-cf);
    }

    &--transparente {
      @include colorFilter($transparente-cf);
    }

    :global(.vtex-checkbox__container) {
      display: none;
    }

    :global(.vtex-checkbox__line-container) {
      width: 100%;
      height: 100%;
    }
  }
}

// Desktop
.filter__container--grupo-color {
.filterContent {
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3px;
  }
}

// Mobile
.accordionFilterOpen--filterNavigator {
    overflow-x: hidden;
    overflow-y: auto;
}
