.vtex-menu-2-x-styledLinkContainer {
    .vtex-menu-2-x-styledLinkContent {
        transition: all 0.2s ease-in-out;
    }
    &.active--genero {
        background: #00471B;

        .vtex-menu-2-x-styledLinkContent {
            color: #fff !important;
        }
    }
}

.vtex-menu-2-x-styledLinkContainer {
    .vtex-menu-2-x-styledLinkContent {
        transition: all 0.2s ease-in-out;
    }

    &.active--tallas {
        background: #00471B;

        .vtex-menu-2-x-styledLinkContent {
            color: #fff!important;
        }
    }
}

.vtex-menu-2-x-styledLinkContainer {
    .vtex-menu-2-x-styledLinkContent {
        transition: all 0.2s ease-in-out;
    }

    &.active--similar {
        background: #00471B;

        .vtex-menu-2-x-styledLinkContent {
            color: #fff!important;
        }
    }
}
.vtex-rich-text-0-x-link--btn-ver-resultados[disabled="disabled"] {
    color: #fff !important;
    background-color: #00471B;


    &:hover {
        cursor: not-allowed;
    }
}

.msg-error {
    background: #fecbcb;
    border: 1px solid #00471B;
    color: #00471B;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_icon {
        font-size: 24px;
        line-height: 14px;
        margin-top: -4px;
    }

    &_text {
        font-size: 14px;
        margin-left: 5px;
    }
}

.disabled-btn{
    pointer-events: none;
    opacity: 0.5;
}