@import "../../references";

.vtex-btn_devolucion {
  background: #727273;
  color: #eef3f7;
  display: block;
  margin: 10px 0 0;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}

.btn-seguir-envio {
  display: block;
  color: #fff;
  margin: 10px 0 0;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}

.bloque-botones {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 380px;

  .vtex-btn_devolucion {
    width: 180px;
    background: #727273;
    color: #eef3f7;
    display: block;
    margin: 10px 0 0;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
  }

  .btn-seguir-envio {
    width: 180px;
    display: block;
    color: #fff;
    margin: 10px 0 0;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .vtex-btn_devolucion {
    font-size: 13px;
  }

  .btn-seguir-envio {
    font-size: 13px;
  }
}

@media (max-width: 639px) {
  .vtex-btn_devolucion {
    font-size: 15px;
  }

  .btn-seguir-envio {
    font-size: 15px;
  }
}

@media (max-width: 404px) {
  .bloque-botones {
    flex-direction: column;
    width: 180px;
  }
}

.myo-progress-bar > div.flex.justify-center {
  @media all and (max-width: 768px) {
    flex-direction: row !important;
  }
}

// SACANDO STATUS PEDIDO/PROGRESS BAR Y ESTILO TEXTO AUX
.dib.br2.pv2.ph3.f7.fw5.tc.bg-muted-1 {
  display: none;
}

.myo-progress-bar {
  display: none;
}

.texto-auxiliar {
  font-weight: 600;
  margin: 0px;
}

.hidden {
  display: none;
}

// division e descripcion texto
.imgmodificada {
  max-width: 30%;
}

#divContenedorImg {
  // text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vtex-flex-layout-0-x-flexColChild--second-col,
.vtex-flex-layout-0-x-flexColChild--first-col {
  padding: 10px;
}

//añade espacio entre bullets tecnología
.vtex-flex-layout-0-x-flexColChild--second-col {
  .vtex-store-components-3-x-productDescriptionText {
    ul {
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

// Wishlist
.render-route-store-account {
  .vtex-account {
    aside + div {
      width: 80% !important;
    }
  }
}

//ajusta video en descripcion producto
.responsive-embed-youtube {
  iframe {
    max-width: 100%;
  }
}

#hubspot-messages-iframe-container {
  z-index: 21474836 !important;
}

// lianas urban safari
.liana-1 {
  justify-content: flex-start !important;
}

.liana-2 {
  justify-content: flex-end !important;
}

.liana-11 {
  top: -40px;

  @media (max-width: 1025px) {
    top: 0;
  }
}

//newsletter hubspot footer
#hubspotFormFooter {
  width: 100%;
  padding: 0.85rem 0.2rem;
  z-index: 9999999;

  @media (max-width: 1024px) {
    width: 100%;
    margin: auto;
  }

  & form {
    display: flex;
    flex-wrap: wrap;

    .hs-richtext {
      & p {
        & strong {
          & span {
            background-color: #004714 !important;
            color: #fff !important;
            font-size: 16px !important;
            font-weight: 400 !important;

            & span {
              font-size: 12px !important;
            }
          }
        }
      }
    }

    .hs_email {
      width: 85%;

      #label-email-551c6148-0eb9-465b-9caa-aec519f922c4 {
        display: none;
      }

      #email-551c6148-0eb9-465b-9caa-aec519f922c4 {
        padding: 0.5rem;
        width: 100%;
        border: solid #fff 2px;

        &:focus-visible {
          outline: none;
        }
      }

      .hs-error-msgs {
        display: none !important;
      }
    }

    .hs_cp_acept_suscription {
      order: 2;
      min-width: 300px;

      .inputs-list {
        list-style: none;
        color: #fff;
      }
    }

    .hs_submit {
      width: 15%;
      background-color: #fff;
      max-height: 38px;

      .hs-button {
        padding: 0.5rem;
        width: 100%;
        border: solid #fff 2px;
        color: transparent;
        background: url("/arquivos/submit-icons.png");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 90% 50%;
        cursor: pointer;
      }
    }

    .hs_error_rollup {
      order: 2;
      min-width: 300px;
      color: #ff4c4c;

      .hs-error-msgs {
        list-style: none;
        padding: 0;

        & li {
          display: none;
        }

        &::after {
          content: "Por favor ingresa un correo electrónico válido";
        }
      }
    }
  }

  .submitted-message {
    color: #fff;
  }
}

.imagen-descripcion-fabricacion {
  text-align: center;

  .tecnologia-img {
    height: auto;
    width: 80%;
    text-align: center;
  }
}

//estilos titulos menu
.vtex-menu-2-x-submenu--category-hombre,
.vtex-menu-2-x-submenu--category-mujer,
.vtex-menu-2-x-submenu--category-accesories {
  .vtex-menu-2-x-menuContainerNav {
    .vtex-menu-2-x-menuContainer > div.vtex-menu-2-x-styledLinkContainer {
      height: 42px !important;

      .vtex-menu-2-x-styledLinkContent {
        text-transform: uppercase;
        font-size: 17px;
      }
    }
  }
}

.vtex-slider-layout-0-x-sliderTrack--shelf-home-rktmoment {
  .vtex-rich-text-0-x-paragraph--quickview {
    color: transparent !important;
    background-color: transparent !important;
  }
}

//estilos titulos menu 2
// .vtex-menu-2-x-submenu--category-hombre,
// .vtex-menu-2-x-submenu--category-mujer {
//   .vtex-menu-2-x-menuContainerNav {
//     .vtex-menu-2-x-menuContainer {
//       .vtex-menu-2-x-styledLinkContainer {
//         &:first-child {
//           height: 42px !important;
//         }
//         .vtex-menu-2-x-styledLinkContent {
//           text-transform: uppercase;
//           font-size: 17px;
//         }
//       }

//     }

//   }
// }
// .category-hombre {
//   .vtex-menu-2-x-menuContainer {
//     :not(:first-child) {
//       .vtex-menu-2-x-styledLinkContainer {
//         .vtex-menu-2-x-styledLink {
//           :first-child {
//             text-transform: uppercase;
//             font-size: 17px;
//           }
//         }
//       }
//     }
//   }
// }

.vtex-menu-2-x-submenu--category-hombre,
.vtex-menu-2-x-submenu--category-mujer,
.vtex-menu-2-x-submenu--category-accesories {
  .vtex-menu-2-x-menuContainer {
    font-size: 16px;

    .vtex-menu-2-x-menuItem {
      &:first-child {
        display: flex;
        align-items: center;
      }

      &:hover {
        background: transparent;
      }

      &:not(:first-child) {
        height: auto !important;
      }

      &:first-child {
        .vtex-menu-2-x-styledLinkContainer {
          .vtex-menu-2-x-styledLink {
            .vtex-menu-2-x-styledLinkContent {
              text-transform: uppercase;
              font-size: 17px;
              font-weight: 500;
            }
          }
        }
      }
    }

    :not(:first-child) {
      .vtex-menu-2-x-styledLink {
        .vtex-menu-2-x-styledLinkContent {
          // white-space: normal;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}

#menu-item-custom-sale {
  & div {
    color: #feed1f;
    font-weight: 600;
  }
}

.vtex-store-components-3-x-searchBarContainer
  > div
  > div:nth-child(2)
  > div
  > div
  > div
  > div
  > div
  > section
  > section
  > ul
  > li:nth-child(2)
  > section
  > a
  > article
  > div.vtex-stack-layout-0-x-stackContainer.vtex-stack-layout-0-x-stackContainer--product-badge.relative
  > div:nth-child(2)
  > span:nth-child(2) {
  margin-left: -54px;
  margin-top: 24px;
  height: 56px;
}

// landing campaña otoño
.vtex-flex-layout-0-x-flexRow--contenedor-video-cirro section {
  max-width: inherit !important;
}

.vtex-flex-layout-0-x-flexRow--contenedor-video-cirro-2 section {
  max-width: 94rem !important;
}

.vtex-store-video-1-x-videoContainer--carousel-click-home {
  width: 500%;

  .vtex-store-video-1-x-videoElement--carousel-click-home {
    width: 100%;
    height: 420px;
  }
}

.vtex-flex-layout-0-x-flexRow--container-descripcion {
  .vtex-flex-layout-0-x-flexRowContent--container-descripcion {
    .vtex-flex-layout-0-x-stretchChildrenWidth {
      width: 100% !important;
      margin: 0 !important;
      align-items: center;
      justify-content: end;

      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
  }
}

.vtex-flex-layout-0-x-flexRowContent--info-banner-mobile-1,
.vtex-flex-layout-0-x-flexRowContent--info-banner-mobile-2 {
  .vtex-store-components-3-x-imageElement {
    width: 90% !important;
    height: 300px;

    @media (max-width: 1024px) {
      width: 100% !important;
    }
  }
}

.vtex-slider-layout-0-x-slideChildrenContainer--banner-principal-desktop {
  .vtex-flex-layout-0-x-flexRow {
    .vtex-store-components-3-x-container {
      padding: 0px;
    }

    max-width: 1576px;
  }
}

// PAGINADOR

.paginadorContainer {
  display: flex;
  width: fit-content;
  align-self: center;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  // margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 769px) {
    float: left;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .arrow-paginador-left {
    font-size: 0px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    &::after {
      content: " ";
      font-size: 10px;
      font-weight: 600;
      width: 10px;
      height: 10px;
      display: block;
      transform: rotate(90deg);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 172 172'%3E%3Cg transform='translate(0.516 0.516) scale(0.994 0.994)'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='none' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg fill='%23000000' stroke='%23cccccc' stroke-linejoin='round'%3E%3Cpath d='M86 113.735l69.3375 -69.3375l7.2025 7.2025l-76.54 76.54l-76.54 -76.54l7.2025 -7.2025z'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0 172v-172h172v172z' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cg fill='%23000000' stroke='none' stroke-linejoin='miter'%3E%3Cpath d='M16.6625 44.3975l-7.2025 7.2025l76.54 76.54l76.54 -76.54l-7.2025 -7.2025l-69.3375 69.3375z'%3E%3C/path%3E%3C/g%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .arrow-paginador-right {
    font-size: 0px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    &::after {
      content: " ";
      font-size: 10px;
      font-weight: 600;
      width: 10px;
      height: 10px;
      display: block;
      transform: rotate(270deg);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 172 172'%3E%3Cg transform='translate(0.516 0.516) scale(0.994 0.994)'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='none' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg fill='%23000000' stroke='%23cccccc' stroke-linejoin='round'%3E%3Cpath d='M86 113.735l69.3375 -69.3375l7.2025 7.2025l-76.54 76.54l-76.54 -76.54l7.2025 -7.2025z'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0 172v-172h172v172z' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cg fill='%23000000' stroke='none' stroke-linejoin='miter'%3E%3Cpath d='M16.6625 44.3975l-7.2025 7.2025l76.54 76.54l76.54 -76.54l-7.2025 -7.2025l-69.3375 69.3375z'%3E%3C/path%3E%3C/g%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .arrow-paginador-left-doble {
    font-size: 0px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    &::after {
      content: " ";
      font-size: 10px;
      font-weight: 600;
      width: 10px;
      height: 20px;
      display: block;
      transform: rotate(90deg);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 172 172'%3E%3Cg transform='translate(0.516 0.516) scale(0.994 0.994)'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='none' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg fill='%23000000' stroke='%23cccccc' stroke-linejoin='round'%3E%3Cpath d='M86 113.735l69.3375 -69.3375l7.2025 7.2025l-76.54 76.54l-76.54 -76.54l7.2025 -7.2025z'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0 172v-172h172v172z' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cg fill='%23000000' stroke='none' stroke-linejoin='miter'%3E%3Cpath d='M16.6625 44.3975l-7.2025 7.2025l76.54 76.54l76.54 -76.54l-7.2025 -7.2025l-69.3375 69.3375z'%3E%3C/path%3E%3C/g%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: repeat-y;
    }
  }
  .arrow-paginador-right-doble {
    font-size: 0px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    &::after {
      content: " ";
      font-size: 10px;
      font-weight: 600;
      width: 10px;
      height: 20px;
      display: block;
      transform: rotate(270deg);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 172 172'%3E%3Cg transform='translate(0.516 0.516) scale(0.994 0.994)'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='none' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg fill='%23000000' stroke='%23cccccc' stroke-linejoin='round'%3E%3Cpath d='M86 113.735l69.3375 -69.3375l7.2025 7.2025l-76.54 76.54l-76.54 -76.54l7.2025 -7.2025z'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0 172v-172h172v172z' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3Cg fill='%23000000' stroke='none' stroke-linejoin='miter'%3E%3Cpath d='M16.6625 44.3975l-7.2025 7.2025l76.54 76.54l76.54 -76.54l-7.2025 -7.2025l-69.3375 69.3375z'%3E%3C/path%3E%3C/g%3E%3Cpath d='' fill='none' stroke='none' stroke-linejoin='miter'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: repeat-y;
    }
  }

  .buttons-pages {
    padding: 3px;

    button {
      border-color: transparent;
      background-color: transparent;
      border-radius: 50px;
      cursor: pointer;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 7px;
      padding-right: 7px;

      &:hover {
        border-color: #004714;
        border-style: double;
      }

      &.active-button-page {
        &:hover {
          border-color: transparent;
        }

        background-color: #004714;
        color: white;
      }
    }
  }
}

.clase-puntos {
  pointer-events: none;

  button {
    border: 0px;
    background-color: transparent;
  }
}

.vtex-slider-layout-0-x-slide--shelf-beneficios,
.vtex-slider-layout-0-x-slide--shelf-retiro-tiendas,
.vtex-slider-layout-0-x-slide--shelf-tiendas {
  .vtex-slider-layout-0-x-slideChildrenContainer--shelf-beneficios,
  .vtex-slider-layout-0-x-slideChildrenContainer--shelf-retiro-tiendas,
  .vtex-slider-layout-0-x-slideChildrenContainer--shelf-tiendas {
    .vtex-product-summary-2-x-containerNormal {
      .vtex-product-summary-2-x-clearLink {
        .vtex-product-summary-2-x-element {
          align-items: center;

          .vtex-button {
            width: 80%;
          }

          .vtex-stack-layout-0-x-stackContainer--product-badge {
            .vtex-stack-layout-0-x-stackItem--product-badge {
              .vtex-button {
                width: 100%;
              }
            }
          }

          .vtex-product-summary-2-x-priceContainer {
            height: 60px;

            .vtex-store-components-3-x-priceContainer {
              justify-content: center !important;
            }

            .vtex-store-components-3-x-installmentsPrice {
              display: none;
            }
          }

          .vtex-product-summary-2-x-nameContainer {
            height: 21%;
          }

          @media (min-width: 1025px) {
            .vtex-product-summary-2-x-priceContainer {
              height: 70px;

              .vtex-store-components-3-x-priceContainer {
                justify-content: center !important;
              }

              .vtex-store-components-3-x-installmentsPrice {
                display: none;
              }
            }

            .vtex-product-summary-2-x-nameContainer {
              height: 40px;
            }

            .vtex-stack-layout-0-x-stackContainer--product-badge {
              .vtex-stack-layout-0-x-stackItem--product-badge--quickview {
                display: none;
              }

              .vtex-stack-layout-0-x-stackItem--product-badge {
                .vtex-button__label {
                  .vtex-wish-list-1-x-wishlistIcon {
                    width: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.vtex-slider-layout-0-x-sliderRightArrow--shelf-tiendas,
.vtex-slider-layout-0-x-sliderRightArrow--shelf-retiro-tiendas,
.vtex-slider-layout-0-x-sliderRightArrow--shelf-beneficios {
  right: -9%;
}

.vtex-slider-layout-0-x-sliderLeftArrow--shelf-tiendas,
.vtex-slider-layout-0-x-sliderLeftArrow--shelf-retiro-tiendas,
.vtex-slider-layout-0-x-sliderLeftArrow--shelf-beneficios {
  left: -9%;

  @media (max-width: 1024px) {
    left: -12%;
  }
}

.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-tiendas,
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-retiro-tiendas,
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-beneficios {
  width: 80%;
  display: flex;
  left: 10%;

  @media (max-width: 1024px) {
    width: 90%;
    display: flex;
    left: 4%;
  }

  .vtex-slider-layout-0-x-paginationDotsContainer {
    .vtex-slider-layout-0-x-paginationDot--isActive {
      background-color: #004714 !important;
    }

    .vtex-slider-layout-0-x-paginationDot {
      background-color: #848485;
    }
  }
}

@media screen and (min-width: 40em) {
  .vtex-store-components-3-x-portalContainer--search-header {
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;

    .vtex-store-components-3-x-portalWrapper--search-header {
      pointer-events: auto;
      position: relative;

      & > .flex {
        left: 5px !important;
        right: 5px !important;
        top: inherit !important;

        & > .absolute {
          position: absolute;
          left: 0;
          right: 0;
        }
      }

      .vtex-search-2-x-tileListList {
        margin-bottom: 0;

        .vtex-search-2-x-tileListItem {
          padding-left: 0.5rem;

          &:last-of-type {
            padding-right: 0.5rem;
          }
        }
      }

      .vtex-search-2-x-biggy-autocomplete {
        -webkit-box-shadow: inset -2px 9px 34px -25px #000000;
        box-shadow: inset -2px 9px 34px -25px #000000;
      }
    }
  }

  .vtex-store-components-3-x-autoCompleteOuterContainer--search-header {
    .vtex-input__prefix.br--left {
      display: none !important;
    }

    .vtex-input__suffix.br--right {
      padding: 0px;

      button {
        padding: 0px 10px;
        background: #008625;

        &:hover {
          background: lighten($color: #008625, $amount: 3);
        }

        &:active {
          background: lighten($color: #008625, $amount: 5);
        }

        svg {
          color: white;
        }
      }
    }
  }

  .vtex-store-components-3-x-autoCompleteOuterContainer--search-header {
    .vtex-input-prefix__group {
      border: none !important;

      .vtex-styleguide-9-x-input {
        text-align: center;
      }
    }
  }
}

// flechas recomendador home
.vtex-shelf-1-x-arrowLeft--home-2 {
  position: absolute;
  background: #fff;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid #398132  !important;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  .vtex-shelf-1-x-caretIcon--home-2 {
    & use {
      color: #398132  !important;
    }
  }
}

.vtex-shelf-1-x-arrowRight--home-2 {
  position: absolute;
  background: #fff;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid #398132  !important;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  .vtex-shelf-1-x-caretIcon--home-2 {
    & use {
      color: #398132  !important;
    }
  }
}

.vtex-store-components-3-x-searchBarInnerContainer {
  .vtex-store-components-3-x-portalContainer {
    @media (max-width: 1025px) {
      position: relative !important;
      .vtex-store-components-3-x-portalWrapper {
        > div {
          top: 5px !important;
          right: 0 !important;
          left: 0 !important;
          > div {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}