.AccordionCustom {
    font-family: "SourceSansPro-Regular", SansSerif, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
    .box-pregunta {
        background-color: #f5f5f5;
        border: solid thin #ddd;
        margin-bottom: 10px;
        padding: 10px;
        padding-bottom: 0;
        .pregunta {
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }
        .resposta {
            border-top: solid thin #ddd;
            transition: 0s;
            padding: 10px;
            box-sizing: border-box;
            background-color: #fff;
            color: #777272;
            font-size: 14px;
            font-weight: 700;
        }

        &:not(.active) {
            .resposta {
                max-height: 0px;
                padding-top: 0;
                padding-bottom: 0;
                overflow: hidden;
            }
        }

        &.active {
            .resposta {
                max-height: 1000px;
                transition: 0.5s;
            }
        }
    }
}
