$light-gray: #f5f5f5;
$light-gray-2: #e3e3e3;
$light-gray-3: #ccc;
$lighter-blue: #0086c9;
$lighter-blue-2: #1BA7FF;
$lighter-blue-3: #46b8da;
$light-blue: #0c389f;
$light-blue-2: #2a6dbf;
$dark-blue: #004b75;
$darker-blue: #101820;
$gray: #666;
$gray-2: #999;
$gray-3: #888;
$gray-4: #4f4f4f;
$dark-gray: #333;
$red: #e10e0e;
$dark-red: #980000;
$green: #004712;
$font-family-proxima-nova: proxima_novaregular,Arial,sans-serif;