@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Francois+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url("/files/all.min.css");

/* Mobile */

.headerRow--main-header-mobile {
  height: 59px;

  .headerRowBackground {
    height: 59px;
    background-color: #004714;
  }

  :global(.vtex-store-drawer-0-x-openIconContainer) {
    background-image: url(https://cdn.linets.tech/data/1BANNER_2019/03_MARZO/RKF/NuevoSitio/iconos/lupa.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 18px;
    color: transparent;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65px;

    &::after {
      content: "Buscar";
      text-transform: uppercase;
      font-size: 8px;
      color: #fff;
      margin-top: 9px;
    }

    &:first-child {
      background-image: url(/arquivos/menu-icon.png?v=1);
      background-repeat: no-repeat;
      background-size: 22px;
      background-position: 50%;

      &::after {
        display: none;
      }
    }
  }

  :global(.vtex-store-components-3-x-logoContainer) {
    padding: 0;
  }

  :global(.vtex-store-components-3-x-logoLink) {
    width: 100%;
    height: 59px;
    position: absolute;
    display: flex;
    left: 0;
    justify-content: center;
    z-index: 1;

    @media(max-width:400px) {
      width: 80%;
    }
  }

  :global(.vtex-store-components-3-x-logoImage) {
    height: 70px;
    width: auto;
  }

  :global(.vtex-minicart-2-x-minicartWrapperContainer) {
    z-index: 2;
  }
}

.headerStickyRow--search-bar-mobile {
  z-index: 888;

  .headerRowBackground--search-bar-mobile {
    background: rgba(0, 0, 0, .7);
  }

  :global(.vtex-store-components-3-x-searchBarContainer) {
    max-width: none;
    padding: 5px 0;

    :global(.vtex-input-prefix__group) {
      border: 1px solid #fff;
      height: 30px;


      :global(.vtex-input__prefix) {
        display: none;
      }

      :global(.vtex-input__suffix) {
        display: none;
      }
    }

    :global(.vtex-styleguide-9-x-input) {
      background: #fff;
      color: black;
      padding-left: 15px;

      &::placeholder {
        color: #727273;
      }
    }

    :global(.vtex-input__prefix) {
      display: none;
    }

    :global(.vtex-input__suffix) {
      background: none;
      display: block;

      :global(.vtex-store-components-3-x-searchIcon--search-header) {
        @media screen and (max-width: 1304px) {
          width: 14px !important;
          height: 14px !important;
        }
      }

      :global(.vtex-store-components-3-x-searchIcon--search-header-mobile) {
        color: #fff;

      }

      :global(.vtex-store-components-3-x-closeIcon--search-header-mobile) {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 40em) {
  .headerStickyRow--main-header {
    top: 0px !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    background-color: #004714;
    justify-content: space-between;

    :global(.vtex-flexbasic-container--main-header) {
      width: 100%;

      :global(.vtex-flexbasic-item--main-header) {
        display: flex;
        justify-content: center;
        align-items: center;

        &:global(.vtex-flexbasic-item-0) {
          width: 15%;
          justify-content: end;
        }

        &:global(.vtex-flexbasic-item-1) {
          justify-content: start;
        }
      }

      :global(.vtex-flexbasic-item--search-bar) {
        margin: auto;
        width: 60%;
      }

      :global(.vtex-flexbasic-item--spacer) {
        flex-grow: 1;
      }
    }

    // :global(.vtex-store-components-3-x-logoImage) {
    //   max-width: 150px;
    //   margin-bottom: -50px;
    // }

    :global(.vtex-store-components-3-x-notificationContent) {
      font-family: Maven Pro;
      font-weight: 500;
      letter-spacing: 2px;
    }

    :global(.vtex-menu-2-x-styledLink) {
      color: #fff;
      font-size: 15px;
      font-family: "Maven Pro";

      @media screen and (max-width: 1368px) {
        font-size: 13px;
      }

      @media screen and (max-width: 1251px) {
        font-size: 12px;
      }
    }

    :global(.vtex-category-menu-2-x-itemContainer) {
      height: 42px !important;

      &:hover {
        background: #398132 !important;
      }

      & :first-child {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        border-style: none;
        font-family: "Maven Pro";

        @media screen and (max-width: 1368px) {
          font-size: 13px;
        }

        @media screen and (max-width: 1251px) {
          font-size: 12px;
        }
      }

      :global(.vtex-category-menu-2-x-itemContainer) {
        z-index: -1;
        top: 42px !important;
        background: hsla(0, 0%, 100%, 0.9);
        height: auto !important;

        &:hover {
          background: hsla(0, 0%, 100%, 0.9) !important;
        }

        :global(.vtex-store-components-3-x-container) {
          margin-left: 170px;
          padding-bottom: 25px;

          & :first-child {
            justify-content: start;
          }
        }
      }
    }

    :global(.vtex-menu-2-x-menuItem) {
      height: 42px !important;

      :global(.vtex-menu-2-x-styledLinkContainer) {
        height: 42px;
        display: flex;
        align-items: center;
        margin: 0 1.25rem;

        :global(.vtex-menu-2-x-styledLink) {
          display: flex;
          align-items: center;
        }
      }

      &:hover {
        background: #398132;
      }
    }
  }

  :global(.vtex-menu-2-x-submenu--category-hombre),
  :global(.vtex-menu-2-x-submenu--category-mujer),
  :global(.vtex-menu-2-x-submenu--category-accesories) {
    :global(.vtex-menu-2-x-styledLinkContainer) {
      height: auto !important;
    }
  }
}

:global(.vtex-store-components-3-x-logoImage) {
  @media screen and (max-width: 1368px) {
    max-width: 140px !important;
  }

  @media screen and (min-width:1024px) and (max-width: 1200px) {
    max-width: 120px !important;
    // margin-top: 35px !important;
  }

  @media screen and (max-width: 1083px) {
    max-width: 100px !important;
  }
}

.headerRowContentContainer--main-header-mobile {
  height: 59px;

  .headerRowContainer--main-header-mobile {
    height: 59px;
  }
}

.headerRowContainer--main-header {
  flex-direction: column;
}


:global(.vtex-category-menu-2-x-section--department) {
  padding-right: 0;

  @media screen and (max-width: 1280px) {
    padding-left: 0rem;
  }

  :global(.vtex-category-menu-2-x-departmentList) {
    flex-wrap: nowrap;

    :global(.vtex-category-menu-2-x-itemContainer--department) {
      :global(.vtex-category-menu-2-x-departmentLink) {
        margin-left: 1rem;
        margin-right: 1rem;

        @media screen and (max-width: 1068px) {
          margin-left: 0.7rem;
          margin-right: 0.7rem;
        }
      }
    }
  }
}

//ajusta barra menú desktop

@media (max-width:1312px) {
  .headerRowContainer--main-header {
    :global(.vtex-store-components-3-x-logoLink) {
      padding: .5rem 0 .5rem .5rem;
    }
  }
}

// ajuste search y menu
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    &:first-child {
      justify-content: end;

      @media (max-width:1191px) {
        width: 12% !important;
      }
    }

    :global(.vtex-store-components-3-x-logoLink) {
      justify-content: center;
      display: flex;
    }
  }

  :global(.vtex-flex-layout-0-x-flexColChild--menu-search) {
    .headerRowBackground {
      background-color: #004714;
    }

    .headerRowContainer--search-container {
      align-items: flex-end;
      .headerSpacer {
        &:first-child {
          flex-grow: 0.5;
          -webkit-box-flex: 0.5;
        }
      }
    }
  }
}

.headerRowContentContainer--search-container {
  :global(.vtex-store-components-3-x-imageElementLink--wishlist-desktop),
  :global(.vtex-rich-text-0-x-container--textTienda),
  :global(.vtex-login-2-x-container),
  :global(.vtex-minicart-2-x-minicartWrapperContainer) {
    height: 35px;
  }
}