@import './CDA/vtex.rich-text';
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Satisfy&display=swap');


.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.paragraph--textTienda {
  width: 22px;
  padding-top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;

  &::after {
    content: 'Envío';
    text-transform: uppercase;
    font-size: 8px;
    color: #fff;
    margin-top: 6px;
  }
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

/*  Instagram iframe */
.paragraph--footer-menu {
  margin-bottom: 0;
}

.link--footer-menu {
  font-size: 20px;
  color: #004714 !important;
  font-weight: 600;
  position: relative;
  text-decoration: none !important;
  bottom: 11px;
  font-family: Poppins, sans-serif;
}

/* Footer */

.paragraph--footer-menu {
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
/* @media screen and (min-width: 40em) {} */

// Landing Cyber Day
.container--cyber-day-talla {
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.paragraph--cyber-day-talla {
  margin: 0;
}

.wrapper--footer-copyright {
  .paragraph {
    font-size: 14px;
  }
}

.container--desp-tiempo-titlegrande {
  justify-content: center;
}

.strong--desp-tiempo-titlegrande {
  font-size: 30px;
}

// LANDING ROCKFOR FRIENDS
.heading--titulo-works {
  margin-bottom: 0px;
}

.heading--titulo-why,
.heading--titulo-works,
.heading--titulo-earn {
  font-weight: 700;
}

.wrapper--boton-join {
  .paragraph--boton-join {
    .link {
      text-decoration: none;
      background-color: #004714;
      color: white;
      padding: 10px;
      min-width: 300px;
      text-align: center;
      display: block;
    }
  }
}

// LANDING GIFTCARD
// LANDING GIFTCARD - PRODUCTOS
:global(.vtex-flex-layout-0-x-flexRowContent--lg-row-productos) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;

    :global(.vtex-flex-layout-0-x-flexRowContent--lg-row-productos-items) {
      display: flex;
      max-width: 1200px;
      flex-wrap: wrap;

      @media all and (max-width: 768px) {
        max-width: 575px;
        margin: 0 auto;
      }

      :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 25% !important;

        @media all and (max-width: 768px) {
          width: 50% !important;
        }
      }
    }
  }

  .headingLevel2--lg-productos-title,
  .headingLevel4--lg-productos-subtitle {
    margin: 0;
    color: #000;

    @media all and (max-width: 575px) {
      font-size: 24px;
    }
  }

  .headingLevel4--lg-productos-subtitle {
    text-transform: uppercase;
    margin: 10px 0 40px 0;

    @media all and (max-width: 575px) {
      font-size: 20px;
    }
  }
}

// LANDING GIFTCARD - FAQ
:global(.vtex-flex-layout-0-x-flexRowContent--lg-row-faq) {
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
  }

  .headingLevel2--lg-faq-title,
  .headingLevel4--lg-faq-subtitle {
    margin: 0;
    color: #000;

    @media all and (max-width: 575px) {
      font-size: 24px;
    }
  }

  .headingLevel4--lg-faq-subtitle {
    text-transform: uppercase;
    margin: 10px 0 40px 0;

    @media all and (max-width: 575px) {
      font-size: 20px;
    }
  }

  .paragraph--lg-faq-question {
    text-transform: uppercase;
    color: #515151;
    margin: 0;
    font-size: 18px;

    @media all and (max-width: 575px) {
      font-size: 16px;
      text-align: center;
    }
  }

  .paragraph--lg-faq-answer {
    color: #515151;
    margin: 5px 0 30px 0;
    padding-left: 20px;

    @media all and (max-width: 575px) {
      padding: 0;
      text-align: center;
    }
  }

  .container--lg-faq-question,
  .container--lg-faq-answer {
    @media all and (max-width: 575px) {
      justify-content: center;
    }
  }
}

// BOTÓN CARRUSELES LANDINGS ABOUT US

.container--boton-carrusel {
  position: absolute !important;
  bottom: 12%;
  right: 0;

  @media (min-width: 401px) {
    bottom: 15%;
  }

  @media (min-width: 540px) {
    bottom: 17%;
  }

  @media (min-width: 590px) {
    bottom: 18%;
  }

  @media (min-width: 870px) {
    bottom: 20%;
  }

  .wrapper--boton-carrusel {
    max-width: 135px;
    width: 100%;

    .paragraph--help-message {
      margin-top: 0;
      margin-bottom: 0;
    }

    .link--boton-carrusel {
      color: transparent;
    }
  }
}

// SOLO PRIMER BOTON DE LANDINGS

.container--boton-carrusel-01 {
  position: absolute !important;
  bottom: 26%;
  right: 0;

  @media (min-width: 401px) {
    bottom: 29%;
  }

  @media (min-width: 501px) {
    bottom: 31%;
  }

  @media (min-width: 870px) {
    bottom: 20%;
  }

  .wrapper--boton-carrusel-01 {
    max-width: 135px;
    width: 100%;

    .paragraph--help-message-01 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .link--boton-carrusel-01 {
      color: transparent;
    }
  }
}

:global(.vtex-rich-text-0-x-paragraph--button-rkfmoment) {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  width: 215px;
  text-decoration: none;
  background-color: #004714;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: block;

  @media screen and (max-width: 1024px) {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 8px 35px;
    border: 2px solid #004714;
    color: #004714;
    border-radius: 0;
    background-color: #fff;
    width: 100%;
  }

  :first-child {
    text-decoration: none;
    color: #fff;
    font-size: 18px;

    @media screen and (max-width: 1024px) {
      font-size: 0.795rem;
      color: #004714;
    }
  }

  &::after {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--btns-banner-container-rkfmoment) {
  width: 50%;
  margin: auto;
}

.flexRow--rktmoment-vitrina-sale {
  margin-bottom: 20px;
}

:global(.vtex-rich-text-0-x-paragraph--button-rkfmoment) {
  cursor: pointer;
}

:global(.vtex-rich-text-0-x-paragraph--trigger-ropa) {
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}

:global(.vtex-rich-text-0-x-container--texto) {
  @media screen and (max-width: 1024px) {
    background-color: #ddddd1;
    padding: 0.5rem 0.8rem;
  }

  :global(.vtex-rich-text-0-x-paragraph--btn-ropa) {
    color: #00471B;
    font-weight: bolder;
    font-size: 18px;
    margin: 0px;
    text-transform: uppercase;
    justify-content: center;
  }
}

.wrapper--title-talla-calzado,
.wrapper--title-talla-calzado-equal {
  color: #00471B;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;

  .paragraph {
    line-height: 0.8;
  }

  @media(max-width:640px) {
    font-size: 1rem;
  }

  @media(max-width:374px) {
    font-size: 0.8rem;
  }
}

.wrapper--title-talla-calzado-equal {
  .paragraph {
    display: inline-block;
    transform: scale(1.5, 1);
    /* W3C */
    -webkit-transform: scale(1.5, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.5, 1);
    /* Firefox */
    -ms-transform: scale(1.5, 1);
    /* IE 9 */
    -o-transform: scale(1.5, 1);
    /* Opera */
  }
}

// landing campaña otoño
.container--info-banner {
  width: 90%;
  margin: 0 auto;

  .headingLevel4 {
    font-size: 40px;
    text-transform: uppercase;
    // font-family: "Khand-Bold";
    color: #000;
    margin-top: 2em;
    margin-bottom: 15px;

    @media (max-width: 1025px) {
      margin-top: 0;
    }
  }
}

.wrapper--title-autumn-campaign {
  font-size: 30px;
}

.wrapper--text-autumn-campaign {
  font-size: 20px;
}

.paragraph--title-autumn-campaign {
  line-height: 0;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #0b0b0b;
}

.paragraph--text-autumn-campaign {
  margin-bottom: 25px;
  color: #727273;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 10px;
}

.paragraph--title-video {
  margin: 0 !important;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #0b0b0b;
}

.paragraph--descripcion-video {
  margin: 0 !important;
  color: #727273;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
}

.container--title-video,
.container--descripcion-video {
  justify-content: flex-start;
}

.paragraph--title-vide-autumn-campaign {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #0b0b0b;
  margin-bottom: 0px;

  @media (max-width: 1025px) {
    line-height: 1;
    margin-top: 40px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #0b0b0b;
    margin-bottom: 15px;
  }
}

.headingLevel3--tiendas-shelf-title,
.headingLevel3--retiro-tiendas-shelf-title,
.headingLevel3--beneficios-shelf-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #000;

  @media (max-width: 1024px) {
    font-size: 30px;
  }
}

.wrapper--descripcion-video {
  text-align: start;

  @media (max-width: 1024px) {
    text-align: center;
  }
}

.paragraph--text-autumn-campaign {
  font-size: 24px;
  font-weight: 500;
  color: #0b0b0b;
  margin-bottom: 0px;
}

.paragraph--text-autumn-campaign-2 {
  font-size: 20px;
}

//gamiphy faq
.wrapper--faq-title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wrapper--gamiphy-faq-question {
  font-size: 25px;
  font-weight: 900;
}

.wrapper--gamiphy-faq-answer {
  font-size: 20px;
}

.container--faq-gamiphy-icon-opened,
.container--faq-gamiphy-icon-closed {
  margin-left: auto;
  font-size: 35px;
  height: 50px;
  width: auto;

  .paragraph--faq-gamiphy-icon-closed {
    font-size: 45px;
  }

  .paragraph {
    line-height: 0;
  }
}

.wrapper--banner-text-template {
  .paragraph {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
}

.heading--text-template {
  font-size: 1.2rem;

  @media (min-width: 1026px) {
    font-size: 2rem;
  }
}


//*************************Desktop*******************

//slider-promocion

.paragraph--descuento-compra {
  color: #ffff;
  font-size: 2rem;
}

.container--puntos-gift-card {
  background-color: #004714;

  .paragraph {
    color: #ffff;
  }
}

//row banner-jungle-sale
.paragraph--title-jungle-sale {
  font-family: 'Satisfy', cursive;
  font-size: 10rem;
  font-weight: bold;
  color: #ffc904;
  margin: 0px;
}

.paragraph--subhead-jungle-sale {
  font-size: 2rem;
  color: #ffff;
  margin: 0px 0px 20px 0px;
}

//row banner-puntos-acumulados
.paragraph--title-puntos-acumulados {
  font-size: 2.5rem;
  color: #ffff;
  margin: 0px;
}

.paragraph--subhead-puntos-acumulados {
  font-size: 1.5rem;
  color: #ffff;
  margin: 0px 0px 20px 0px;
}

//************************* Mobile *******************

//Mobile slider-promocion

.paragraph--mobile-descuento-compra {
  color: #ffff;
  font-size: 0.75rem;
}

.container--mobile-puntos-gift-card {
  background-color: #004714;

  .paragraph {
    color: #ffff;
    margin: 5px 0px 0px 0px;
    font-size: 0.85rem;
  }
}

//Mobile row banner-jungle-sale
.paragraph--mobile-title-jungle-sale {
  margin-top: 10px;
  font-size: 2rem;
}

.paragraph--mobile-subhead-jungle-sale {
  font-size: 1rem;
  margin-bottom: 230px;
}
