/* Mobile */
.container {
  grid-template-columns: none;
  width: 90%;
  max-width: 1366px;
  grid-template-areas:
    "breadcrumb breadcrumb"
    "richTitle richTitle"
    "title title"
    "filters orderby"
    "gallery gallery"
    "pagination pagination"
    "quantity quantity";
}

.orderByOptionItem {
  font-size: 14px;
  padding: 0.3em 0.8em;
}

.sidebar {
  z-index: 9999999999;
}

.gallery {
  :global(.vtex-product-summary-2-x-buyButton) {
    font-size: 0;
    display: flex;
    align-items: center;

    :global(.vtex-button__label)::before {
      content: "";

      @media (min-width: 768px) {
        background-image: url(/arquivos/cart.png);
        height: 22px;
        width: 22px;
        margin-right: 5px;
        margin-bottom: 2px;
      }

      display: inline-block;
      background-size: cover;
      color: white;
    }
  }

  :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-size: 0px;

    &::after {
      content: "COMPRAR";
      font-size: 15px;
      font-family: Poppins;
      font-weight: 100;
      margin-left: 4px;
    }
  }
}

.galleryTitle--layout {
  font-size: 24px;
  text-align: center;
}

.galleryItem {
  :global(.vtex-product-summary-2-x-nameContainer) {
    padding: 5px 0;
  }

  :global(.vtex-product-summary-2-x-productBrandName) {
    font-weight: 700;
  }

  :global(.vtex-store-components-3-x-installmentsPrice) {
    display: none;
  }

  :global(.vtex-store-components-3-x-priceContainer) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: end;

    :first-child {
      :global(.vtex-store-components-3-x-sellingPrice) {
        color: #3d4247 !important;
      }
    }
  }

  :global(.vtex-store-components-3-x-listPriceLabel) {
    display: none;
  }

  :global(.vtex-store-components-3-x-sellingPriceLabel) {
    display: none;
  }

  :global(.vtex-product-summary-2-x-priceContainer) {
    padding: 5px 0;
  }

  :global(.vtex-store-components-3-x-listPriceValue) {
    font-size: 16px;
    color: #3d4247;
  }

  :global(.vtex-store-components-3-x-sellingPrice) {
    font-weight: 700;
    color: #a22a2e;
  }
}

.filterPopupTitle {
  font-size: 12px;
}

.filter {
  & :first-child {
    outline: none;
  }
}

.filters--layout {
  border-bottom: 1px solid #ccc;

  .filters--layout {
    border-bottom: none;
  }

  .filterPopupButton {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: auto;
    width: 67px;
  }
}

.orderBy {
  border-bottom: 1px solid #ccc;

  .orderByButton {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: 0;
    width: 150px;
  }
}

.gallery {
  :global(.vtex-product-summary-2-x-addToListBtn) {
    :global(.vtex-button) {
      background: transparent !important;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 40em) {
  .searchResultContainer {
    padding: 0 45px;
  }

  .container {
    width: 100%;
    grid-template-areas:
      "breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
      "richTitle richTitle richTitle richTitle richTitle richTitle"
      "title title title title title title"
      "filters filters filters filters filters filters"
      "quantity quantity quantity orderby orderby orderby"
      "gallery gallery gallery gallery gallery gallery"
      ". pagination pagination pagination pagination pagination";
  }

  .totalProducts {
    margin-left: 10%;
  }

  .orderBy {
    border-bottom: none;
    margin-right: 20%;
  }

  .filters--layout {
    width: 200px;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;

    .filtersWrapper {
      width: 100%;
    }
  }

  .filter__container {
    display: flex;
    position: relative;
    flex-direction: column;
    border: none;
  }

  .filterItem--Hombre {
    width: 94%;
  }

  .filter__container-- {
    &c {
      &:hover {
        .categoriesContainer {
          display: block !important;
        }
      }

      .filter {
        align-items: center;

        &:hover {
          &::before {
            transform: rotate(180deg);
          }
        }

        .filterTitle {
          color: #000;
          font-family: Poppins, sans-serif;
          // font-size: 1rem;
          font-weight: 400;
          text-transform: none;
          letter-spacing: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: 25%;
          right: 0;
          width: 16px;
          height: 10px;
          background: url(/arquivos/arrow-down.png) no-repeat;
          background-size: contain;
          transition: transform 0.5s;
          transition-property: transform;
          transition-duration: 0.5s;
          transition-timing-function: ease;
          transition-delay: 0s;
        }
      }

      .categoriesContainer {
        background: #d8d8d8;
        padding: 10px;
        display: none;

        .categoryGroup {
          display: block;
          margin: 0;
          background: #fff;
          padding: 10px;

          .categoryParent {
            pointer-events: none;
          }
        }
      }
    }

    // &selectedFilters {
    //     display: none !important;
    // }
  }
  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    width: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    height: 50px;
    line-height: 46px;
    margin-top: 5px;
    margin-bottom: 20px;
    /* :first-child {
            width: 100%;
        } */
  }

  .filterTitle {
    display: flex !important;
    justify-content: unset;
    font-size: 14px;
  }

  .filterIcon {
    padding: 0;
    margin-left: 58%;
  }

  .filterContent {
    margin: 10px 0;
    border: none;
    margin: 0;
  }

  .filterItem {
    padding: 5px;
    background: white;
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    display: flex !important;
    justify-content: flex-start !important;
    width: auto;

    // :global(.vtex-checkbox__box-wrapper) {
    //   top: 0px;
    // }
  }

  .filter {
    background: #fff;
    padding-bottom: 0;
    padding: 10px 0 0 0;
    border-top: 1px solid silver;
  }

  .filters--layout {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 32;
  }

  .filterTitle {
    width: 100% !important;
    padding: 10px 0 !important;
  }

  .filterIcon {
    right: 0;
    color: #333;
    position: absolute;
  }

  /* Galeria */
  .gallery {
    padding-left: 1em;
    :global(.vtex-product-summary-2-x-imageContainer) {
      :global(.vtex-product-summary-2-x-imageNormal) {
        max-height: unset;
      }

      :global(.vtex-product-summary-2-x-image--hover) {
        z-index: 0;
      }
    }

    :global(.vtex-store-components-3-x-discountInsideContainer) {
      width: 54.5px;
      font-size: 15px;
      padding: 14px 6.5px;
    }

    :global(.vtex-product-summary-2-x-element) {
      position: relative;
      padding-top: 50px;
    }

    :global(.vtex-reviews-and-ratings-1-x-stars) {
      position: absolute;
      left: 0;
    }

    :global(.vtex-product-summary-2-x-nameContainer) {
      padding: 0;
      justify-content: start;
    }

    :global(.vtex-product-summary-2-x-priceContainer) {
      align-items: flex-start;
    }

    :global(.vtex-product-summary-2-x-productNameContainer) {
      text-align: left;
    }

    :global(.vtex-reviews-and-ratings-1-x-inlineContainer) {
      width: 100%;
      height: 23px;
      display: block;
    }

    :global(.vtex-product-summary-2-x-productPriceClass) {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: flex-start;
    }

    :global(.vtex-product-summary-2-x-productBrandContainer) {
      justify-content: flex-start;
      display: flex;
      padding: 10px 0;
    }

    :global(.vtex-product-summary-2-x-productBrandName) {
      font-size: 16px;
      color: #1e1310;
      font-weight: 600;
      text-transform: uppercase;
    }

    :global(.vtex-product-summary-2-x-sellingPriceContainer) {
      font-size: 16px !important;
      color: #1e1310;
      font-weight: 600 !important;
      font-family: Poppins !important;
    }

    :global(.vtex-product-summary-2-x-brandName) {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      color: #3d4247;
      text-decoration: none;
      font-size: 15px;
      line-height: 17px;
    }

    :global(.vtex-product-summary-2-x-addToListBtn) {
      right: 20px;
      top: 61%;

      :global(.vtex-button) {
        background: transparent !important;

        &:hover {
          border: none;
          background: transparent;
        }
      }
    }

    :global(.vtex-store-components-3-x-installmentsPrice) {
      display: none;
    }

    :global(.vtex-product-summary-2-x-sellingPriceLabel) {
      display: none;
    }

    :global(.vtex-product-summary-2-x-price_sellingPrice) {
      color: #a22a2e;
      font-size: 16px;
      font-weight: 600;
    }

    :global(.vtex-product-summary-2-x-listPriceLabel) {
      display: none;
    }

    :global(.vtex-product-summary-2-x-listPrice) {
      font-size: 16px;
      color: #3d4247;
      font-weight: 600;
    }

    :global(.vtex-store-components-3-x-price_savingsContainer) {
      display: none;
    }

    :global(.vtex-store-components-3-x-price_listPriceContainer) {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
      background: #969796;
      color: white;
      vertical-align: middle;
      padding: 12px;

      &:hover {
        background: #666;
      }
    }

    :global(.vtex-store-components-4-x-skuSelectorName) {
      font-family: Poppins;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
    }

    /* Boton */
    :global(.vtex-button) {
      width: 100%;
      border-style: none;
      border-radius: 0;
    }

    :global(.vtex-button) {
      &:hover {
        border: none;
        background: #004714;
      }
    }

    :global(.vtex-button__label) {
      padding-left: 0;
      padding-right: 0;
    }

    :global(.vtex-add-to-cart-button-0-x-buttonText) {
      font-size: 0;
      display: flex;
      align-items: center;
    }

    :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
      content: "";

      @media (min-width: 768px) {
        background-image: url(/arquivos/cart.png);
        height: 22px;
        width: 22px;
      }

      display: inline-block;
      background-size: cover;
      color: white;
    }

    :global(.vtex-add-to-cart-button-0-x-buttonText)::after {
      content: "COMPRAR";
      font-size: 15px;
      font-family: Poppins;
      font-weight: 100;
      margin-left: 4px;
    }
  }

  .galleryItem {
    // flex-basis: 33.333% !important;
    // max-width: 33.333% !important;

    :global(.vtex-product-summary-2-x-container) {
      margin: 0;
      max-width: unset !important;
    }
  }
  .filterContent {
    .filterItem {
      :global(.vtex-checkbox__container) {
        width: 25px;
        margin: 0;
        :global(.vtex-checkbox__inner-container) {
          position: static;
        }
        :global(.vtex-checkbox__input) {
          top: 0px !important;
        }
      }
    }
  }
  .filter__container--talla {
    .filterContent {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 0!important;
      .filterItem {
        :global(.vtex-checkbox__container) {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: 0;
          z-index: 0;
          :global(.vtex-checkbox__inner-container) {
              transition: background .3s ease-out;
              width: 100%;
              height: 37px;
              z-index: -1;
          }
          :global(.vtex-checkbox__box-wrapper) {
            opacity: 0;
            -moz-opacity: 0;
            -webkit-opacity: 0;
          }
        }
        &--selected {
          :global(.vtex-checkbox__label) {
            color: white;
          }
        }
      }
    }
    :global(.vtex-checkbox__label) {
      margin: 0;
      padding: 9px 3px;
      border: 1px solid #e3e4e6;
      min-width: 40px;
      text-align: center;
      z-index: 0;
    }
  }
}

.totalProducts--layout {
  justify-content: flex-start;
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: .5rem;
  padding-left: 1.8rem;
}

.progressBarContainer {
  .progressBar {
    background: #e3e3e3;
    height: 5px;

    .progressBarFiller {
      height: 5px;
    }
  }
}
.progressBar,
.progressBarFiller {
    // removiendo barra por paginador
    display: none;
}
.buttonShowMore {
    // removiendo boton por paginador
    display: none;
  margin: 10px 0;

  @media (max-width: 768px) {
    :global(.vtex-button) {
      width: 60%;
    }
  }
}
.showingProducts {
  // remiviendo mostrando por paginador
  display: none;
}

.filterTemplateOverflow {
  &::-webkit-scrollbar {
    width: 12px;
    scrollbar-width: auto;
    scrollbar-color: #004714 #ffffff;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #004714;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
}

.filter__container--priceRange {
  .filterTemplateOverflow {
    :global(.vtex-slider-container) {
      width: 100% !important;

      :global(.vtex-slider) {
        width: 100% !important;
      }

      :global(.vtex-slider__values-container) {
        width: 100% !important;
        display: flex;
        justify-content: center;

        :global(.vtex-slider__right-value),
        :global(.vtex-slider__left-value),
        :global(.vtex-slider__dash) {
          font-size: 12px;
          display: flex;
        }
      }
    }
  }
}

.orderByDropdown {
  .orderByButton {
    border: none;
  }

  .orderByOptionsContainer {
    width: max-content;
    z-index: 32;
  }
}
// Filtros seleccionados posición
:global(.vtex-flex-layout-0-x-flexCol--filterCol) {
  margin-bottom: 3rem;
}
// cambio color botón ver más filtros
.seeMoreButton{
color: #101010;
font-weight: bold;
}
.filtersWrapper {
  justify-content: center;
}

.galleryItem--grid {
  @media (max-width: 768px) {    
    padding: 2.5px;
    padding-top: 12px;
  }
}

.layoutSwitcher{
  :global(.vtex-button){
    background-color: transparent!important;
  }
}