.videoContainer--videoDesktop,
.videoContainer--videoMobile {
  text-align: center;
  border: none;
}

.videoElement--videoDesktop {
  object-fit: contain;
  max-width: 1920px;
}

.videoElement--videoMobile {
  object-fit: contain;
}


:global(.vtex-store-video-1-x-videoContainer--videoDesktop) {
  width: 100% !important;
  height: 100% !important;

  @media screen and (max-width: 1024px) {
    margin-top: 4rem;
  }
}

:global(.vtex-store-video-1-x-videoElement--carousel-click-home) {
cursor: pointer;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-slider-layout-0-x-videoContainer--carousel-click-home) {
    width: 100%;
    margin-top: 4rem;
    height: auto !important;
    border: none;
    }
}

.videoContainer--video-banner-principal{
  width: 100%;
  height: -webkit-fill-available;
  @media (max-width: 1024px){
    height: 520px !important;
  }
}

:global(.vtex-store-video-1-x-videoElement--carousel-autumncampaign) {
  cursor: pointer;
}

.videoContainer--carousel-click-autumncampaign{
  max-height: 600px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
    :global(.vtex-slider-layout-0-x-videoContainer--carousel-autumncampaign) {
    width: 100%;
    // height: auto !important;
    border: none;
  }
}

.videoContainer--carousel-click-autumncampaign {
  border: none;
}