@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

.notificationBarContainer {
  height: 45px;
}

.frameAround,
.skuSelectorInternalBox {
  border-radius: 0;
}

.notificationContent {
  color: #fff !important;
  font-family: 'Maven Pro';
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 12px;
  text-decoration: none;
  padding: 5px;
  text-align: center;

  :first-child {
    color: #fff !important;
    font-family: 'Maven Pro';
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
  }
}

.skuSelectorName {
  color: #332927;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.notificationBarInner {
  height: 45px;
  min-height: 45px;
}

.searchBarContainer {
  @media screen and (min-width: 40em) {
    height: 48px;
    max-width: 52rem;
  }

  .searchBarInnerContainer--search-header {
    :global(.vtex-input-prefix__group) {
      // border: 1px solid #fff;
      // margin-right: 20px;
      background-color: #fff;
      height: 35px !important;
      border: none !important;

      @media screen and (max-width: 1396px) {
        margin-right: 8px;
      }

      :global(.vtex-input__prefix) {
        background-color: transparent;

        @media screen and (max-width: 1396px) {
          padding-right: 6px;
          padding-left: 6px;
        }

        @media screen and (min-width: 40em) {
          position: absolute;
          right: 0;
          top: 9px;
        }
      }
    }

    & :global(.vtex-styleguide-9-x-hideDecorators) {
      background-color: transparent;
      color: #727273;

      @media screen and (min-width: 40em) {
        text-align: center;
      }
    }

    & :global(.vtex-styleguide-9-x-hideDecorators)::after {
      content: '|';
      color: #727273;
      height: 60%;
    }

    & :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
      color: #727273;
      font-size: 16px;

      @media screen and (max-width: 1304px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1213px) {
        font-size: 12px;
      }

      @media screen and (max-width: 1026px) {
        font-size: 16px;
      }
    }
  }
}

.searchBarInnerContainer--search-header {
  .searchBarIcon {
    color: #727273;
  }

  // .suffixWrapper--search-header {
  //   .searchBarIcon {
  //     display: none;
  //   }
  // }
}

.resultsList--search-header-mobile {
  max-width: 76%;
  margin-top: 5px;
  left: 5px;
}

.imageElement {
  width: 100%;
}

.diagonalCross {
  background-image: linear-gradient(to top right,
      transparent 44%,
      rgb(255, 255, 255) 48%,
      currentColor 48%,
      currentColor 52%,
      transparent 54%);
  z-index: 2;
}

.subscriberContainer {
  display: none;
}

.productImagesThumb {
  max-width: 74px;
  max-height: 58px !important;
  border: 1px solid #ddd;
}

// .productImageTag--main {
//   max-height: none !important;
// }

.figure {
  height: 56px;
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbImg {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
@media screen and (min-width: 40em) {
  .notificationBarContainer {
    height: 30px;
  }

  .notificationBarInner {
    height: 30px;
    min-height: 30px;
  }

  .notificationContent {
    font-size: 14px;
    text-align: center;

    :first-child {
      font-size: 14px;
    }
  }
}

.infoCardImageContainer--vestuario-hombre-image,
.infoCardImageContainer--info-card-ventajas-competitivas {
  :first-child {
    width: 100%;
  }
}

.imageElementLink--logo-footer {
  width: auto;
  margin-right: 10px;

  .imageElement--logo-footer {
    width: auto;
  }
}

.imageElement--sello-ccs {
  width: auto;
}

/* NEWSLETTER */
.newsletter--footer-newsletter {
  margin-top: 2em;
  max-width: 340px;

  .container--footer-newsletter {
    padding: 0 !important;
  }

  .form--footer-newsletter {
    text-align: left;
    padding: 0;
  }

  .label--footer-newsletter {
    color: #fff;
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 400;

    &::after {
      content: 'Suscribete y recibe nuestras novedades y promociones.';
      font-size: 12px;
      display: block;
      text-align: left;
      margin-top: 10px;
      text-transform: none;
    }
  }

  .confirmationTitle--footer-newsletter,
  .confirmationText--footer-newsletter {
    color: #fff;
    text-align: left;
  }

  :global(.vtex-input-prefix__group) {
    border: none;
  }

  .inputGroup--footer-newsletter {
    background-color: #fff;
    position: relative;
    margin-top: 17px;
    padding-top: 0;

    :global(.vtex-styleguide-9-x-input) {
      font-size: 14px;
      font-family: 'Poppins';
    }
  }

  .buttonContainer--footer-newsletter {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 0;
    margin: 0;
    background-color: white;
    height: 19px;

    :global(.vtex-button) {
      width: 19px;
      height: 19px;
      background-image: url(https://merrellcl.vteximg.com.br/arquivos/send-compressor.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;

      &:hover,
      &:focus {
        font-size: 0;
        min-height: unset;
        position: static;
        border: none;
        outline: none;
      }

      :global(.vtex-button__label) {
        height: 19px;

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}

// Landing Cyber Day
.infoCardContainer--image-full {
  padding: 0;

  .infoCardImageContainer {
    width: 100%;

    .infoCardImage {
      width: 100%;
    }
  }

  .infoCardTextContainer {
    display: none;
  }
}

.infoCardContainer--image-guia {
  padding: 0;

  .infoCardImageContainer {
    display: flex;
    margin: 0 auto;
    width: 100%;

    .infoCardImage {
      width: 100%;
    }
  }
}

.autoCompleteOuterContainer--search-header-mobile {
  :global(.vtex-input__suffix) {
    display: none;
  }
}

.imageElement--tabla-despacho {
  width: auto;
}

.discountInsideContainer {

  // right: auto;
  // left: 0;
  //margin-top: 55px;
  @media (max-width: 764px) {
    font-size: 8px;
    //margin-top: 30px;
  }
}

// LANDING GIFTCARD
.imageElement--lg-encabezado,
.imageElement--lg-pasos {
  max-width: 1025px;
}

.imageElementLink--menu-about-us {
  .imageElement--menu-about-us {
    border-top: thin solid #000;
    border-bottom: thin solid #000;
    width: 180px;
    padding: 10px 0;
    margin-right: 1rem;
  }
}

:global(.vtex-rich-text-0-x-container--textTienda) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
}

//item wishlist menu
.imageElementLink--wishlist-desktop {
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 4px 15px -2px 10px;

  @media (max-width: 600px) {
    z-index: 3;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/arquivos/favorites-svg-not-fill-not-stroke.svg) no-repeat;
    background-size: contain;
    margin: 0 auto;

    @media (max-width: 600px) {
      width: 19px;
      height: 19px;
    }
  }

  .imageElement--wishlist-desktop {
    display: none;
  }

  &::after {
    content: 'Favoritos';
    text-transform: uppercase;
    font-size: 8px;
    color: rgb(255, 255, 255);
  }
}

// lianas urban safari
.imageElement--lianas {
  opacity: 0.1;
  width: 200px !important;
  max-height: none !important;
  height: 600px;

  @media (max-width: 767px) {
    opacity: 0.05;
  }
}

//share component
.shareContainer {
  position: absolute;
  top: -10px;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 5px 10px;

  &:hover {
    border: 1px solid rgb(207, 207, 207);

    .shareLabel {
      &::before {
        background: url('https://catcl.vteximg.com.br/arquivos/icon-share_yellow.png') no-repeat;
        background-size: contain;
        filter: hue-rotate(60deg) brightness(0.5);
      }
    }

    .shareButtons {
      visibility: visible;
      opacity: 1;
    }
  }

  .shareLabel {
    font-size: 0;
    margin: 0;
    align-self: center;

    &::before {
      content: '';
      display: block;
      width: 22px;
      height: 24px;
      background: url('https://catcl.vteximg.com.br/arquivos/icon-share_black.png') no-repeat;
      background-size: contain;
    }
  }

  .shareButtons {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
  }

  .shareSocialButton {
    margin: 5px 0 0;
    z-index: 200;
  }

  @media (max-width: 1200px) {
    position: static;
    flex-direction: row;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-bottom: 30px;

    .shareLabel {
      margin-right: 15px;
    }

    .shareButtons {
      flex-direction: row;
      visibility: visible;
      opacity: 1;
    }

    .shareSocialButton {
      margin: 0 15px 0 0;
      z-index: 200;
    }
  }
}

// landing campaña otoño
.infoCardContainer--info-banner {
  min-height: 400px;
}

:global(.vtex-store-components-3-x-infoCardTextContainer--info-banner) {
  background: #ffc904;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border: 1px solid white;
  cursor: pointer;
  display: none;
}

:global(.vtex-store-components-3-x-infoCardCallActionContainer--info-banner) {
  text-decoration: none;

  :global(.vtex-button) {
    background: transparent !important;
    border: none !important;
    color: black;
  }

  // button {
  //   background: transparent !important;
  //   border: none !important;
  //   color: black;
  // }
}

:global(.vtex-store-components-3-x-infoCardCallActionText--info-banner) {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

:global(.vtex-store-components-3-x-infoCardCallActionText--info-banner)::after {
  content: ' ►';
  background-color: #ffc904;
  width: 200px;
}

// Landing mom by nature
@media (max-width: 1023px) {
  .infoCardContainer--info-cards-bottom {
    display: flex;
    flex-flow: column-reverse;
  }
}

.infoCardCallActionContainer--info-cards-bottom {
  :global(.vtex-button) {
    width: 200px;
    border-radius: 30px;
    height: 60px;

    &:hover {
      background-color: #fff;
    }
  }
}

.infoCardCallActionContainer--info-cards-bottom {
  :global(.vtex-button__label) {
    color: #fff;

    &:hover {
      color: #004f17;
    }
  }
}

.infoCardTextContainer--info-cards-bottom {
  align-items: center;
}


:global(.vtex-product-summary-2-x-element) {
  :global(.vtex-product-summary-2-x-skuSelectorContainer--summary-selector) {
    z-index: 1000;
    position: absolute;
    max-height: 50px;
    width: 100%;
    bottom: 0;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    transition: opacity .3s;
    opacity: 0;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }

    .skuSelectorSubcontainer {
      margin-bottom: 0;

      .skuSelectorTextContainer {
        display: none;
      }

      .skuSelectorOptionsList {
        justify-content: center;

        :global(.vtex-product-summary-2-x-sliderLayoutContainer--summary-selector) {
          max-width: 300px;

          @media (max-width: 1441px) {
            max-width: 250px;
          }
        }

        .skuSelectorItemTextValue {
          padding: 8px;
          min-width: 34px;
          height: 100%;
          font-size: 0.9rem;
          background: #fff;
          color: #000;
          outline: none;

        }

        :global(.vtex-product-summary-2-x-skuSelectorItem--selected) {
          .skuSelectorItemTextValue {
            background: #004714;
            color: #fff;
          }
        }
      }
    }
  }

  &:hover {
    :global(.vtex-product-summary-2-x-skuSelectorContainer--summary-selector) {
      opacity: 1;
    }
  }
}

:global(.vtex-shelf-1-x-shelfContentContainer),
:global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
  :global(.vtex-product-summary-2-x-element) {
    :global(.vtex-wish-list-1-x-wishlistIconContainer) {
      left: 0;
    }

    :global(.vtex-product-summary-2-x-skuSelectorContainer--summary-selector) {
      padding: 0 15px;
      margin-bottom: 10px;

      .skuSelectorSubcontainer {
        .skuSelectorOptionsList {
          .skuSelectorItem {
            height: 30px;

            .skuSelectorItemTextValue {
              padding: 7px;
              min-width: 30px;
              height: 100%;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.logoContainer {
  @media (min-width: 1201px) {
    padding-top: 0;
  }
}

.imageElement--carousel-click-home-ventajas {
  @media screen and (max-width: 1025px) {
    max-height: 150px !important;
  }
}

//************************* Desktop *******************

//Landing-desafio, banner-jungle-sale

/* .infoCardContainer--banner-jungle-sale {
  height: 600px;

  .infoCardTextContainer {
    width: 100%;

    .infoCardHeadline {
      font-family: 'Island Moments', cursive;
      font-size: 15rem;
      color: #ffc904;
    }

    .infoCardSubhead {
      font-size: 2rem;
      color: #ffff;
    }

    .infoCardCallActionContainer {
      :global(.vtex-button) {
        border-radius: 25px;
      }
    }
  }
} */


