@import './CDA/vtex.disclosure-layout';

// nuevo layout nativo retiro tienda
:global(.vtex-flex-layout-0-x-flexRow--container-retiro-tienda-faq) {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    :global(.vtex-flex-layout-0-x-flexRowContent--container-retiro-tienda-faq) {
        flex-direction: column;

        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            flex-direction: column;
            width: 100% !important;
            margin-bottom: 10px;

            .trigger {
                background-color: #f5f5f5;
                border: solid thin #ddd;
                margin-bottom: 0px;
                padding: 10px;
                padding-bottom: 0;
                margin-top: 0px;

                &.trigger--visible {
                    border-bottom: none;
                    left: 0;
                }

                :global(.vtex-rich-text-0-x-wrapper--titulo-pregunta) {
                    :global(.vtex-rich-text-0-x-paragraph) {
                        padding-bottom: 10px;
                        font-size: 16px;
                        font-weight: 700;
                        color: black;
                        margin: 0;
                    }
                }


            }

            .content--hidden {
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                overflow: hidden;
                height: 0;
            }

            .content--visible {
                padding-top: 0px;
                background-color: #f5f5f5;
                border: solid thin #ddd;
                border-top: none;
                padding: 0px;
                max-height: fit-content;
                transition: 1s;
                height: fit-content;

                :global(.vtex-rich-text-0-x-container--titulo-respuesta) {
                    width: 100%;

                    :global(.vtex-rich-text-0-x-wrapper--titulo-respuesta) {
                        width: 100%;

                        :global(.vtex-rich-text-0-x-paragraph--titulo-respuesta) {
                            border-top: solid thin #ddd;
                            width: 97%;
                            padding: 0px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            box-sizing: border-box;
                            background-color: #fff;
                            color: #777272;
                            font-size: 14px;
                            font-weight: 700;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

// fin nuevo layout nativo retiro tienda