.imageNormal {
    height: auto!important;
}
.hoverImage {
    z-index: 0;
}

// FIX IMG HOVER EN MOBILE (Para que no se vea un cuadrado blanco)
@media all and (max-width: 1025px) {
    .hoverEffect:hover {
        .mainImageHovered {
            opacity: 1;
        }
    }
}

.frameAround--summary-selector {
    border: none;
}