@import './CDA/vtex.tab-layout';
/* Mobile 1 */
.listContainer {
    flex-wrap: nowrap;
    border-bottom: 1px solid #ddd;
    .listItem {
        border: 1px solid #ddd;
        margin-bottom: -1px;
    }
    .listItemActive {
        border-bottom: 1px solid white !important;
        z-index: 2;
        
    }
}
.listItem {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.container--product-tabs {
    :global(.vtex-button) {
      color: #555;
      cursor: default;
      background-color: #fff;
      border: none;
      border-radius: unset;
    }
    :global(.vtex-button):focus {
        /* border-bottom: 1px solid #ffffff !important;
        outline-style: none;
        z-index: 2;
        border-radius: unset; */
    }
    :global(.vtex-button__label) {
        font-size: 14px;
        text-transform: none;
    }
    .contentItem {
        :global(.vtex-reviews-and-ratings-1-x-container) {
            margin: 0;
            padding: 0 8px;
            :first-child {
                font-family: Poppins,sans-serif;
                font-weight: 400;
                font-size: 1.25rem;
                text-transform: none;
                letter-spacing: 0;
                border: none;
            }
        }
    }
}
  /* Medium */
  /* @media screen and (min-width: 20em) {} */
  /* Desktop */
  @media screen and (min-width: 40em) {
      .container--product-tabs {
        width: 80%;
        margin: 0 auto;
      }
      .listContainer {
          justify-content: start;
      }
  }