@import "./CDA/vtex.store-link";
@import "./references";

.link--cyber-day {
  max-width: 45px;
  max-height: 40px;
  border-radius: 0;

  .label--cyber-day {
    padding: 0;
  }
}

// landing campaña otoño
.link--info-banner {
  margin: auto;
  width: 38%;
  padding: 10px;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent;

  &:hover {
    border: 2px solid #ffc904;
    border-radius: 20px;
    background-color: transparent;
  }

  .label--info-banner {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 0 !important;
  }
}

.buttonLink--btn-shop-collection {
  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 20px;
}

.buttonLink--btn-view-products,
.link--btn-banner-mobile {
  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 20px;
  height: 20%;
  width: 70% !important;
}

.label--btn-banner-mobile {
  padding: 0px 10px;
}

.link--banner-btn-template {
  color: #fff;
  font-size: 1rem;
  min-width: 9rem;
  height: 3rem;
  text-decoration: none;
  font-weight: 500;
  background-color: #00471b;
  border: none;
  border-radius: 30px;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #006928;
  }

  @media screen and (min-width: 1026px) {
    font-size: 1.3rem;
    min-width: 178px;
    height: 55px;
  }
}

.link--cta-template {
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  border: 1px solid #000;
  min-width: 10rem;
  height: 2.75rem;
  background-color: transparent;
  transition: background-color .2s ease-in-out;

  &:hover {
    color: #000;
    background-color: #eee;
  }
}

//*************************Desktop*******************

//Banner-jungle-sale

.buttonLink--boton-jungle-sale {
  border-radius: 25px;

  .label {
    padding: 0px 100px;
  }
}

//Banner-puntos-acumulados

.buttonLink--boton-puntos-acumulados {
  border-radius: 25px;
  background-color: transparent;
  border-color: #ffff;

  .label {
    padding: 0px 20px;
    font-size: 0.75rem;
  }
}

// Contenedor botones accesorios

.buttonLink--boton-accesorios {
  border-radius: 25px;

  .label--boton-accesorios {
    padding: 0px 100px;
    font-size: 1.25rem;
  }
}

//************************* Mobile *******************

//Mobile Banner-jungle-sale

.buttonLink--mobile-boton-jungle-sale {
  border-radius: 25px;

  .label {
    font-size: 0.7rem;
    padding: 0px 20px;
  }
}

// Contenedor botones accesorios
.buttonLink--mobile-boton-accesorios {
  border-radius: 25px;
  margin-bottom: 10px;
  width: 15rem;

  .label--mobile-boton-accesorios {
    padding: 0px 0px;
    font-size: 0.75rem;
  }
}
