.box {
    right: -55px !important;
    left: unset !important;
}
.arrowUp {
    right: 8px !important;
    left: unset !important;
}
.buttonSocial {
    :global(.vtex-button) {
        &:hover {
            background-color: #fff !important;
        }
    }
}
.container {
    :global(.vtex-button) {
        background: transparent;
        border: 0!important;
        outline: none;
        & :first-child {
            padding-right: 0;
        }
    }
}

.label {
    font-family: "Maven Pro",Arial,sans-serif;
    display: flex;
    font-size: 0;
    padding: 3px 0 0 0;
    margin: 0;
}

.label::before {
    content: "";
    background: url(/arquivos/people.png) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    @media(max-width:400px){
        width: 20px;
        height: 21px;
    }
}
.profile {
    color: white;
    font-size: 0;
    display: block;
    &::before {
        content: "";
        background: url(/arquivos/people.png) no-repeat;
        width: 22px;
        height: 22px;
        display: inline-block;
        background-size: contain;
    }
}
.accountOptions {
    color: white;

    :global(.vtex-button),
    .button {
        outline: none;
        border-radius: 0;
        color: #004714;
        background: none;
        &:hover {
            color: white;
            background:  rgb(0, 71, 20) !important;
        }
    }
}
.backButton {
    :global(.vtex-button) {
        &:hover {
            color: #fff;
            background:  rgb(0, 71, 20) !important;
        }
    }
}
.content {
    :global(.vtex-button) {
        &:hover {
            background: rgba(0, 71, 20, 0.904);
            color:#fff !important;            
        }
    }
    :global(.vtex-login-2-x-googleOptionBtn) {
        button {
            &:hover {
                color:rgb(0, 71, 20) !important;
            }
        }
    }
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */

.container {
    :global(.vtex-button) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 11px;
        z-index: 3;
        &::after {
            content: "Cuenta";
            text-transform: uppercase;
            font-size: 8px;
            color: #fff;
            margin-top: 2px;
        }
        & :first-child {
            padding: 0!important;
            margin: 0 4px;
            @media all and (max-width:40em) {
                margin: 0;
            }
        }
    }
}
