// Ícono
.wishlistIconContainer {
    :global(.vtex-button__label){
        padding-left: 5%;
        @media(max-width:1024px){
            padding-left: 0;
        }
    }
    .wishlistIcon {
        background: url('/arquivos/favorites-svg-not-fill.svg');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.8;
        @media(max-width:680px){
            display: flex;
            width: 180px;
        }
    }

    .fill {
        background: url('/arquivos/favorites-svg-fill.svg');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.8;
        @media(max-width:680px){
            display: flex;
            width: 180px;
        }
    }
}

// PDP
// En mobile se oculta wishlist y se modifica width de product-name
:global(.vtex-flex-layout-0-x-flexRowContent--row-name-and-wishlist) {
    @media (min-width: 280px) and (max-width: 1025px) {
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            &:first-child {
                width: 100% !important;
            }
            &:nth-child(2n) {
                display: none !important;
                width: unset !important;
            }
        }
    }
}

:global(.vtex-modal-layout-0-x-paper--quickview) {
    :global(.vtex-flex-layout-0-x-flexColChild--wishlist-pdp-desktop) {
        margin-left: 5%;
        margin-bottom: 2%;
        @media(max-width:1024px){
            margin-left: 0;
        }
        .wishlistIconContainer {
            :global(.vtex-button) {
                &:hover {
                    background-color: transparent;
                }
                
                .outline {
                    &::after {
                        content: "Agregar a favoritos";
                        font-size: 14px;
                        display: flex;
                        margin-left: -45px;
                        margin-top: 30px;
                        text-transform: initial;
                        width: max-content;
                        flex-wrap: wrap;
                        justify-content: center;
                        @media(max-width:1024px){
                            margin-left: -55px;
                        }
                        @media(max-width:680px){
                            margin-left: 36px;
                            margin-top: 5px;
                        }
                    }
                }
                .fill {
                    &::after {
                        content: "Quitar de favoritos";
                        font-size: 14px;
                        display: flex;
                        margin-left: -45px;
                        margin-top: 30px;
                        text-transform: initial;
                        width: max-content;
                        flex-wrap: wrap;
                        justify-content: center;
                        @media(max-width:680px){
                            margin-left: 36px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

:global(.vtex-flex-layout-0-x-flexRow--product-main) {
    :global(.vtex-flex-layout-0-x-flexColChild--wishlist-pdp-desktop) {
        margin-left: 5%;
        margin-bottom: 2%;
        @media(max-width:1024px){
            margin-left: 0;
        }
        .wishlistIconContainer {
            :global(.vtex-button) {
                &:hover {
                    background-color: transparent;
                }
                
                .outline {
                    &::after {
                        content: "Agregar a favoritos";
                        font-size: 14px;
                        display: flex;
                        margin-left: -45px;
                        margin-top: 30px;
                        text-transform: initial;
                        width: max-content;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
                .fill {
                    &::after {
                        content: "Quitar de favoritos";
                        font-size: 14px;
                        display: flex;
                        margin-left: -45px;
                        margin-top: 30px;
                        text-transform: initial;
                        width: max-content;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
        }
    }

    // Mobile
    :global(.vtex-flex-layout-0-x-flexRow--wishlist-mobile) {
        // En desktop se oculta
        @media (min-width: 1026px) {
            display: none;
        }

        .wishlistIconContainer {
            padding: 0 65px;
            @media (max-width: 319px) {
                padding: 0 60px;
            }
            @media (min-width: 375px) and (max-width: 424px) {
                padding: 0 95px;
            }
            @media (min-width: 425px) and (max-width: 767px) {
                padding: 0 150px;
            }
            :global(.vtex-button){
                display: flex;
            }
            
        }
        
        .outline {
            &::after {
                content: "Agregar a favoritos";
                font-size: 14px;
                display: inline-block;
                margin-left: 35px;
                margin-top: 5px;
                text-transform: initial;
                width: max-content;
            }
        }

        .fill {
            &::after {
                content: "Quitar de favoritos";
                font-size: 14px;
                display: inline-block;
                margin-left: 35px;
                margin-top: 5px;
                text-transform: initial;
                width: max-content;
            }
        }
    }
}

// Shelf
:global(.vtex-product-summary-2-x-containerNormal) {
    &:hover {
        .wishlistIconContainer {
            :global(.vtex-button) {
                background-color: transparent;
                border-color: transparent;
                transition: none;
            }
        }
    }

    .wishlistIconContainer {
        :global(.vtex-button) {
            background-color: transparent;
            border-color: transparent;
            transition: none;
        }
    }
} 

.emptyMessage {
    text-align: center;
    margin: 0 30px 30px;
    font-size: 0;
    &::after {
        content: "Tu listado de productos favoritos está vacío.";
        font-size: 16px;
    }
}

//pagina wishlist, vitrina
:global(.vtex-flex-layout-0-x-flexRow--wishlist-items) {
    width: 100%;
    :global(.vtex-list-context-0-x-list) {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        :global(.vtex-list-context-0-x-item){
            margin-bottom: 3rem;
            flex-basis: 32% !important;
            max-width: 32% !important;
            margin-right: unset;
            @media(max-width: 1285px){
                flex-basis: 28%!important;
                max-width: 28%!important;
                margin-right: 2rem;
            }
            @media(max-width: 855px){
                margin-right: 1rem;
            }
            @media(max-width: 500px){
                flex-basis: 40%!important;
                max-width: 40%!important;
            }
            :global(.vtex-flex-layout-0-x-flexRowContent--row-prices) {
                :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
                    height: auto;
                }
            }
        }
    } 
}

//icono wishlist en vitrina mobile
:global(.vtex-search-result-3-x-galleryItem){
    .wishlistIconContainer{
        :global(.vtex-button__label){
            @media(max-width:680px){
                padding-right: 0;
            }
        }
    }
    .wishlistIcon {
        background: url('/arquivos/favorites-svg-not-fill.svg');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.8;
        @media(max-width:680px){
            display: flex;
            width: 25px;
        }
    }
}