.container--home-1 {
  :global(.vtex-product-summary-2-x-priceContainer) {
    padding: 0;

    :global(.vtex-product-summary-2-x-installmentContainer) {
      display: none;
    }

    :global(.vtex-product-summary-2-x-productPriceClass) {
      display: flex;
      flex-direction: column;
    }
  }

  .dot {
    background-color: #c4c4c4;
  }

  .dot--isActive {
    background-color: #004714;
  }
}

.title--shelf-template {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 1.75rem;
  text-transform: none;
  letter-spacing: 0;
}

.container--home-2 {
  margin-left: 20px;
  margin-right: 20px;

  .shelfContentContainer--home-2 {
    .sliderContainer--home-2 {
      :global(.vtex-slider-0-x-sliderFrame) {
        .slide--home-2 {
          padding: 5px;

          :global(.vtex-product-summary-2-x-element) {
            align-items: center;
            justify-content: center;

            :global(.vtex-wish-list-1-x-wishlistIconContainer) {
              display: none;
            }

            :global(.vtex-product-summary-2-x-nameContainer) {
              height: 56px;
            }

            :global(.vtex-flex-layout-0-x-flexRow--row-prices) {
              height: 50px;

              :global(.vtex-flex-layout-0-x-flexRowContent--row-prices) {
                flex-direction: row;
                justify-content: center;
                align-items: center;

                :global(.vtex-product-price-1-x-sellingPrice) {
                  margin-top: 0px;
                  margin-left: 10px;
                }
              }
            }

            :global(.vtex-button) {
              width: 90%;
              visibility: hidden;
            }
          }

          &:hover {
            @media (min-width: 1024px) {
              border: 1px solid #398132;

              :global(.vtex-button) {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }

  :global(.vtex-product-summary-2-x-SKUSelectorContainer) {
    display: none;
  }
}

//*************************Desktop*******************

//************************* Mobile *******************

// Productos recomendados
.title--productos-recomendados {
  font-size: 2rem;

  @media (max-width: 430px) {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
  }
}
