

:global(.vtex-product-specification-badges-0-x-groupContainer) {
    margin: 0px;
:global(.vtex-product-specification-badges-0-x-badgeText){
      font-size: 11px;
        color: #727273;
        margin: 0px;
        font-family: 'Poppins', SansSerif, sans-serif;
}
    .badgeText--pais-de-fabricacion {

        &::after {
            content: ": ";
            font-size: 11px;
        }
    }
}