/* Mobile */
.container {
  .containerImg {
    background-color: #F0F0F0;
  }
  .img {
    max-width: none;
  }
  .arrowLeft {
    background-image: url('/arquivos/arrowLeft.png?v=1');
    width: 30px;
    height: 30px;
  }
  .arrowRight {
    background-image: url('/arquivos/arrowRight.png?v=1');
    width: 30px;
    height: 30px;
  }
  .caretIcon {
    opacity: 0;
  }
}



/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
@media screen and (min-width: 40em) {
  
}
