.biggy-autocomplete-wrapper {
    @media (max-width: 1024px) {
        width: 94vw;
    }
    // @media (max-width: 1024px) {
    //     width: 33.8vw;
    // }
    .biggy-autocomplete {
        @media (max-width: 1024px) {
            width: 100%;
            margin-top: -1px;
            padding-top: 0;
            max-height: none;
        }
        .tileList {
            .tileListItem {
                :global(.vtex-product-summary-2-x-container) {
                    :global(.vtex-product-summary-2-x-clearLink) {
                        :global(.vtex-product-summary-2-x-buyButtonContainer) {
                            display: none;
                        }
                    }
                }
            }
            .tileListSeeMore {
                color: #000;
            }
        }
    }

    :global(.vtex-button) {
        width: 80%;
        margin: auto;
    }

    :global(.vtex-modal-layout-0-x-triggerContainer--quickview){
        display:none;
    }
}
