// BUY BUTTON MOBILE (STICKY)
:global(.vtex-sticky-layout-0-x-container--buy-button-pdp-mobile) {
    .quantitySelectorContainer--product-quantity-class {
        margin: 0;
    }
    .quantitySelectorTitle--product-quantity-class {
        text-align: center;
    }
    :global(.vtex-numeric-stepper__input) {
        font-size: 12px;
    }
    :global(.vtex-numeric-stepper__plus-button),
    :global(.vtex-numeric-stepper__minus-button) {
        width: 32px!important;
        height: 32px!important;
    }
    :global(.vtex-numeric-stepper__plus-button__text),
    :global(.vtex-numeric-stepper__minus-button__text) {
        font-size: 12px!important;
    }
}