.container {
    background-color: transparent;
    width: auto;
    height: 42px;
    :global(.vtex-store-components-3-x-container) {
        margin: 0;
        overflow: hidden;
    }
}

.firstLevelLink {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
    color: #000 !important;
    font-size: 17px !important;
    letter-spacing: -1px;
    font-family: 'Maven Pro';
    padding-top: 38px;
}

.secondLevelLink {
    color: #000 !important;
    text-transform: none !important;
    padding: 5px 0;
    font-family: 'Maven Pro';
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
// @media screen and (min-width: 40em) and (max-width: 1150px) {
//     .container {
//         :global(.vtex-store-components-3-x-container) {
//             padding: 0;
//         }
//     }
// }