:global(.vtex-styleguide-9-x-popup) {
    z-index: 999999!important;
}
.tooltipLabelText {
    font-size: 0;
    @media(max-width: 1024px) {
        display: block;
        padding-bottom: 20px;
    }
    &::before {
        content: "Por favor selecciona una talla (en algunos productos también debes seleccionar un color)";
        font-size: 12px;
        @media(max-width: 1024px) {
            display: block; 
        }
    }
}

.buttonDataContainer {
    @media(max-width: 450px) {
        font-size: 12px;
    }
}