@import "./references";

// CUCARDAS CYBER

// Cucarda en shelfs
.stackItem--product-badge {
  right: auto;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  // @media (max-width: 639px) {
  //   padding-top: 20px;
  // }
  &--summary-selector {
    position: relative;
  }

  :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
    font-size: 0;
    width: 70px;
    height: 70px;
    display: block;
    margin-right: 15px;

    &[data-highlight-id=""] {
      background: url("/arquivos/cucardacybermonday.png") no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &[data-highlight-id="137"] {
      display: none;
    }

    &[data-highlight-id="495"] {
      display: none;
    }

    &[data-highlight-id="561"] {
      display: none;
    }

    &[data-highlight-id="557"] {
      display: none;
    }

    &[data-highlight-id="450"] {
     display: none;
    }

    &[data-highlight-id="619"] {
      background: url("/arquivos/cucarda_calcetines3x2.jpg") no-repeat;
      background-size: contain;
      background-position: right center;
      margin-top: 0px;
      // margin-left: auto;

      @media (max-width: 640px) {
        height: 65px;
      }

      @media (max-width: 575px) {
        height: 25px;
      }
    }

    @media all and (max-width: 575px) {
      height: 50px;
      width: 50px;
    }

    &[data-highlight-id="609"] {
      display: none;
      // background: url("/arquivos/cucarda-despacho-un-dia.png") no-repeat;
      // background-size: contain;
      // width: 80px;
      // height: 35px;
      // @media (max-width: 639px) {
      //   max-width: 60px;
      //   top: 20px;
      // }
    }

    &[data-highlight-name="New Arrivals"] {
      display: none;
    }

    &[data-highlight-id="611"] {
      display: none;
    }

    &[data-highlight-id="658"] {
      display: none;
    }

    &[data-highlight-id="398"] {
      display: none;
    }
  }
}

// Cucarda en PDP
.stackItem--product {
  right: auto;
  right: 15px;
  display: flex;
  flex-direction: column;
  :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
    font-size: 0;
    width: 80px;
    height: 80px;
    display: block;
    margin-right: 10px;

    &[data-highlight-id="561"] {
      display: none;
    }

    &[data-highlight-id=""] {
      background: url("/arquivos/cucardacybermonday.png") no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &[data-highlight-id="658"] {
      display: none;
    }

    &[data-highlight-id="609"] {
      display: none;
      // background: url("/arquivos/cucarda-despacho-un-dia.png") no-repeat;
      // background-size: contain;
      // background-position: center;
      // margin-top: 5px;
      // margin-left: 22%;
      // width: 80px;
      // height: 30px;
      // order: 3;
      // @media (max-width: 639px) {
      //   margin-left: 15px;
      // }
    }

    &[data-highlight-name="New Arrivals"] {
      display: none;
    }

    &[data-highlight-id="611"] {
      display: none;
    }

    &[data-highlight-id="450"] {
      display: none;
    }

    &[data-highlight-id="619"] {
      background: url("/arquivos/cucarda_calcetines3x2.jpg") no-repeat;
      background-size: contain;
      position: absolute;
      top: 15px;
      right: 0;
      width: 70px;
      @media (max-width: 639px) {
        width: 60px;
      }
    }

    &[data-highlight-id="557"] {
      display: none;
    }

    &[data-highlight-id=""] {
      background: url("/arquivos/cucarda-ss.png") no-repeat;
      background-size: contain;
      background-position: center center;
      margin-left: 135px;
      margin-top: 10px;
      width: 70px;
      height: 70px;

      @media (max-width: 1200px) {
        margin-left: 100px;
      }

      @media (max-width: 860px) {
        margin-left: 65px;
        width: 60px;
        height: 60px;
      }

      @media (max-width: 640px) {
        margin-left: 10px;
        width: 60px;
        height: 60px;
      }
    }

    &[data-highlight-id="137"] {
      display: none;
    }

    @media all and (max-width: 575px) {
      height: 60px;
      width: 60px;
      margin-left: 0px;
    }

    &[data-highlight-id="398"] {
      display: none;
    }
  }
}

//cucarda en shelfs
:global(.vtex-shelf-1-x-slide) {
  :global(.vtex-product-summary-2-x-container) {
    :global(.vtex-product-summary-2-x-element) {
      margin: auto;

      .stackItem--product-badge {
        display: flex;
        flex-direction: column-reverse;

        :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
          font-size: 0;
          width: 70px;
          height: 70px;
          display: block;
          margin-right: 15px;

          &[data-highlight-id="557"] {
            display: none;
          }

          &:nth-child(2n) {
            margin-top: 0;
          }

          &:nth-child(3n) {
            margin-top: 0;
          }

          &[data-highlight-id="398"] {
            display: none;
          }

          &[data-highlight-id="658"] {
            height: 20px;
          }
      
          // &[data-highlight-id="609"],
          &[data-highlight-id="611"] {
            display: none;
          }
        }
      }
    }
  }
}

//cucardas en autocomplete
:global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  .stackItem--product-badge {
    display: flex;
    flex-direction: column-reverse;

    :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
      font-size: 0;
      width: 100%;
      max-width: 65px;
      height: 30px;
      display: block;
      margin-right: 15px;
      margin-top: 5px !important;
      margin-left: 5px !important;

      &:nth-child(3n) {
        margin-top: 0;
      }

      &:nth-child(3n) {
        margin-top: 0;
      }

      &[data-highlight-id="398"] {
        display: none;
      }
    }
  }
}

// Wishlist Shelfs - Importante no cambiar el orden en stack-layout#prodsum de blocks.json
// o si se hace modificar el nro del hijo
.stackItem--product-badge {
  &:nth-child(5n) {
    position: relative;

    :global(.vtex-wish-list-1-x-wishlistIconContainer) {
      position: absolute;
      bottom: 10px;
      left: 0;

      @media (min-width: 1285px) {
        left: 10px;
      }

      @media (min-width: 1365px) {
        left: 20px;
      }

      @media (max-width: 768px) {
        bottom: -4px !important;
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--wishlist-items) {
  .stackItem--product-badge {
    &:nth-child(4n) {
      position: relative;

      :global(.vtex-wish-list-1-x-wishlistIconContainer) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

// landing rkfmoment

.stackContainer--ppal-rkfmoment-desktop {
  width: 100%;
}

.stackItem--banner-template{
  top: unset;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 1026px) {
    position: inherit;
  }
}