// MODAL TALLA TRIGGERS
:global(.vtex-flex-layout-0-x-flexRowContent--row-modal-triggers) {
    //display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    @media all and (max-width: 768px) {
      flex-direction: column;
      max-width: 350px;
      margin: 25px auto !important;
    }
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
     /*  width: auto !important; */
      @media all and (max-width: 768px) {
        width: 100% !important;
      }
      .triggerContainer--modal-talla-trigger {
       // background: #BC1823;
       background: #004714;
        width: 580px;
        height: 70px;
        margin: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        //border-radius: 10px;
        padding: 10px 25px;
        @media all and (max-width: 768px) {
          width: 100%;
          margin: 10px 0;
        }
        &:hover {
          background: #004714;
          cursor: pointer;
        }
        &.triggerContainer--modal-talla-trigger-ropa {
          width: 580px;
          padding: 10px 25px 10px 20px;
        }
        :global(.vtex-rich-text-0-x-container--trigger-text) {
          width: 100%;
          :global(.vtex-rich-text-0-x-wrapper--trigger-text) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
          }
        }
        :global(.vtex-rich-text-0-x-wrapper--trigger-calzado) {
          &::before {
            content: "";
            background: url("/arquivos/calzadorkf.png") no-repeat;
            background-size: contain;
            background-position: center center;
            width: 60px;
            height: 68px;
            margin-right: 20px;
            display: block;
          }
        }
        :global(.vtex-rich-text-0-x-wrapper--trigger-ropa) {
          &::before {
            content: "";
            background: url("/arquivos/roparkf.png") no-repeat;
            background-size: contain;
            background-position: center center;
            width: 60px;
            height: 68px;
            margin-right: 20px;
            display: block;
          }
        }
        :global(.vtex-rich-text-0-x-paragraph--trigger-text) {
          color: #fff;
          margin: 0;
          text-align: center;
          font-size: 14px;
          line-height: 1.4em;
          text-transform: uppercase;
          :global(.vtex-rich-text-0-x-strong--trigger-text) {
            font-weight: 400;
            font-size: 20px;
          }
        }
      }
    }
  }
  
  // CONTENEDOR DE TALLAS Y TEXTO 
  

  
  :global(.vtex-rich-text-0-x-container--texto){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #534741;
  }


  
  // MODAL TALLAS BOX
  .paper--modal-tallas-box {
    width: 60vw;
    border-radius: 16px;
    background-image: url(/arquivos/back-modal-junglesale.jpg);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
    @media all and (max-width: 991px) {
      width: 100vw;
    }
    @media all and (max-width: 575px) {
      margin: 10px;
    }
    // MODAL HEADER
    .headerContainer {
      flex-wrap: wrap;
      border: none;
      .headerContent {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        order: 1;
        @media all and (max-width: 768px) {
          padding: 0 20px;
        }
        :global(.vtex-rich-text-0-x-wrapper--calzado) {
          display: flex;
          align-items: center;
          @media all and (max-width: 768px) {
              justify-content: center;
          }
         /*  &::before {
            content: "";
            background: url("/arquivos/calzado-negro.png") no-repeat;
            background-size: contain;
            background-position: center center;
            width: 80px;
            height: 50px;
            display: block;
            margin-right: 20px;
            @media all and (max-width: 768px) {
              width: 140px;
              height: 60px;
            }
          } */
        }
        :global(.vtex-rich-text-0-x-wrapper--ropa) {
          display: flex;
          align-items: center;
          @media all and (max-width: 768px) {
              justify-content: center;
              font-size: 19px;
          }   
        }
        :global(.vtex-rich-text-0-x-paragraph--modal-tallas-title) {
          color: #ffffff;
          margin: 0;
          font-size: 26px;
          @media all and (max-width: 768px) {
            text-align: center;
            font-size: 19px;
          }
        }
        :global(.vtex-rich-text-0-x-paragraph--modal-tallas-subtitle) {
          color: #fff;
          margin: 0;
          font-size: 16px;
          @media all and (max-width: 768px) {
            text-align: center;
          }
        }
      }
      .closeButtonContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .closeButton {
          padding: 4px;
          background: #fff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 5px;
          right: 5px;
          .closeIcon {
            width: 20px;
            height: 20px;
            color: #888;
          }
          &:hover {
            .closeIcon {
              color: #000;
            }
          }
        }
      }
    }


    // MODAL CONTENT
    .contentContainer {
      padding: 20px 10px;
      // Botones de género
      :global(.vtex-menu-2-x-menuContainerNav--menu-lista-genero) {
        max-width: unset;
      }
      :global(.vtex-menu-2-x-menuContainer--menu-lista-genero) {
        justify-content: center;
        @media(min-width:1024px){
          margin: auto;
          width: 50%;
          max-width: 385px;
          justify-content: flex-end;
        }
        @media all and (max-width: 768px) {
          
          align-items: center;
        }
        @media all and (min-width: 1395px) {
          width: 48%;
        }
        :global(.vtex-menu-2-x-menuItem) {
          background-color: transparent;
          border: 1px solid #fff;
          margin: 0 20px;
          justify-content: center;
          flex-wrap: wrap;
          @media all and (max-width: 768px) {
            width: 100px;
            margin: 10px 30px;
          }
          @media(min-width:1024px){
            margin: 0 15px;
          }
          &:last-child{
            @media(min-width:1024px) and (max-width:1224px){
              margin: 0;
            }
            @media all and (min-width: 1395px) {
              margin: 0 15px 0 25px;
            }
          }
        }
          :global(.vtex-menu-2-x-styledLinkContainer) {
            padding: 10px 40px;
            margin: 0;
            transition: all 0.2s ease-in-out;
            @media(min-width:1024px){
              padding: 10px 15px;
              min-width: 107px;
            }
            &:hover {
              cursor: pointer;
            }
            :global(.vtex-menu-2-x-styledLinkContent) {
              color: #fff;
              font-weight: bolder;
              font-size: 18px;
              text-transform: uppercase;
              justify-content: center;
  
              @media all and (max-width: 768px) {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
      // Botones de tallas
      :global(.vtex-menu-2-x-menuContainer--menu-lista-tallas) {
        max-width: 100%;
        height: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        //background: #fff;
        align-items: center;
        :global(.vtex-menu-2-x-menuItem) {
          background-color:#EBEBE9;
          border: solid 1px #fff;
          height: 50px;
          width: 50px;
          :global(.vtex-menu-2-x-styledLinkContainer) {
            padding: 10px;
            margin: 0;
            height: 50px;
            width: 50px;
            transition: all 0.2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              cursor: pointer;
            }
            :global(.vtex-menu-2-x-styledLinkContent) {
              color: #00471B;
              font-weight: bolder;
              font-size: 18px;
              text-transform: uppercase;
              justify-content: center;
            }
          }
        }
      }

      :global(.vtex-menu-2-x-menuContainer--first-col-sizes){
        justify-content: flex-end;
        margin-bottom: 0.5rem;
      }
      
      :global(.vtex-menu-2-x-menuContainer--texto) {
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px auto;
        max-width: 100%;
        height: auto;
        background: #fff;
        align-items: center;
        :global(.vtex-menu-2-x-menuItem) {
          background: #EBEBE9;
          margin: 10px;
          height: 40px;
          :global(.vtex-menu-2-x-styledLinkContainer) {
            padding: 10px;
            margin: 0;
            transition: all 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
            }
            :global(.vtex-menu-2-x-styledLinkContent) {
              color: #534741;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }
      }
  
  
      // Imagenes de Calzado
      :global(.vtex-flex-layout-0-x-flexRowContent--row-imagenes-calzado) {
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 50%;
        margin: 0 auto;
        @media all and (max-width: 768px) {
          max-width: 100%;
        }
  
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
          width: 100% !important;
          text-align: center;
         /*  width: auto !important; */
          :global(.vtex-store-components-3-x-imageElement) {
            max-width: 625px;
            margin-top: 20px;
            @media all and (max-width: 450px) {
              max-width: 100%;
            }
          }
          :global(.vtex-rich-text-0-x-paragraph--imagenes-title) {
            color: #534741;
            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1em;
            letter-spacing: 1px;
            @media all and (max-width: 768px) {
              line-height: 1.3em;
              font-size: 16px;
            
            }
          }
        }
      }
      // Botón de búsqueda
      :global(.vtex-rich-text-0-x-container--btn-ver-resultados) {
        justify-content: center;
        :global(.vtex-rich-text-0-x-paragraph--btn-ver-resultados) {
          margin: 0;
          background: #00471B; 
          border: 1px solid #fff;;
          width: 270px;
          height: 68px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 30px;
          :global(.vtex-rich-text-0-x-link--btn-ver-resultados) {
            display: block;
            font-weight: bolder;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            padding: 10px 20px;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }

:global(.vtex-rich-text-0-x-paragraph--trigger-ropa), 
:global(.vtex-rich-text-0-x-paragraph--trigger-calzado){
color: #fff;
  @media(max-width:670px){
    text-align: center;
  }
}