.paginationDot--isActive {
  background-color: #ffc904;
}

.sliderLeftArrow--franja,
.sliderRightArrow--franja {
  background: #fff !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 0.7;

  @media (max-width: 768px) {
    width: 22px;
    height: 22px;
  }
}

.slideChildrenContainer--franja,
.slideChildrenContainer--franja-mobile {
  :first-child {
    height: auto !important;
  }
}

// LANDING ROCKFOR AND FRIENDS SLIDE
.sliderLayoutContainer--carousel-friends {
  .slideChildrenContainer--carousel-friends {
    .imageElementLink {
      width: 100%;
    }
  }

  .paginationDotsContainer--carousel-friends {
    bottom: 15px;

    .paginationDot--isActive {
      background-color: #a62e33 !important;
    }

    .bg-emphasis {
      background-color: #a62e33 !important;

    }
  }
}

// Landings Handcrafted, Greenhouse y Functionality
.paginationDotsContainer {

  &--hc-slider-row-mobile,
  &--gh-slider-row-mobile,
  &--fn-slider-row-mobile {
    padding-bottom: 1rem;

    .paginationDot--isActive {
      background-color: #a62e33;
    }
  }
}

// EDICIÓN FLECHAS LANDING GREENHOUSE

:global(.vtex-flex-layout-0-x-flexRow--arrow-mobile) {
  .sliderLeftArrow {
    bottom: 6%;
    left: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      left: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      left: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      left: 7%;
    }

    .caretIcon--gh-slider-row-mobile {
      color: transparent;
    }
  }

  .sliderRightArrow {
    bottom: 6%;
    right: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      right: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      right: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      right: 7%;
    }

    .caretIcon--gh-slider-row-mobile {
      color: transparent;
    }
  }
}

// EDICIÓN FLECHAS LANDING HANDCRAFTED

.sliderLayoutContainer--hc-slider-row-mobile {
  .sliderLeftArrow {
    bottom: 6%;
    left: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      left: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      left: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      left: 7%;
    }

    .caretIcon--hc-slider-row-mobile {
      color: transparent;
    }
  }

  .sliderRightArrow {
    bottom: 6%;
    right: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      right: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      right: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      right: 7%;
    }

    .caretIcon--hc-slider-row-mobile {
      color: transparent;
    }
  }
}

// EDICIÓN FLECHAS LANDING FUNCTIONALITY

.sliderLayoutContainer--fn-slider-row-mobile {
  .sliderLeftArrow {
    bottom: 6%;
    left: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      left: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      left: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      left: 7%;
    }
  }

  .caretIcon--fn-slider-row-mobile {
    color: transparent;
  }


  .sliderRightArrow {
    bottom: 6%;
    right: 4%;

    @media (min-width: 370px) {
      bottom: 4%;
      right: 2%;
    }
    @media (min-width: 570px) {
      bottom: 6%;
      right: 4%;
    }
    @media (min-width: 1000px) {
      bottom: 7%;
      right: 7%;
    }
  }

  .caretIcon--fn-slider-row-mobile {
    color: transparent;
  }
}

//banner ppal
.imageElementLink--carousel{
  width: 100%;
}

// lianas urban safari
.sliderLayoutContainer--lianas{
  visibility: hidden;
  position: sticky;
  z-index: 99;
  top: 40px;
  .sliderTrack--lianas{
    justify-content: space-between !important;
    transform: none !important;
    width: 100% !important;
    position: absolute;
    top: 50px;
    // overflow: hidden;
  }

  @media (max-width: 1025px) {
    top: 98px;
    .sliderTrack--lianas{
      top: 0;
    }
  }
}

.sliderLayoutContainer--lianas {
  pointer-events: none
}

.slide--lianas{
  width: 150px !important;
}
:global(.vtex-slider-layout-0-x-imageElementLink--carousel-click-home){
  width: 100%;
  :global(.vtex-slider-layout-0-x-imageElement--carousel-click-home){
    width: 2600px !important;
  }
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow--carousel),
:global(.vtex-slider-layout-0-x-sliderRightArrow--carousel),
:global(.vtex-slider-layout-0-x-sliderLeftArrow--carousel-click-home),
:global(.vtex-slider-layout-0-x-sliderRightArrow--carousel-click-home){
  background: #fff!important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: .7;
}

.slideChildrenContainer--shelf-home-rktmoment{
  padding: 0.5rem;
  :global(.vtex-product-highlights-1-x-productHighlightText--cucardas){
    &[data-highlight-id="557"]{
      margin-left:5px !important;
    }
  }
}
// landin campaña otoño
.paginationDotsContainer--carousel-mobile{
  @media (max-width: 1024px ){
    top: 75.5%;
  }
}
.paginationDotsContainer--banner-principal-desktop{
  top: 95%;
}

.sliderLeftArrow--carousel-mobile{
  top: 37%;
  margin-left: 10px;
}
.sliderRightArrow--carousel-mobile{
  top: 37%;
  margin-right: 10px;
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow--banner-principal-desktop),
:global(.vtex-slider-layout-0-x-sliderRightArrow--banner-principal-desktop),
:global(.vtex-slider-layout-0-x-sliderLeftArrow--carousel-mobile),
:global(.vtex-slider-layout-0-x-sliderRightArrow--carousel-mobile){
  background: rgba(255,255,255,0.534)!important;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.caretIcon--banner-principal-desktop{
  width: 50px;
  height: 50px;
}

.paginationDotsContainer--carousel-click-home{
  top: 93%;
}

.paginationDotsContainer--shelf-tiendas,
.paginationDotsContainer--shelf-retiro-tiendas,
.paginationDotsContainer--shelf-beneficios{
    top: 98%;
    @media screen and (max-width: 1025px) {
        top: 102%;
    }
  }

  .slide--w-100 {
  .imageElementLink {
    width: 100%;
  }
}

.sliderLayoutContainer--p1 {
  @media screen and (max-width: 1025px) {
      padding: .5rem!important;
  }
}

.sliderTrack--carousel{
  background-color: #004714;
  height: 70px;
  border-bottom: 6px solid #ffff;

}


