:global(.vtex-account) {
    :global(.vtex-my-orders-app-3-x-detailsBtn) {
        // margin-bottom: 1rem;
    }
}
:global(.vtex-my-orders-app-3-x-cancelBtn) {
    display: none;
}

:global(.vtex-my-orders-app-3-x-detailsBtn),
:global(.vtex-button) {
    border-radius: 0;
}

.addressBox {
    flex-wrap: wrap;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
    :global(.vtex-button) {
        display: none;
    }
}

:global(.vtex-order-placed-2-x-orderOptionsWrapper) {
    a[href*="/cancel"] {
        display: none;
    }
}

:global(.vtex-account__order-details) {
    a[href*="/cancel"] {
        display: none;
    }
}
