// PRECIOS EN SHELF
:global(.vtex-flex-layout-0-x-flexRowContent--row-prices) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 16px;
  margin-bottom: 5px;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    height: 6px;
  }

  .listPrice,
  .sellingPrice--hasListPrice,
  .installments {
    font-size: 14px;
    letter-spacing: .1em;
    font-weight: lighter;
    color: #979899;
  }

  /* .listPrice::before {
    content: "De ";
    text-decoration: line-through;
    color: #979899;
    font-weight: lighter;
  } */

  .sellingPrice--hasListPrice {
    color: #004714;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 7px;
  }

  /* .sellingPrice--hasListPrice::before {
    content: "Para ";
    color: black;
    font-weight: lighter;
    font-size: 16px;
  } */
}

.listPrice,
.sellingPrice--hasListPrice,
.installments {
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: 700;
  color: #3d4247;
}

.sellingPrice {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
}

.sellingPrice--hasListPrice {
  color: #a22a2e;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}

.installments {
  color: #979899;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-prices-catalogo) {
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    padding: 0;
  }

}

// PRECIOS EN PDP
:global(.vtex-flex-layout-0-x-flexCol--right-col-pdp) {
  :global(.vtex-flex-layout-0-x-flexColChild) {
    margin-top: 3px;
    //z-index: 9;

    .installments--pdp-installments {
      font-size: 12px;
      color: #1a1a1a;
      font-weight: bold;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-prices-pdp) {
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    padding: 0;
  }

  .listPrice {
    color: #979899;
    font-size: 22px;
  }

  .sellingPrice--hasListPrice {
    color: #004714;
    margin-left: 10px;
    font-weight: 600;
    font-size: 24px;
  }

  .listPrice::after {
    content: none
  }
}

.installments--recomendados-installments {
  color: black;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  display: flex;
}

// FIX PARA CATALOGO
:global(.vtex-flex-layout-0-x-flexRowContent--category) {
  :global(.vtex-flex-layout-0-x-flexRow--rowResult) {
    :global(.vtex-flex-layout-0-x-flexRow--row-prices) {
      :global(.vtex-flex-layout-0-x-flexRowContent--row-prices) {
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
          width: auto !important;

          &:first-child {
            width: auto !important;
          }
        }
      }
    }
  }
}

@media(max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--row-prices) {
    width: auto !important;
    display: flex;
    height: 34px;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--row-prices-pdp) {
    width: auto !important;
    display: flex;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--row-prices-catalogo) {
    width: auto !important;
    display: flex;
    justify-content: center;
  }
}

.currencyContainer--price-product-chat-carousel{
  font-size: 12px;
}