.submenu {
  //background-color: rgba(255,255,255,0.9);
  padding-top: 20px;
  //padding-right: 555px;
  position: unset;
  background-clip: content-box;
}

.submenuAccordion {
  :global(.vtex-flex-layout-0-x-flexRow--flex-row-mobile-header) {
    width: 100%;
  }

  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.submenuContainer {
  position: unset;
}

.submenuWrapper {
  width: 100%;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

.menuItem--menu-about-us:hover {
  background: none !important;
  text-decoration: underline;
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
// @media screen and (min-width: 40em) and (max-width: 1150px) {
//   .menuContainerNav {
//     max-width: 240px;
//   }
// }

@media (min-width: 768px) {
  .styledLinkContainer--menu-about-us {
    padding-bottom: 3rem;
    padding-top: .7rem;
    margin-left: 5px;
  }

  .styledLink--menu-about-us {
    color: #000 !important;
    font-size: 17px !important;
    letter-spacing: -1px;
    font-weight: 500;
  }
}

//centra opciones menu about-us

.menuContainerNav {
  .menuContainer {
    .menuItem {
      &:first-child {
        .submenuContainer {
          .submenuWrapper {
            .submenu {
              padding-right: 0;
            }
          }
        }
      }

    }
  }
}

//menu hombre mujer giftcard
.submenuWrapper--category-hombre,
.submenuWrapper--category-mujer,
.submenuWrapper--category-accesories {
  .submenu--category-hombre {
    padding-left: 20px;
  }

  .submenu--category-hombre,
  .submenu--category-mujer,
  .submenu--category-accesories {
    justify-content: center;
    margin-top: -10px;

    .menuContainer {
      .styledLinkContent {
        color: #000;
        padding: 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      .menuItem {
        &:last-child {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

.menuContainerNav--menu-lista-tallas-mobile {
  width: 70%;
  margin: 0 auto;
}

.menuContainer--menu-lista-hide{
  padding: 0rem 0rem 1rem 0rem; 
}