.drawer {
    background-color: rgba(255,255,255,0.3);
    width: 100% !important;
    overflow-y: unset !important;
    & .childrenContainer {
        background-color: #004714;
        flex-wrap: wrap;
        width: 80%;
        overflow-y: scroll;
        height: 100vh;
        :global(.vtex-store-components-3-x-searchBarContainer) {
            height: 65px;
            max-width: none;
            width: 96%;
            margin: 0 auto;
        }
        :global(.vtex-input-prefix__group) {
            border-style: none;
        }
        :global(.vtex-menu-2-x-menuContainerNav) {
            height: 100%;
            width: 100%;
        }
        :global(.vtex-menu-2-x-styledLinkContainer) {
            margin: 0;
            padding: 0;
        }
        /* :global(.ml3.c-muted-2) {
            font-size: 0;
            &::before{
                content: ">";
                color: #cfdad0;
                font-size: 35px;
                line-height: 42px;
                font-family: monospace;
                vertical-align: middle;
            }
        } */
        :global(.vtex-menu-2-x-styledLink) {
            line-height: 58px;
            color: #cfdad0;
            display: block;
            border-bottom: 1px solid #306f28;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: .1em;
            padding: 0 20px;
            &:hover{
                background: #398132;
            }
        }
        :global(.vtex-menu-2-x-submenu){
            margin-left: unset;
            padding: unset;           
        }
        & .searchBarContainer {
            max-width: none;
        }
    }
    & .closeIconContainer {
        position: absolute;
        right: 23px;
        top: 23px;
        width: 33px;
        height: 33px;
        background: url(/arquivos/close-button.png?v=2) no-repeat;
        background-size: contain;
        display: inline-block;
        & .closeIconButton {
            width: 38px;
            height: 38px;
            & :first-child {
                display: none;
            }
        }
    }
}
.opened {
    z-index: 9999999999;
}
/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
/* @media screen and (min-width: 40em) {} */