.notiferContainer {
    :global(.vtex-button) {
      padding: 0 1rem;
    }
    .title, 
    .notifyLabel {
        font-size: 0;
        &::after, &::before {
            font-size: 14px;
        }
    }
    .title::after {
        content: "Esta talla no está disponible actualmente.";
        font-weight: 600;
    }
    .notifyLabel {
        &::before {
            content: "Puedes registrar tu nombre y correo ";
        }
        &::after {
            content: "para saber cuando esté disponible nuevamente.";
        }
    }
  }