/* Mobile */
.footerLayout {
  background-color: #004714;
  padding-bottom: 60px;

 /*  & :global(.vtex-store-components-3-x-container) {
    width: 80%;
  } */
  :global(.vtex-store-components-3-x-container) {
    margin: 0;
    padding: 0 20px;
    width: 80% !important;
  }
  :global(.vtex-store-components-3-x-container--footer-newsletter) {
      width: 100% !important;
  }
  .flexColChild {
    max-height: none !important;
  }
  & :global(.vtex-store-components-3-x-container):nth-child(odd) {
    padding-top: 0;
  }
  & :global(.vtex-menu-2-x-styledLinkContainer){
    margin: 0;
  }
}
.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}



.footerLayout :global(.vtex-menu-2-x-styledLink) {
  color: #FFF;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  letter-spacing: .16px !important;
  text-decoration: none;
}

/* .footerLayout :global(.vtex-flex-layout-0-x-flexColChild) {
  max-height: 56px;
} */

.footerLayout :global(.vtex-store-components-3-x-container):first-child {
  padding-top: 0;
}

.socialNetworkImage {
  display: none;
}

.socialNetworkLink--facebook {
  margin-left: 5px;
  background: url(/arquivos/footer-facebook-icon.png?v=1) no-repeat;
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
}

.socialNetworkLink--instagram {
  background: url(/arquivos/footer-instagram-icon.png?v=1) no-repeat;
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
@media screen and (min-width: 40em) {
  .socialNetworkLink--facebook {
    margin-left: inherit;
    background: url(/arquivos/footer-facebook-icon.png?v=1) no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--menu-row) {
    display: flex;
    justify-content: center;
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      height: max-content;
    }
  }
}