:global(.vtex-minicart-2-x-minicartEmptyStateContainer){
    padding-left: 1.5rem;
}

.drawer {
    z-index: 999999999;
}


.minicartWrapperContainer {
    margin-right: 10px;
    z-index: 2;
    :global(.vtex-button) {
        display: flex;
        flex-direction: column;
        align-items: center;
        :global(.vtex-button__label) {
            .minicartIconContainer {
                :first-child {
                    display: none;
                }
            }
        }
        &::before {
            content: "";
            background: url(/arquivos/canguro.png) no-repeat;
            width: 23px;
            height: 23px;
            display: inline-block;
            background-size: contain;
            margin-top: 4px;
        }
        &::after {
            content: "Carro";
            text-transform: uppercase;
            font-size: 8px;
            color: #fff;
            margin-top: 2px;
        }
        &:hover {
            background: none !important;
        }
        &:focus {
            background: none !important;
        }
    }
}

.minicartSideBarContentWrapper {
    :global(.vtex-flex-layout-0-x-flexRow) {
        margin-bottom: 0;
    }
    .minicartCheckoutButton {
        :global(.vtex-button__label) {
            font-size: 0;
            &::before {
                content: "FINALIZAR COMPRA";
                font-size: 18px;
            }
        }
    }
}

.sidebarItemQuantityContainer {
    opacity: 0;
}

.minicartContainer {
    :global(.vtex-button) {
        background: transparent;
        border: 0!important;
        outline: none;
    }
    .minicartQuantityBadge {
        background-color: #004714;
        font-size: 14px;
        top: -25px;
        right: -35px;
        width: 15px;
        height: 15px;
        font-weight: 600;
        @media all and (max-width: 1025px) {
            background-color: #fff;
            color: #004714;
        }
    }
}

/* .minicartIconContainer::before {
    content: "";
    background: url(/arquivos/canguro.png) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
} */

@media screen and (min-width: 40em) {
    .minicartWrapperContainer {
        margin-right: 50px;
        :global(.vtex-button) {
            &::before {
                content: "";
                background: url(/arquivos/canguro.png) no-repeat;
                width: 23px;
                height: 23px;
                display: inline-block;
                background-size: contain;
                margin-top: 14px;
            }
            &:hover {
                background: none !important;
            }
            &:focus {
                background: none !important;
            }
        }
    }
    .badge {
        background: none;
        font-weight: 200;
        font-size: 16px;
        top: -26px;
        right: -23px;
    }
    .minicartContainer {
        height: 59px;
    }
    .openIconContainer {
        padding: 0;
    }
    /* .minicartIconContainer::before {
        content: "";
        background: url(/arquivos/canguro.png) no-repeat;
        width: 35px;
        height: 59px;
        background-size: 27px 27px;
        background-position: center;
    } */
    :global(.vtex-product-summary-2-x-information) {
        position: relative;
    }
    :global(.vtex-product-summary-2-x-quantityStepperContainer) {
        display: inline-block;
        position: absolute;
        border: 1px solid #e3e3e3;
    }
    :global(.vtex-minicart-2-x-deleteIcon) {
        color: #980000!important;
    }
    :global(.vtex-product-summary-2-x-productBrand) {
        font-weight: 700;
        font-size: 14px;
    }
    :global(.vtex-product-summary-2-x-price_sellingPrice) {
        color: #062700;
        font-size: 14px;
        font-weight: 600;
    }
    .price_sellingPrice {
        font-weight: 600;
        color: #004714;
    }
    .itemContainer {
        :global(.vtex-styleguide-9-x-hideDecorators) {
            width: 32px;
            border-radius: 0;
            border: 1px solid #e3e3e3;
            margin: -1px 0;
            height: auto;
        }
    }
    :global(.vtex-store-components-3-x-priceContainer) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .price_className {
        &::before{
            content: "Subtotal";
            color: #004714;
            font-size: 14px;
            font-weight: 700;
            flex-basis: 50%;
        }
        &::after{
            content: "Antes de impuestos y env\EDo";
            font-size: 12px;
            color: #a7a9ac;
            display: inherit;
            margin-bottom: 5px;
        }
    }
    .contentFooter {
        position: relative;
        min-height: 120px;
        :global(.vtex-button) {
            border: none;
            width: 94%;
            left: 3%;
            margin: 0 auto;
            position: absolute;
            height: 40px;
            border-radius: 0;
        }
        :global(.vtex-button__label) {
            position: relative;
        }
        .contentDiscount {
            display: none;
        }
    }
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
/* @media screen and (min-width: 40em) {} */

.opened {
    z-index: 99999999999999;
}

.openIconContainer{
    @media(max-width:400px){
        padding-left: 1rem;
    }
}