@import "./CDA/vtex.flex-layout";
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

/* Mobile */
.flexRow--home-row-container {
  // margin-top: -62px;

  .flexRow {
    margin-bottom: 0;
  }

  .stretchChildrenWidth {
    margin-bottom: 0;

    :global(.vtex-store-components-3-x-infoCardContainer) {
      padding-bottom: 0;
    }
  }

  :global(.vtex-store-components-3-x-imageElement) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.flexRow--flex-row-mobile-header {
  width: 100%;

  :global(.vtex-menu-2-x-menuContainer) {
    :global(.vtex-menu-2-x-menuContainer) {
      margin-top: -60px;
    }
  }
}

.flexRow--flex-row-mobile-header {
  width: 100%;

  :global(.vtex-menu-2-x-menuContainer) {
    :global(.vtex-menu-2-x-menuContainer--menu-custom) {
      margin-top: 0px;
    }
  }
}

.flexCol--cuadros--l,
.flexCol--cuadros--r,
.flexRow--cuadros-fila {
  position: relative;

  :global(.vtex-store-components-3-x-infoCardContainer) {
    &:hover {
      opacity: 0.8;
    }
  }

  :global(.vtex-store-components-3-x-infoCardTextContainer) {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  :global(.vtex-store-components-3-x-infoCardCallActionContainer) {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  :global(.vtex-store-components-3-x-infoCardImage) {
    width: 100%;
    max-width: unset;
  }

  :global(.vtex-button) {
    width: 100%;
    background: none;
    border: none;
    height: 100%;
  }
}

/* Instagram iframe */
.flexRow--instagram-iframe {
  width: 90%;
  margin: 0 auto;
  justify-content: center;

  & .stretchChildrenWidth {
    width: 100% !important;
  }

  :first-child {
    flex-wrap: wrap;
  }
}

/* Landing information */
.flexRow--information-row {
  width: 80%;
  margin: 1rem auto;

  :global(.vtex-rich-text-0-x-strong--information-title) {
    font-size: 28px;
  }
}

/* Newsletter Row */
.flexRow--newsletter {
  margin: 15px 0 !important;
  margin-bottom: 0px !important;

  :global(.vtex-rich-text-0-x-paragraph--newsletter-text) {
    padding: 60px;

    :global(.vtex-rich-text-0-x-link--newsletter-text) {
      background: rgba(0, 0, 0, 0.78);
      padding: 10px 25px;
      display: table;
      color: #fff;
      font-weight: 600;
      font-size: x-large;
      margin: 20px auto;
      text-align: center;
    }
  }
}

.flexRow--home-row-carousel {
  .stretchChildrenWidth {
    margin-bottom: 10px;
  }
}

/* Products */
.flexRow--product-banner-image {
  display: none;
}

.flexRow--product-banner-slider {
  :global(.vtex-store-components-3-x-carouselGaleryCursor) {
    padding-left: 0;
  }
}

.flexRow--product-main {
  font-family: "Poppins";

  :global(.vtex-store-components-3-x-productImagesGallerySwiperContainer) {
    border: 1px solid #e8e8ea;
  }

  :global(.vtex-store-components-3-x-productBrand) {
    font-size: 24px;
    font-weight: 500;
    color: #0b0b0b;
  }

  :global(.vtex-store-components-3-x-priceContainer) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 21px;
    background-color: white;
  }

  :global(.vtex-store-components-3-x-specificationsTableContainer) {
    padding: 10px 0;
  }

  :global(.vtex-store-components-3-x-specificationsTable) {
    margin-top: -10px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  :global(.vtex-store-components-3-x-specificationsTitle) {
    display: none;
  }

  :global(.vtex-store-components-3-x-specificationsTablePropertyHeading) {
    display: none;
  }

  :global(.vtex-store-components-3-x-specificationsTableSpecificationHeading) {
    display: none;
  }

  :global(.vtex-store-components-3-x-specificationItemProperty) {
    padding: 0;
    color: #332927;
    border: none;
    font-weight: 600;
    width: 30%;
  }

  :global(.vtex-store-components-3-x-specificationItemProperty)::after {
    content: ":";
  }

  :global(.vtex-store-components-3-x-specificationItemSpecifications) {
    padding: 0;
    border: none;
    color: #332927;
    font-weight: 600;
    width: 100%;
  }

  :global(.vtex-store-components-3-x-price_sellingPriceLabel) {
    display: none;
  }

  :global(.vtex-store-components-3-x-price_sellingPrice) {
    color: #004714;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4;
  }

  :global(.vtex-store-components-3-x-price_installment) {
    font-size: 12px;
    font-weight: 700;
  }

  :global(.vtex-store-components-3-x-installmentsPrice) {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 5px;
  }

  :global(.vtex-store-components-3-x-price_listPriceLabel) {
    display: none;
  }

  :global(.vtex-store-components-3-x-price_listPrice) {
    font-size: 25px;
  }

  :global(.vtex-store-components-3-x-price_savingsContainer) {
    display: none;
  }

  :global(.vtex-store-components-3-x-price_listPriceContainer) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
    background: #969796;
    color: white;
    vertical-align: middle;
    padding: 12px;

    &:hover {
      background: #666;
    }
  }

  :global(.vtex-store-components-4-x-skuSelectorName) {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }

  :global(.vtex-button) {
    width: 100%;
    border-style: none;
    border-radius: 0;
  }

  :global(.vtex-button__label) {
    padding-left: 0;
    padding-right: 0;
  }

  :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    // padding: 0 .8rem;
  }

  @media screen and (max-width: 639px) {
    :global(.vtex-add-to-cart-button-0-x-buttonText) {
      font-size: 1.2rem;
    }
  }

  :global(.vtex-store-components-3-x-specificationsTableContainer) {
    margin-top: 0;
  }
}

.flexRow--product-description {
  :global(.vtex-store-components7-x-productDescriptionTitle) {
    display: none;
  }

  :global(.vtex-store-components7-x-productDescriptionText) {
    color: #000;
    font-family: Poppins;
  }

  @media (max-width: 1024px) {
    .stretchChildrenWidth {
      width: 100% !important;
    }
  }
}

.flexRow--product-identification {
  :global(.vtex-product-identifier-0-x-product-identifier__label) {
    font-size: 0;
  }

  :global(.vtex-product-identifier-0-x-product-identifier__label)::before {
    content: "CODIGO MODELO";
    font-size: 16px;
    color: #000;
  }

  :global(.vtex-product-identifier-0-x-product-identifier__value) {
    font-weight: bold;
    color: #000;
  }
}

/* Retiro en tienda */
.flexRow--retiro-tienda-qa {
  :global(.vtex-styleguide-9-x-jsFocusVisible) {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
  }

  :global(.vtex-corebiz-accordion-header) {
    padding: 10px 15px;
    color: #333;
    font-weight: 600;
  }

  :global(.vtex-corebiz-accordion-answer) {
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
    color: #332927;
    font-weight: 600;
  }
}

/* informative pages */
.flexRow--fl-information {
  margin-top: 20px;

  :global(.vtex-flex-layout-0-x-flexCol--col2-body-information) {
    height: max-content;
    margin-left: 3rem;
    padding-right: 3rem;
  }

  :global(.vtex-rich-text-0-x-paragraph) {
    margin: 5px 0;
  }

  :global(.vtex-rich-text-0-x-container--information-titlegrande) {
    margin: 0;
    justify-content: center;
  }

  :global(.vtex-rich-text-0-x-paragraph--information-titlegrande) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-strong--information-titlegrande) {
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-size-adjust: 100%;
    text-transform: uppercase;
    display: block;
    font-size: 30px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
    line-height: 33px;
    padding-bottom: 3px;
    text-align: center !important;

    &:hover {
      color: #004714 !important;
      transition: 0.9s;
    }
  }

  :global(.vtex-rich-text-0-x-paragraph--information-titleone),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwo),
  :global(.vtex-rich-text-0-x-paragraph--information-titlethree),
  :global(.vtex-rich-text-0-x-paragraph--information-titlefour),
  :global(.vtex-rich-text-0-x-paragraph--information-titlefive),
  :global(.vtex-rich-text-0-x-paragraph--information-titlesix),
  :global(.vtex-rich-text-0-x-paragraph--information-titleseven),
  :global(.vtex-rich-text-0-x-paragraph--information-titleeight),
  :global(.vtex-rich-text-0-x-paragraph--information-titlenine),
  :global(.vtex-rich-text-0-x-paragraph--information-titleten),
  :global(.vtex-rich-text-0-x-paragraph--information-titleeleven),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwelve),
  :global(.vtex-rich-text-0-x-paragraph--information-titlethirteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titlefourteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titlefifteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titlesixteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titleseventeen),
  :global(.vtex-rich-text-0-x-paragraph--information-titleeighteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titlenineteen),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwenty),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentyone),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentytwo),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentythree),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentyfour),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentyfive),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentysix),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentyseven),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentyeight),
  :global(.vtex-rich-text-0-x-paragraph--information-titletwentynine) {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    text-size-adjust: 100%;
  }

  :global(.vtex-rich-text-0-x-container--information-textone),
  :global(.vtex-rich-text-0-x-container--information-texttwo),
  :global(.vtex-rich-text-0-x-container--information-textthree),
  :global(.vtex-rich-text-0-x-container--information-textfour),
  :global(.vtex-rich-text-0-x-container--information-textfive),
  :global(.vtex-rich-text-0-x-container--information-textsix),
  :global(.vtex-rich-text-0-x-container--information-textseven),
  :global(.vtex-rich-text-0-x-container--information-texteight),
  :global(.vtex-rich-text-0-x-container--information-textnine),
  :global(.vtex-rich-text-0-x-container--information-textten),
  :global(.vtex-rich-text-0-x-container--information-texteleven),
  :global(.vtex-rich-text-0-x-container--information-texttwelve),
  :global(.vtex-rich-text-0-x-container--information-textthirteen),
  :global(.vtex-rich-text-0-x-container--information-textfourteen),
  :global(.vtex-rich-text-0-x-container--information-textfifteen),
  :global(.vtex-rich-text-0-x-container--information-textsixteen),
  :global(.vtex-rich-text-0-x-container--information-textseventeen),
  :global(.vtex-rich-text-0-x-container--information-texteighteen),
  :global(.vtex-rich-text-0-x-container--information-textnineteen),
  :global(.vtex-rich-text-0-x-container--information-texttwenty),
  :global(.vtex-rich-text-0-x-container--information-texttwentyone),
  :global(.vtex-rich-text-0-x-container--information-texttwentytwo),
  :global(.vtex-rich-text-0-x-container--information-texttwentythree),
  :global(.vtex-rich-text-0-x-container--information-texttwentyfour),
  :global(.vtex-rich-text-0-x-container--information-texttwentyfive),
  :global(.vtex-rich-text-0-x-container--information-texttwentysix),
  :global(.vtex-rich-text-0-x-container--information-texttwentyseven),
  :global(.vtex-rich-text-0-x-container--information-texttwentyeight),
  :global(.vtex-rich-text-0-x-container--information-texttwentynine) {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    text-size-adjust: 100%;
  }

  :global(.vtex-rich-text-0-x-container--information-itensone),
  :global(.vtex-rich-text-0-x-container--information-itenstwo),
  :global(.vtex-rich-text-0-x-container--information-itensthree),
  :global(.vtex-rich-text-0-x-container--information-itensfour),
  :global(.vtex-rich-text-0-x-container--information-itensfive),
  :global(.vtex-rich-text-0-x-container--information-itenssix),
  :global(.vtex-rich-text-0-x-container--information-itensseven),
  :global(.vtex-rich-text-0-x-container--information-itenseight),
  :global(.vtex-rich-text-0-x-container--information-itensnine),
  :global(.vtex-rich-text-0-x-container--information-itensten),
  :global(.vtex-rich-text-0-x-container--information-itenseleven),
  :global(.vtex-rich-text-0-x-container--information-itenstwelve),
  :global(.vtex-rich-text-0-x-container--information-itensthirteen),
  :global(.vtex-rich-text-0-x-container--information-itensfourteen),
  :global(.vtex-rich-text-0-x-container--information-itensfifteen),
  :global(.vtex-rich-text-0-x-container--information-itenssixteen),
  :global(.vtex-rich-text-0-x-container--information-itensseventeen),
  :global(.vtex-rich-text-0-x-container--information-itenseighteen),
  :global(.vtex-rich-text-0-x-container--information-itensnineteen),
  :global(.vtex-rich-text-0-x-container--information-itenstwenty),
  :global(.vtex-rich-text-0-x-container--information-itenstwentyone),
  :global(.vtex-rich-text-0-x-container--information-itenstwentytwo),
  :global(.vtex-rich-text-0-x-container--information-itenstwentythree),
  :global(.vtex-rich-text-0-x-container--information-itenstwentyfour),
  :global(.vtex-rich-text-0-x-container--information-itenstwentyfive),
  :global(.vtex-rich-text-0-x-container--information-itenstwentysix),
  :global(.vtex-rich-text-0-x-container--information-itenstwentyseven),
  :global(.vtex-rich-text-0-x-container--information-itenstwentyeight),
  :global(.vtex-rich-text-0-x-container--information-itenstwentynine) {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    text-size-adjust: 100%;
    padding: 10px 0 10px 25px !important;
  }
}

.flexRowContent--product-buy-button {
  margin-bottom: 5px;
}

/* Productos relacionados */
.flexRow--related-products,
.flexRow--destacados {
  :global(.vtex-shelf-1-x-container) {
    padding-bottom: 0;
    padding-top: 0;
  }

  :global(.vtex-store-components-3-x-discountInsideContainer) {
    padding: 5px;
    margin-right: 5px;
  }

  :global(.vtex-shelf-1-x-title) {
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 400;
    padding: 0;
  }

  :global(.vtex-product-summary-2-x-productBrandContainer) {
    padding: 3px 0;
    font-size: 14px;
    font-weight: bold;
  }

  :global(.vtex-product-summary-2-x-nameContainer) {
    padding: 3px 0;

    :global(.vtex-product-summary-2-x-brandName) {
      font-size: 14px;
      font-weight: 200;
    }
  }

  :global(.vtex-store-components-3-x-priceContainer) {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  :global(.vtex-store-components-3-x-listPriceLabel) {
    display: none;
  }

  :global(.vtex-store-components-3-x-listPriceValue) {
    padding: 0 3px;
    font-size: 14px;
    color: gray;
  }

  :global(.vtex-store-components-3-x-sellingPriceLabel) {
    display: none;
  }

  :global(.vtex-store-components-3-x-sellingPrice) {
    padding: 0 3px;
    font-size: 14px;
    color: #004714;
    font-weight: bold;
  }

  :global(.vtex-store-components-2-x-priceContainer) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  :global(.vtex-store-components-3-x-installmentsPrice) {
    display: none;
  }

  :global(.vtex-slider-0-x-dotsContainer) {
    display: none;
  }
}

/* Medium */
/* @media screen and (min-width: 20em) {} */
/* Desktop */
@media screen and (min-width: 40em) {

  /* Home */
  .flexRow--home-row-container {
    margin-bottom: 0;

    .stretchChildrenWidth {
      margin-bottom: 0;
    }

    .flexRow {
      margin-bottom: 0;
    }
  }

  .flexCol--cuadros--l {
    margin-right: 2px;
  }

  .flexCol--cuadros--r {
    margin-left: 2px;
  }

  .flexCol--cuadros--l,
  .flexCol--cuadros--r,
  .flexRow--cuadros-fila {
    position: relative;

    :global(.vtex-store-components-3-x-infoCardContainer) {
      padding: 0;
      height: 100%;

      &:hover {
        opacity: 0.8;
      }
    }

    :global(.vtex-store-components-3-x-infoCardTextContainer) {
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 2;
      padding: 0;
      position: absolute;
    }

    :global(.vtex-store-components-3-x-infoCardCallActionContainer) {
      width: 100%;
      margin: 0;
      height: 100%;
    }

    :global(.vtex-button) {
      width: 100%;
      background: none;
      border: none;
      height: 100%;
    }

    :global(.vtex-store-components-3-x-infoCardImageContainer) {
      width: 100%;
      display: flex;
    }
  }

  /* Products */
  .flexRow--product-row-container {
    margin-top: -42px;
    margin-bottom: 0;
  }

  .flexRow--product-banner-slider {
    padding-top: 0;
    padding-bottom: 0;
  }

  .flexRow--product-banner-image {
    display: block;
    padding: 0;
  }

  .flexRow--product-breadcrumb {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-family: Poppins;
  }

  .flexRow--product-main {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .flexRow--product-buy-button {
    margin-bottom: 5px;
    margin-top: 15px;

    .flexRowContent {
      margin: 0;
    }
  }

  .flexRow--product-identification {
    width: 80%;
    margin: 0 auto;
  }

  /* Productos relacionados */
  .flexRow--related-products {
    :global(.vtex-store-components-3-x-discountInsideContainer) {
      padding: 5px;
    }

    :global(.vtex-shelf-1-x-title) {
      font-size: 20px;
      color: #1a1a1a;
      font-weight: 400;
      padding: 0;
    }

    :global(.vtex-product-summary-2-x-productBrandContainer) {
      padding: 3px 0;
      font-size: 14px;
      font-weight: bold;
    }

    :global(.vtex-product-summary-2-x-nameContainer) {
      padding: 3px 0;

      :global(.vtex-product-summary-2-x-brandName) {
        font-size: 14px;
        font-weight: 200;
      }
    }

    :global(.vtex-product-summary-2-x-priceContainer) {
      padding: 0;
    }

    :global(.vtex-store-components-3-x-listPriceLabel) {
      display: none;
    }

    :global(.vtex-store-components-3-x-listPriceValue) {
      padding: 0 3px;
      font-size: 14px;
      color: gray;
    }

    :global(.vtex-store-components-3-x-sellingPriceLabel) {
      display: none;
    }

    :global(.vtex-store-components-3-x-sellingPrice) {
      padding: 0 3px;
      font-size: 14px;
      color: #a62e33;
      font-weight: bold;
    }

    :global(.vtex-store-components-2-x-priceContainer) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    :global(.vtex-store-components-3-x-installmentsPrice) {
      display: none;
    }

    :global(.vtex-slider-0-x-dotsContainer) {
      display: none;
    }
  }

  /* Instagram iframe */
  .flexRow--instagram-iframe {
    width: 100%;
  }

  /* Search Layout */
  .flexRow--search-row-container {
    margin-top: -42px;
    margin-bottom: 0;
  }

  /* Retiro en tienda */
  .flexColChild--retiro-tienda-center-image {
    width: 80%;
    margin: 0 auto;

    .flexRowContent--retiro-tienda-imagen-centrada {
      :global(.vtex-store-components-3-x-imageElementLink) {
        text-align: center;
      }

      :global(.vtex-store-components-3-x-imageElement) {
        width: auto;
      }
    }

    .flexRowContent--retiro-tienda-texto-centrado {
      :global(.vtex-rich-text-0-x-container) {
        width: 90%;
        overflow: hidden;
      }

      :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 30px;
        color: #777272;
      }

      :global(.vtex-rich-text-0-x-paragraph):first-child {
        background-color: #fcf8e3;
        width: 100vw;
        padding: 10px 0;
      }
    }

    .flexRow--retiro-tienda-imagenes-centrada {
      :global(.vtex-rich-text-0-x-heading) {
        margin: 0;
        color: #777272;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
      }

      :global(.vtex-rich-text-0-x-paragraph) {
        color: #777272;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

/* ajusta breadcrumb */

@media (min-width: 65em) {
  .flexRow--product-breadcrumb {
    margin: 65px auto auto;
  }
}

// @media all and (min-width: 1025px) {
//   .flexRow--home-row-container {
//     margin-top: -42px;
//   }
// }

/* Lets listen landing */

.flexRow--main-row {
  background-image: url(https://rockfordcl.vteximg.com.br/arquivos/landingMBL.jpg);
  background-size: cover;
  height: auto;

  @media screen and (min-width: 40em) {
    background-image: url(https://rockfordcl.vteximg.com.br/arquivos/landing.jpg);
  }

  .flexCol--video-column {
    display: flex;
    align-items: center;

    .flexColChild--video-column {
      width: 80%;
      margin-top: 300px;
      margin-bottom: 200px;

      @media screen and (min-width: 40em) {
        margin-top: 250px;
        width: 65%;
      }

      :global(.vtex-iframe-0-x-container) {
        width: 100%;
        height: 185px;

        @media screen and (min-width: 40em) {
          height: 500px;
        }
      }
    }
  }
}

.flexRowContent--searchinfo {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.flexRow--footer-2-desktop {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .flexRowContent--footer-2-desktop {
    align-items: center;

    .stretchChildrenWidth {
      width: max-content !important;
    }
  }
}

.flexRow--2-footer-mobile {
  margin-top: 10px;

  .flexRowContent--2-footer-mobile {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 10px;

    .stretchChildrenWidth {
      width: max-content !important;
    }
  }
}

/* Top banners categories */

.flexRow--contacto-banner {
  .flexColChild--contacto-banner {
    margin-bottom: 5px;
  }

  :global(.vtex-store-components-3-x-infoCardContainer) {
    padding: 0;
  }

  :global(.vtex-store-components-3-x-infoCardImageContainer) {
    width: 100%;

    :global(.vtex-store-components-3-x-infoCardImage) {
      width: 100%;
    }
  }

  :global(.vtex-store-components-3-x-infoCardTextContainer) {
    display: none;
  }
}

.flexRow--contacto-text {
  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (max-width: 992px) {
    width: 960px;
  }

  @media (max-width: 768px) {
    width: 720px;
  }

  @media (max-width: 576px) {
    width: 540px;
  }

  width: 100%;
  margin: 0 auto;

  :global(.vtex-rich-text-0-x-container--contacto-text) {
    :global(.vtex-rich-text-0-x-headingLevel1) {
      font-size: 36px;
      font-weight: bold;
    }

    :global(.vtex-rich-text-0-x-paragraph) {
      font-size: 14px;
      font-weight: 400;
    }

    :global(.vtex-rich-text-0-x-paragraph),
    :global(.vtex-rich-text-0-x-heading) {
      font-family: Lato, sans-serif;
      margin: 0;
    }
  }
}

.flexRow--contacto-phone {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;

  :global(.vtex-rich-text-0-x-container--contacto-phone) {
    :global(.vtex-rich-text-0-x-paragraph--contacto-phone) {
      line-height: 1;

      :global(.vtex-contact-label) {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }

      :global(.vtex-contact-phone) {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }
    }
  }
}

// Landing Cyber Day
.flexRow--cyber-day-container {
  margin-bottom: 2rem;
}

.flexRowContent--cyber-day-row {
  .stretchChildrenWidth {
    &:first-child {
      margin-right: 2rem;

      @media (max-width: 768px) {
        margin-right: 10px;
      }
    }

    &:not(:first-child) {
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.flexRowContent--cyber-day-row1 {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.flexRowContent--cyber-day-tallas {
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .stretchChildrenWidth {
    &:first-child {
      min-width: 6% !important;

      @media (max-width: 768px) {
        width: 100% !important;
      }
    }

    min-width: 4% !important;
    width: auto !important;

    @media (max-width: 768px) {
      min-width: 14% !important;
      width: auto !important;
      margin-bottom: 10px;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* CAMBIOS FOOTER */
.flexRowContent--footer-2-desktop {
  margin-top: -80px;

  .stretchChildrenWidth {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
      margin-right: 20px;
    }
  }
}

.flexRowContent--2-footer-mobile {
  -webkit-box-align: center;
  align-items: center;

  @media all and (max-width: 640px) {
    flex-wrap: wrap;
  }

  .stretchChildrenWidth {
    margin-top: 40px;
    -webkit-box-align: center;
    align-items: center;

    &:first-child {
      margin-top: 0;
      margin-right: 20px;
    }

    @media all and (max-width: 640px) {
      width: 33.33% !important;
      margin-top: 0;

      &:first-child {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

/* Top banners categories */
.flexRow--top-banners {
  margin-top: 0px !important;

  // .flexColChild--top-banners {
  //   margin-bottom: 5px;
  // }

  :global(.vtex-store-components-3-x-infoCardContainer) {
    padding: 0;
  }

  :global(.vtex-store-components-3-x-infoCardImageContainer) {
    width: 100%;
    font-size: 0;

    :global(.vtex-store-components-3-x-infoCardImage) {
      width: 100%;
    }
  }

  :global(.vtex-store-components-3-x-infoCardTextContainer) {
    display: none;
  }
}

// Landing Banners Cyber
.flexRow--banners-cyber {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;

  .flexColChild--banners-cyber {
    margin-bottom: 30px;
  }
}

.flexRow--colunas-despachoTiempo {
  margin-top: 20px;
}

// Cortina Cyber
.flexCol--cortina-cyber {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999999999999 !important;
  background: #fff;

  .flexColChild--cortina-cyber {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100% !important;
    z-index: 999999999999997 !important;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      background-color: #004714;
    }

    :global(.vtex-store-components-3-x-imageElement--cortina-cyber-img) {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }

    :global(.vtex-sandbox-iframe) {
      width: 50% !important;
      height: 220px !important;
      background: rgba(0, 0, 0, 0.85);
      border-radius: 4px;
      box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);

      @media all and (max-width: 768px) {
        width: 85% !important;
        margin-top: 7rem;
      }
    }
  }
}

// LOADER

.flexCol--loader-col {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999999999999 !important;
  background: transparent;

  .flexColChild--loader-col:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh !important;
    z-index: 9999999999999995 !important;
    background: transparent;
  }
}

// LANDING ROCKFOR FRIENDS
.flexRowContent--how-works,
.flexRowContent--how-works-titulos,
.flexRowContent--earn-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRowContent--how-works {
  background-color: #f5f5f5;

  .stretchChildrenWidth {
    width: 100% !important;
  }
}

.flexRowContent--earn-rows {
  .stretchChildrenWidth {
    width: 100% !important;
  }
}

.flexRow--contenedor-imagenes-works {
  width: 82% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol--earn-pasos {
  .flexColChild--earn-pasos {
    background-color: #f5f5f5 !important;
    margin: 10px 0px;

    :global(.vtex-store-components-3-x-infoCardContainer) {
      background-color: #f5f5f5 !important;

      :global(.vtex-store-components-3-x-infoCardCallActionContainer--info-cta-earn-pasos) {
        font-weight: 400 !important;

        :global(.vtex-store-components-3-x-infoCardCallActionText--info-cta-earn-pasos) {
          font-weight: 500 !important;
        }
      }
    }
  }
}

.flexRow--menu-about-us {
  display: flex;
  justify-content: center;
  /*.flexRowContent--menu-about-us {
    width: 80%;
    .stretchChildrenWidth:not(:last-child) {
      margin-right: 20px;
    }
  }*/
}

// Landings Green House, Hand Crafted y Functionality
.flexRowContent {
  // Oculto las imágenes que se mostrarán al hacer hover
  &--first-hc-row,
  &--second-hc-row,
  &--first-gh-row,
  &--second-gh-row,
  &--third-gh-row,
  &--fifth-gh-row,
  &--fourth-gh-row,
  &--first-fn-row,
  &--second-fn-row,
  &--third-fn-row,
  &--fourth-fn-row,
  &--fifth-fn-row

  /*&--first-hc-row-mobile, &--second-hc-row-mobile,
  &--first-gh-row-mobile, &--second-gh-row-mobile, &--third-gh-row-mobile, &--fourth-gh-row-mobile,
  &--first-fn-row-mobile, &--second-fn-row-mobile, &--third-fn-row-mobile, &--fourth-fn-row-mobile, &--fifth-fn-row-mobile*/
    {
    .flexColChild:last-child {
      display: none;
    }
  }

  &--fifth-fn-row {
    .stretchChildrenWidth {
      width: 32.5% !important;
    }
  }

  // Una imagen por fila en mobile
  /*@media screen and (max-width: 768px) {
    &--second-hc-row-mobile,
    &--second-gh-row-mobile, &--third-gh-row-mobile, &--fourth-gh-row-mobile,
    &--second-fn-row-mobile, &--third-fn-row-mobile, &--fourth-fn-row-mobile {
      flex-direction: column;
    }
  }*/
}

// LANDING CYBER

.flexColChild--gtm-iframe {
  margin-top: 0px !important;

  :first-child {
    height: 0px !important;
  }
}

/*ESTILOS PARA EL TRIGGER QUICKVIEW*/
:global(.vtex-product-summary-2-x-element) {
  position: relative;

  @media (max-width: 768px) {
    padding: 0;
    // padding-top: 5px;
  }

  :global(.vtex-modal-layout-0-x-triggerContainer) {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    z-index: 1000;
    width: 100%;
    height: 35px;
    overflow: hidden;

    @media (max-width: 1024px) {
      display: none !important;
    }

    @media (max-width: 1150px) {
      top: 270px;
    }

    @media (max-width: 1240px) {
      top: 290px;
    }

    :global(.vtex-rich-text-0-x-container) {
      width: 100%;
      display: flex;
      justify-content: center;

      :global(.vtex-rich-text-0-x-paragraph) {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 400;
        left: 50%;
        top: 130%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: 0.3s;
        padding: 6px 8px;
      }
    }
  }

  :global(.vtex-modal-layout-0-x-triggerContainer--quickview):hover {
    :global(.vtex-rich-text-0-x-container) {
      :global(.vtex-rich-text-0-x-paragraph) {
        background-color: #000;
        top: 70%;
      }
    }
  }
}

:global(.vtex-product-summary-2-x-element):hover {
  :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    :global(.vtex-rich-text-0-x-container) {
      :global(.vtex-rich-text-0-x-paragraph) {
        background-color: #fff;
        color: #000;
        font-weight: 600;
        top: 50%;
        opacity: 0.85;
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/*ESTILOS PARA EL TRIGGER QUICKVIEW MOBILE*/
:global(.vtex-modal-layout-0-x-triggerContainer--quickview-mobile) {
  justify-content: center;
  background-color: #004714;

  :global(.vtex-rich-text-0-x-container--quickview) {
    text-align: center;

    :global(.vtex-rich-text-0-x-wrapper--quickview) {
      width: 100%;

      :global(.vtex-rich-text-0-x-paragraph--quickview) {
        color: #fff !important;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 100;
        display: flex;
        align-items: center;
        margin-left: 4px;

        &::before {
          content: "";
          display: inline-block;
          background-size: cover;
          color: white;

          @media (min-width: 768px) {
            background-image: url(/arquivos/cart.png);
            height: 22px;
            width: 22px;
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

/*ESTILOS MODAL QUICKVIEW*/

:global(.vtex-flex-layout-0-x-flexRowContent--buy-button-quickview) {
  width: 99%;
  margin-bottom: 0;
}

.flexRowContent--modal-buttons-quickview {
  text-align: end;

  :global(.vtex-store-link-0-x-link--quickview) {
    position: relative;
    right: 10px;
  }
}

@media (max-width: 1024px) {
  .flexRowContent--modal-buttons-quickview {
    text-align: center;

    :global(.vtex-store-link-0-x-link--quickview) {
      position: relative;
      left: 5px;
    }
  }
}

:global(.vtex-modal-layout-0-x-modal--quickview) {
  z-index: 99999999999 !important;
}

:global(.vtex-modal-layout-0-x-paper--quickview) {
  margin: 15%;
  padding-bottom: 5%;
  overflow: hidden;

  @media (max-width: 1024px) {
    margin: 5%;
    height: auto;
    max-height: 95vh;
    overflow-x: hidden;
    overflow-y: auto;

    :global(.vtex-store-components-3-x-productImagesContainer--carousel) {
      width: 80%;
      margin: auto;
    }
  }

  :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
    width: 30px;
    margin-right: 0.2em;
  }

  @media (max-width: 1300px) {
    :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
      width: 40px;
      margin-right: 0.5em;
    }
  }

  :global(.vtex-flex-layout-0-x-flexCol) {
    &:nth-child(2n) {
      width: auto;
    }

    :global(.vtex-flex-layout-0-x-flexColChild) {
      margin-top: 0.5em;

      @media (max-width: 1024px) {
        margin-top: 0;
        text-align: center;
      }

      :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
        font-size: 0;
        width: 70px;
        height: 70px;
        display: block;
        margin-right: 15px;

        &[data-highlight-id=""] {
          background: url("/arquivos/3x2febrero.png") no-repeat;
          background-size: contain;
          background-position: center center;
          height: 60px;
          position: absolute;
          top: 5%;
          right: 5%;
          z-index: 1;
        }

        @media (max-width: 768px) {
          height: 50px !important;
          width: 50px;
        }
      }
    }

    :global(.vtex-store-components-3-x-productImagesContainer--carousel) {
      :global(.vtex-store-components-3-x-carouselContainer) {
        justify-content: center;
      }
    }

    :global(.vtex-store-components-3-x-carouselGaleryThumbs) {
      display: none;
    }

    :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) {
      margin-bottom: 0.2rem;
    }

    :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
      @media (max-width: 1024px) {
        justify-content: center;

        :global(.vtex-store-components-3-x-skuSelectorItem) {
          font-size: 26px;
        }
      }

      :global(.vtex-product-summary-2-x-skuSelectorItem--selected) {
        background-color: #004714;

        :global(.vtex-product-summary-2-x-valueWrapper) {
          color: #fff;
        }
      }
    }

    :global(.vtex-store-components-3-x-productNameContainer) {
      margin-top: 1em;

      @media (max-width: 1024px) {
        margin-top: 0;
        text-align: center;
      }

      :global(.vtex-store-components-3-x-productBrand) {
        font-size: 35px;
        font-weight: 400;
        font-family: "Maven Pro";
        line-height: 1;
        padding-right: 2%;

        @media (max-width: 1024px) {
          font-size: 20px;
        }
      }
    }

    :global(.vtex-store-components-3-x-priceContainer) {
      display: flex;
      justify-content: flex-start;

      @media (max-width: 1024px) {
        justify-content: center;
      }

      :global(.vtex-store-components-3-x-listPrice) {
        margin-bottom: 0;

        :global(.vtex-store-components-3-x-listPriceValue) {
          font-size: 24px;
          font-weight: 400;
        }

        :global(.vtex-store-components-3-x-listPriceLabel) {
          display: none;
        }
      }

      :global(.vtex-store-components-3-x-sellingPrice) {
        :global(.vtex-store-components-3-x-sellingPriceLabel) {
          display: none;
        }

        :global(.vtex-store-components-3-x-sellingPriceValue) {
          color: #004714;
          font-size: 24px;
          font-weight: 700;

          @media (max-width: 1024px) {
            font-size: 20px;
          }
        }
      }

      :global(.vtex-store-components-3-x-installmentsPrice) {
        display: none;
      }

      :global(.vtex-store-components-3-x-savingPrice) {
        display: none;
      }
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--modal-buttons-quickview) {
      align-items: center;

      @media (max-width: 1024px) {
        width: 90%;
        margin: 0.2rem auto;

        .flexCol--wishlist-pdp-desktop {
          padding-bottom: 1rem;
        }

        :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-quickview) {
          margin: 0 0 0.6rem 0;
          display: flex;
          flex-direction: row;
          column-gap: 10px;
        }
      }

      :global(.vtex-button) {
        font-size: 14px;
        padding: 0;

        :global(.vtex-button__label) {
          margin: 0;
          padding: 0.3em;
        }

        @media (max-width: 1380px) {
          :global(.vtex-button__label) {
            margin: 0;
            padding: 0.1em;
          }

          @media (max-width: 1300px) {
            :global(.vtex-button__label) {
              margin: 0;
              padding: 1em;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) {
      justify-content: center;
    }

    :global(.vtex-search-result-3-x-galleryItem) :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
      display: none;
    }

    :global(.vtex-search-result-3-x-galleryItem) :global(.vtex-product-summary-2-x-nameContainer) {
      padding-top: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
      display: none !important;
    }
  }
}

//quickview en shelf
:global(.vtex-shelf-1-x-shelfContentContainer) {
  :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
    width: 100%;
    height: 35px;
    overflow: hidden;

    @media (max-width: 1160px) {
      top: 225px;
    }
  }
}

// LANDINGS GREENHOUSE

.paginationDotsContainer--gh-slider-row-mobile {
  padding-bottom: 1rem;
  position: absolute;
}

.flexRowContent--contendor-landing-img-mobile {
  :first-child {
    width: 100% !important;
    position: relative !important;
  }

  .stretchChildrenWidth {
    position: absolute;
    bottom: 17%;

    @media all and (max-width: 470px) {
      bottom: 15%;
    }

    @media all and (max-width: 460px) {
      bottom: 12%;
    }
  }

  // CENTRAR PRIMER BOTÓN LANDINGS GREENHOUSE

  .flexRowContent--gh-contendor-landing-img-mobile-01 {
    :first-child {
      width: 100% !important;
      position: relative !important;
    }

    :last-child {
      display: none;
    }
  }
}

//LANDINGS ABOUT US

//FUNCTIONALITY

.flexRowContent--contenedor-fn-landing-img-mobile {
  .stretchChildrenWidth {
    &:first-child {
      width: 100% !important;
    }

    &:last-child {
      width: 0% !important;
    }
  }
}

// GREENHOUSE

.flexRowContent--contenedor-gh-landing-img-mobile,
.flexRowContent--contenedor-gh-landing-img-mobile-01 {
  .stretchChildrenWidth {
    &:first-child {
      width: 100% !important;
    }

    &:last-child {
      width: 0% !important;
    }
  }
}

// HANDCRAFT

.flexRowContent--contenedor-hc-landing-img-mobile {
  .stretchChildrenWidth {
    &:first-child {
      width: 100% !important;
    }

    &:last-child {
      width: 0% !important;
    }
  }
}

.flexRow--form-hubspot {
  :global(.vtex-store-components-3-x-container) {
    padding: 30px;
  }
}

:global(.vtex-stack-layout-0-x-stackItem--videoEl) {
  height: 100%;
  width: 100%;
}

:global(.vtex-stack-layout-0-x-stackItem--video-container--cover-video) {
  height: 100%;
  width: 100%;

  :global(.vtex-store-components-3-x-imageElement--cover-video) {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

:global(.vtex-stack-layout-0-x-stackItem--video-container--btn-play-cover) {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.vtex-store-components-3-x-imageElement--btn-play-cover) {
    &:hover {
      cursor: pointer;
      filter: drop-shadow(2px 4px 6px black);
    }

    @media (max-width: 1024px) {
      width: 80px;
    }
  }
}

:global(.vtex-stack-layout-0-x-stackContainer--video-container) {
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    margin: 5rem 0rem 2rem 0rem;
  }
}

:global(.vtex-store-video-1-x-videoContainer--videoEl) {
  height: auto !important;
  border: none;
}

:global(.vtex-store-components-3-x-imageElement--btn-play-cover) {
  @media (min-width: 1024px) {
    width: auto !important;
  }
}

// Formulario Cyber
.flexRow--landing-cyber {
  :global(.vtex-store-components-3-x-container) {
    padding: 30px;
  }
}

//Landing Cambios y devoluciones

//landing informacion cambios
:global(.vtex-store-components-3-x-imageElement--img-cambios) {
  @media (max-width: 375px) {
    max-width: 45px !important;
    max-height: 45px !important;
  }
}

.flexRow--accordion-informacion {
  max-width: 1200px;
  margin: auto;

  .flexRowContent--accordion-informacion {
    display: block;

    .stretchChildrenWidth {
      display: block;
      width: 100% !important;
    }
  }
}

.flexRow--title-informacion {
  max-width: 1200px;
  margin: auto;

  .flexRowContent--title-informacion {
    justify-content: center;

    @media (max-width: 1024px) {
      display: block !important;
      margin: 0 auto 1rem auto;
    }

    :global(.vtex-rich-text-0-x-container) {
      @media (max-width: 1024px) {
        width: 100% !important;
      }
    }

    :global(.vtex-rich-text-0-x-heading-level-2) {
      color: #000;

      @media (max-width: 1024px) {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }

    :global(.vtex-rich-text-0-x-container--em-title) {
      @media (max-width: 1024px) {
        width: 100% !important;
      }

      :global(.vtex-rich-text-0-x-headingLevel2--em-title) {
        margin-left: 5px;
        color: #194c25;

        @media (max-width: 1024px) {
          text-align: center;
          font-size: 1.2rem;
          margin-top: 0;
        }
      }
    }
  }
}

.flexRow--text-box {
  max-width: 1200px;
  margin: auto;
  background-color: #194c25;

  :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    font-family: Poppins;

    @media (max-width: 1024px) {
      font-size: 0.85rem;
    }
  }
}

.flexCol--question-n {
  .flexColChild--question-n {
    :global(.vtex-rich-text-0-x-paragraph) {
      text-align: justify;
      color: #000;
      font-family: Poppins;
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 1rem;
      line-height: 1;

      @media (max-width: 1024px) {
        text-align: left;
      }
    }

    &:last-child {
      :global(.vtex-rich-text-0-x-paragraph) {
        margin-bottom: 1rem;
        margin-top: 0;
        color: #194c25;
      }
    }
  }
}

:global(.vtex-disclosure-layout-1-x-trigger--visible),
:global(.vtex-disclosure-layout-1-x-trigger--hidden) {
  border: none;
  margin: 2rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .flexRow {
    width: 100% !important;

    .flexRowContent {
      align-items: center;

      .stretchChildrenWidth {
        &:first-child {
          width: 20% !important;
        }
      }

      @media (max-width: 1024px) {
        display: flex;

        .stretchChildrenWidth {
          &:first-child {
            width: 25% !important;
          }

          &:last-child {
            :global(.vtex-rich-text-0-x-paragraph) {
              font-size: 1.5rem;
              font-weight: 600;

              @media (max-width: 1024px) {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }
  }
}

:global(.vtex-disclosure-layout-1-x-content--visible) {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.flexRowContent--answer-n {
  border: solid 2px #194c25;
  margin: 0 auto 2rem auto;
  padding: 1rem;

  .stretchChildrenWidth {
    display: flex;
    align-items: center;

    &:first-child {
      width: 20% !important;
      display: flex;
      align-content: center;

      @media (max-width: 1024px) {
        width: 100% !important;
      }
    }
  }
}

.flexCol--answer-n {
  .flexColChild--answer-n {
    .flexRowContent {
      @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
      }

      .stretchChildrenWidth {
        width: auto !important;

        :global(.vtex-rich-text-0-x-paragraph) {
          color: #194c25;
          font-family: Poppins;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0;

          @media (max-width: 1024px) {
            font-size: 1.2rem;
            margin-top: 0;
          }
        }

        &:last-child {
          :global(.vtex-rich-text-0-x-paragraph) {
            margin-left: 5px;
            color: #000;
          }

          :global(.vtex-rich-text-0-x-wrapper--answer-text) {
            :global(.vtex-rich-text-0-x-paragraph) {
              text-align: justify;
              font-size: 1rem;
              font-weight: 400;
              margin-top: 0;
              margin-bottom: 2rem;

              @media (max-width: 1024px) {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }
  }
}

.flexRowContent--answer-complex {
  display: block;

  .stretchChildrenWidth {
    width: 100% !important;
  }
}

:global(.vtex-rich-text-0-x-wrapper--answer-only-text) {
  max-width: 1200px;

  :global(.vtex-rich-text-0-x-paragraph) {
    text-align: justify;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-top: 0;

    @media (max-width: 1024px) {
      font-size: 0.85rem;
    }
  }
}

:global(.vtex-rich-text-0-x-wrapper--answer-text) {
  max-width: 1200px;
  margin: auto;

  :global(.vtex-rich-text-0-x-paragraph) {
    text-align: justify;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-top: 0;

    @media (max-width: 1024px) {
      font-size: 0.85rem;
    }
  }
}

.flexRowContent--answer-b {
  display: block;
  border: solid 2px #194c25;
  margin: 0 auto 1rem auto;
  padding: 2rem 1rem;

  @media (max-width: 1024px) {
    padding: 1rem;
  }

  .stretchChildrenWidth {
    display: flex;
    align-items: center;
    width: 100% !important;

    .flexRowContent {
      .stretchChildrenWidth {
        width: 20% !important;
        display: flex;
        align-content: center;

        @media (max-width: 1024px) {
          width: 100% !important;
        }

        &:last-child {
          width: 80% !important;

          @media (max-width: 1024px) {
            width: 100% !important;
          }

          .flexRowContent {
            .stretchChildrenWidth {
              width: 100% !important;
            }
          }

          .flexColChild--answer-n {
            .stretchChildrenWidth {
              width: auto !important;

              :global(.vtex-rich-text-0-x-paragraph) {
                color: #194c25;
                font-family: Poppins;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 0;

                @media (max-width: 1024px) {
                  font-size: 1.2rem;
                  margin-top: 0;
                }
              }

              &:last-child {
                :global(.vtex-rich-text-0-x-paragraph) {
                  margin-left: 5px;
                  color: #000;
                }

                :global(.vtex-rich-text-0-x-wrapper--answer-text) {
                  :global(.vtex-rich-text-0-x-paragraph) {
                    text-align: justify;
                    font-size: 1rem;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 2rem;

                    @media (max-width: 1024px) {
                      font-size: 0.85rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

:global(.vtex-rich-text-0-x-container--answer-text-2) {
  text-align: justify;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Poppins;
  font-size: 1rem;

  @media (max-width: 1024px) {
    font-size: 0.85rem;
  }
}

.flexRowContent--answer-image-text {
  margin-top: 2rem;

  @media (max-width: 1024px) {
    padding: 0 1rem;
  }

  .stretchChildrenWidth {
    &:first-child {
      align-items: flex-start;
    }
  }
}

.flexRow--answer-info {
  border: solid 2px #194c25;
  margin: 0 auto 1rem auto;
  padding: 2rem 1rem;

  .flexRowContent--answer-info {
    .stretchChildrenWidth {
      .flexRowContent {
        .stretchChildrenWidth {
          &:first-child {
            width: 90% !important;

            @media (max-width: 1024px) {
              width: 100% !important;
              text-align: center;
            }

            .flexRowContent {
              .stretchChildrenWidth {
                width: 100% !important;
              }
            }
          }

          &:last-child {
            width: 10% !important;

            @media (max-width: 1024px) {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

.flexRowContent--btns-banner-container-rkfmoment {
  width: 50%;
  margin: auto;
}

// landing rkfmoment
:global(.vtex-stack-layout-0-x-stackItem--ppal-rkfmoment-desktop--btns-banner-container-rkfmoment) {
  position: absolute;
  top: 80%;
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-rkfmoment) {
  padding: 0rem 0rem 3rem;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-rkfmoment-reverse) {
    display: flex;
    flex-direction: column-reverse;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--btns-banner-container-mobile) {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  :global(.vtex-stack-layout-0-x-stackItem--ppal-rkfmoment-mobile) {
    width: 100%;
  }
}

:global(.vtex-store-components-3-x-infoCardTextContainer--info-card-caluga) {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rktmoment-vitrina-sale) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }
}

.flexRow--bannerktmoment {
  margin: 0.2rem 0rem;

  :global(.vtex-store-components-3-x-container) {
    max-width: none !important;
  }
}

.flexRowContent--rktmoment-descuentos {
  justify-content: space-between;
}

//incrementa z-index newsletter hubspot footer
:global(.vtex-store-footer-2-x-footerLayout) {
  .flexRowContent--menu-row {
    .stretchChildrenWidth {
      &:last-child {
        .flexCol {
          .flexColChild {
            &:last-child {
              z-index: 2;
            }
          }
        }
      }
    }
  }
}

// Modal rkf moment

.flexRowContent--firt-bloque,
.flexRowContent--fifth-bloque {
  margin-top: 2rem;
  padding: 1rem 0rem 0rem 0rem;
}

.flexRow--container-lista-tallas {
  width: 50%;
  margin: 0 auto;
  background-color: #ddddd1;
  max-width: 490px;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.flexRowContent--btns-banner-container-step-one-mobile {
  .stretchChildrenWidth {
    width: 50% !important;
  }
}

.flexRowContent--col-lista-tallas-ropa-mobile {
  padding: 1rem;
}

.flexRow--col-lista-tallas-ropa-mobile {
  background-color: #ddddd1;
}

//modal tallas calzado
.flexCol--col-calzado-hombre,
.flexCol--col-calzado-mujer {
  @media (min-width: 670px) {
    width: 90% !important;
    margin: auto;
  }
}

.flexCol--col-calzado-mujer {
  .flexColChild--col-calzado-mujer {
    &:first-child {
      height: auto !important;
    }
  }
}

.flexRow--container-lista-tallas-calzado {
  margin-top: 1em;
  width: 100%;
  background-color: #ddddd1;
  max-width: 490px;
  padding-bottom: 5em;
}

.flexRowContent--align-mob-items {
  justify-content: space-around;
  max-width: 250px;
  margin: auto;
}

// landing capaña otoño

:global(.vtex-flex-layout-0-x-flexRowContent--info-banner-mobile-1),
:global(.vtex-flex-layout-0-x-flexRowContent--info-banner-mobile-2) {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.flexRowContent--contenedor-video {
  justify-content: space-evenly;

  .stretchChildrenWidth {
    @media (min-width: 1024px) {
      width: 45% !important;
      margin-top: 1%;
    }

    @media (max-width: 840px) {
      margin-top: 5%;
    }
  }
}

.flexRowContent--textcol-autumn-campaign {
  text-align: center;
}

.flexRow--textcol-autumn-campaign {
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.flexRowContent--huincha-autumn-campaign {
  margin-bottom: 10px;
}

.flexRowContent--container-descripcion {
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .flexCol--videos-descripcion {
      align-items: center;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--info-banner-mobile-1),
:global(.vtex-flex-layout-0-x-flexRow--info-banner-mobile-2) {
  :global(.vtex-store-components-3-x-container) {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.flexRowContent--info-banner-mobile-1 {
  .stretchChildrenWidth:first-child {
    width: 170% !important;
  }
}

.flexRowContent--info-banner-mobile-2 {
  .stretchChildrenWidth:last-child {
    width: 170% !important;
  }
}

//template step on csm no borrar

:global(.vtex-store-components-3-x-imageElement--banner) {
  object-fit: cover;
  width: 100%;
}

.flexRow--row-main-categories-b {
  margin-top: 40px;

  :global(.vtex-rich-text-0-x-wrapper--main-category-b-title) {
    :global(.vtex-rich-text-0-x-link--main-category-b-title) {
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
  }
}

:global(.vtex-stack-layout-0-x-stackItem--banner-principal-step-on--banner) {
  margin-bottom: 50px;
}

:global(.vtex-stack-layout-0-x-stackItem--btns-banner-container) {
  top: 90%;
  width: 650px;
  left: 50%;
  transform: translate(-50%, -50%);

  .flexRowContent--btns-banner-container {
    justify-content: center;
    width: 100%;

    .stretchChildrenWidth {
      width: inherit !important;
    }
  }

  :global(.vtex-rich-text-0-x-wrapper--button) {
    font-weight: 600;
    transition: all 0.5s ease;

    :global(.vtex-rich-text-0-x-paragraph--button) {
      margin: 0px;
    }
  }

  :global(.vtex-rich-text-0-x-paragraph--button) {
    line-height: 2;
  }

  :global(.vtex-rich-text-0-x-link--button) {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    background-color: #00471b;
    padding: 12px 54px;

    &:hover {
      color: #fff;
      background-color: #1d1d1d;
      border-color: #1d1d1d;
    }
  }
}

.flexRow--btns-banner-container-mobile {
  margin: 5% 0;

  .flexRowContent--btns-banner-container-mobile {
    display: flex;
    justify-content: center;

    .stretchChildrenWidth {
      width: auto !important;

      &:first-child {
        margin-right: 5%;
      }
    }

    :global(.vtex-rich-text-0-x-paragraph--button) {
      line-height: 1;
    }

    :global(.vtex-rich-text-0-x-link--button) {
      color: #fff;
      padding: 12px 34px;
      text-decoration: none;
      background-color: #00471b;
    }

    :global(.vtex-rich-text-0-x-link--button-mujer) {
      padding: 12px 40px;
    }
  }
}

:global(.vtex-rich-text-0-x-wrapper--titulo-gana) {
  color: black;

  :global(.vtex-rich-text-0-x-heading-level-2) {
    color: black;
  }
}

:global(.vtex-rich-text-0-x-container--paragraph-info) {
  :global(.vtex-rich-text-0-x-wrapper--paragraph-info) {
    :global(.vtex-rich-text-0-x-headingLevel6--paragraph-info) {
      color: #000000;
      font-weight: 500;
      margin: 0 0 5%;
      font-size: 1.5rem;
      letter-spacing: normal;

      @media (max-width: 640px) {
        font-size: 1.2rem;
      }
    }

    :global(.vtex-rich-text-0-x-paragraph--legal-concurso-stepon) {
      font-size: 0.82rem;
      line-height: 1;
      margin-top: 0px;

      @media (max-width: 640px) {
        font-size: 0.82rem;
        line-height: 1;
        margin-top: 0px;
      }
    }
  }
}

:global(.vtex-rich-text-0-x-container--rich-text-boton-coleccion) {
  :global(.vtex-rich-text-0-x-paragraph--rich-text-boton-coleccion) {
    :global(.vtex-rich-text-0-x-link--rich-text-boton-coleccion) {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 10px;
    }
  }
}

:global(.vtex-rich-text-0-x-container--rich-text-after-video) {
  max-width: 1000px;
  margin: 0 auto;

  :global(.vtex-rich-text-0-x-wrapper--rich-text-after-video) {
    margin-top: 2rem;

    :global(.vtex-rich-text-0-x-heading--rich-text-after-video) {
      color: black;
      letter-spacing: normal;
      font-size: 2rem;

      @media (max-width: 640px) {
        font-size: 1.2rem;
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelf-flow) {
  @media (min-width: 640px) {
    display: block;
    justify-content: center;
    align-items: center;

    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      width: 100% !important;
    }
  }

  :global(.vtex-product-price-1-x-installments) {
    display: none;
  }

  :global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf-flow) {
    @media (max-width: 1024px) {
      margin-bottom: 0;
      bottom: -6px;
    }
  }
}

:global(.vtex-rich-text-0-x-container--masvendidos-vitrina-title) {
  :global(.vtex-rich-text-0-x-paragraph--masvendidos-vitrina-title) {
    font-size: 2.25rem;
    color: #727273;
    letter-spacing: 0.1em;
  }
}

//banner 2 mobile
.flexRow--banner-2-mobile {
  margin-top: 20px;

  .flexRowContent--banner-2-mobile {
    .stretchChildrenWidth {
      :global(.vtex-store-components-3-x-imageElement) {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

:global(.vtex-store-components-3-x-imageElement--banner-2) {
  margin: 3rem 5% 0;
  width: 90% !important;
}

:global(.vtex-stack-layout-0-x-stackItem--videoEl) {
  opacity: 0;
  height: 100%;
  width: 100%;

  @media (min-width: 1425px) {
    width: 70%;
    margin: 0px auto;
  }
}

:global(.vtex-store-video-1-x-videoContainer--videoEl) {
  height: auto !important;
  border: none;

  @media (max-width: 1425px) {}
}

:global(.vtex-store-components-3-x-imageElement--main-category-b-image-1),
:global(.vtex-store-components-3-x-imageElement--main-category-b-image-2),
:global(.vtex-store-components-3-x-imageElement--main-category-b-image-3) {
  width: unset !important;
}

//fin template step on cms no borrar

/* shelf /tiendas, /retiro-en-tienda */
.flexRow--tiendas-shelf,
.flexRow--retiro-tiendas-shelf,
.flexRow--beneficios-shelf {
  margin: 0px 15px 15px;

  @media screen and (max-width: 1025px) {
    margin: 0px 25px 30px;
  }
}

.flexRow--retiro-tiendas-shelf {
  :global(.vtex-modal-layout-0-x-triggerContainer--quickview-mobile) {
    width: 90%;
    margin-top: 5px;
  }
}

// mom by nature

.flexRow--banner-ppal-container {
  padding-bottom: 5%;

  @media (max-width: 1023px) {
    padding-bottom: 0;
  }
}

.flexRow--banner-ppal-container-Fathersday {
  padding-bottom: 3%;

  // @media (max-width: 1023px) {
  //   padding-bottom: 0;
  // }
  :global(.vtex-store-components-3-x-container) {
    max-width: 100%;
    padding: 0;
  }
}

//Pais Value pdp

.flexRowContent--name-value-pais {
  margin-bottom: 10px;
  width: 45%;

  &:first-child {
    padding: 0 !important;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    width: 100%;
  }
}

.flexRow--name-value-pais {
  .stretchChildrenWidth {
    width: 26% !important;
    padding: 0px;

    @media screen and (max-width: 1024px) {
      width: 32% !important;
    }
  }
}

.flexRow--buy-button-quickview,
.flexRow--wrapper-pdp-mobile,
.flexRowContent--buy-btns-container {
  .stretchChildrenWidth {
    &:first-child {
      :global(.vtex-button) {
        background-color: #ffffff;
        border: solid 1px #004714;
        color: #004714;
      }
    }

    &:last-child {
      :global(.vtex-button) {
        background-color: #004714;
        border: solid 1px #004714;
      }
    }
  }
}

.flexRowContent--search-banner-image {
  display: none;
}

:global(.vtex-disclosure-layout-1-x-trigger--gamiphy-faq) {
  width: 100%;
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin: 10px auto;
}

.flexRowContent--banner-template {
  margin-top: 1rem;
  justify-content: center;

  .stretchChildrenWidth {
    &:first-child {
      padding-right: 1rem;
    }
  }

  @media screen and (min-width: 1026px) {
    justify-content: space-between;

    .stretchChildrenWidth {
      &:first-child {
        padding-right: 6rem;
      }
    }
  }
}


.flexColChild--product-extra-info {
  width: 100% !important;
}

// Switcher Mobile
.flexCol--switcherMobileCol {
  width: 20%;
}

// buy button observer mobile
.flexRow--rowBuyButton {
  margin-bottom: .625rem;

  .flexRowContent {
    display: flex;
    margin-bottom: 0;

    .stretchChildrenWidth {
      &:first-child {
        margin-right: .25rem;

        :global(.vtex-button) {
          background-color: white;
          border: 1px solid #004714;
          color: #004714;
        }
      }

      &:last-child {
        margin-left: .25rem;

        :global(.vtex-button) {
          background: #004714;
          border-color: #004714;
          color: white;
        }
      }

      :global(.vtex-button) {
        padding: 0 !important;
      }
    }
  }
}

.flexRowContent--wrapper-pdp-mobile {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    display: flex;
    width: 100%;
    margin-left: 0 !important;
  }
}

.flexCol--w-auto {
  width: auto;
}

.flexRowContent--header-links {
  align-items: flex-end;
  justify-content: flex-end;
}

.flexRow--instagram-iframe {
  @media (max-width: 1024px) {
    height: 260px;
  }
}

// modal Zoom FDP
:global(.vtex-modal-layout-0-x-paper) {
  margin: 4rem;

  @media (min-width: 1024px) {
    min-width: 898px;
    max-width: 898px;
  }

  :global(.vtex-modal-layout-0-x-headerContainer) {
    border-color: transparent;
  }

  :global(.vtex-modal-layout-0-x-closeButton--close-zoom) {
    color: #4449;
  }

  :global(.vtex-store-components-3-x-carouselGaleryThumbs) {
    display: none;
  }

  :global(.vtex-store-components-3-x-carouselGaleryCursor) {
    margin: 0;
    padding-bottom: 5%;
    padding-left: 0;
    width: auto;
  }

  :global(.vtex-store-components-3-x-productImagesGallerySlide) {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
  }

  :global(.vtex-store-components-3-x-productImagesContainer--carousel) {
    padding: 0 4rem;
  }

  :global(.vtex-store-components-3-x-carouselContainer) {
    justify-content: center;
  }

  @media (max-width: 640px) {
    margin: 1rem;
  }
}

//*************************Desktop*******************

//Banner-jungle-sale

.flexRow--banner-jungle-sale {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  background-image: url("https://www.teahub.io/photos/full/39-396149_giraffe-wallpapers-hd.jpg");
  background-size: cover;
  background-position: 50% 20%;
  display: flex;
  align-items: center;

  .flexColChild--contenido-jungle-sale {
    display: flex;
    justify-content: center;
  }
}

//Banner-puntos-acumulados

.flexRow--banner-puntos-acumulados {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.asmedia.epimg.net/resizer/2q7Do9k7tJk8SQ24W8HK2Q6ZQQA=/1952x1098/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/GE2XV5DFTNDX3LXLO4RGKSBUYI.jpg");
  background-size: cover;
  background-position: 50% 20%;
  display: flex;
  align-items: center;

  :global(.vtex-store-components-3-x-container) {
    margin-left: 8rem;
  }

  .flexColChild--contenido-banner-puntos-acumulados {
    display: flex;
    justify-content: center;
  }
}

//Contenedor botones accesorios

.flexRow--contenedor-botones-accesorios {
  margin: 20px 0px;
}

//************************* Mobile *******************

//Mobile banner-jungle-sale
.flexRow--mobile-banner-jungle-sale {
  height: 400px;
  align-items: flex-start;
}
