// BUY BUTTON PDP MOBILE (STICKY)
:global(.vtex-flex-layout-0-x-flexRow--wrapper-pdp-mobile) {
    width: 100%;
    // height: 100%;
    :global(.vtex-flex-layout-0-x-flexRowContent--wrapper-pdp-mobile) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            :global(.vtex-flex-layout-0-x-flexRowContent) {
                margin: 0;
            }
        }
    }
}

.wrapper--buy-button-pdp-mobile {
    position: fixed!important;
    bottom: 0px!important;
    top:unset!important;
    left: 0;
    width: 100%;
    z-index: 199999999;
}
.container--buy-button-pdp-mobile {
    border-top: 1px solid black;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    background: white;
    display: flex;
    height: 75px!important;
    justify-content: center;
    align-items: center;
    top: unset!important;
    padding: 0!important;
    :global(.vtex-button) {
        // margin-left: 10px;
        max-width: 90%;
        padding: 0px!important;
        // @media all and (min-width: 400px) {
        //     max-width: none;
        // }
    }
}

.wrapper--buy-button-pdp-mobile--stuck {
    height: 0px !important;
}

.wrapper--stuck{
    .container{
        top:0px;
        background-color: #fff;
    }
}
.wrapper{
    &.wrapper--stuck{
        :global(.vtex-store-header-2-x-headerStickyRow--topnav){
            display: none;
        }
    }
}

// .wrapper {
//     @media all and (min-width: 1201px) {
//         &:not(.wrapper--stuck) {
//             :global(.vtex-store-components-3-x-logoContainer) {
//                 margin-top: -0.75rem;
//             }
//         }
//     }
// }