@keyframes slideOut {
    0% {
      background: rgb(255, 255, 255);
    }
    30% {
      background: rgb(255, 255, 255);
    }
    50% {
      background: rgba(255, 255, 255, 0);
    }
  }
    
  .loader-box {
    animation: slideOut 10s ease-in-out infinite;
    background: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    img {
      -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
              animation: pulsate-fwd 1s ease-in-out infinite both;
        @media all and (max-width: 991px) {
            max-width: 300px;
        }
        @media all and (max-width: 575px) {
            max-width: 200px;
        }
    }
  }

  @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
