.custom-search-title{
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    font-size: 1.875rem;
    font-family: "Open Sans",sans-serif;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    height: 50px;
    line-height: 46px;
    margin-top: 5px;
    margin-bottom: 20px;

    @media(max-width:640px){
        font-size: 1rem;
        height: 30px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}
